.sitemap
    h2.sitemap-h2 Карта сайта
    ul.sitemap-ul
        li.sitemap-li__title 
            a(href="salon.html") Новинки
        li.sitemap-li__title
            a(href="salon.html") Распродажа
        li.sitemap-li__title
            a(href="salon.html") Стилист
            ul.sitemap-ul__inner
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Электротовары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Барберу     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                        li.sitemap-li 
                            a(href="card.html") Ножницы, бритвы 
                li.sitemap-li__sub      
                    a(href="salon.html").sitemap-sub-item Салону красоты 
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub 
                    a(href="salon.html").sitemap-sub-item Аксессуары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item  Фартуки, пеньюары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item  Расчески, щетки, брашинги    
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item  Учебные головы    
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
        li.sitemap-li__title.js-spoiled
            a(href="salon.html") Салону красоты
            ul.sitemap-ul__inner
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Расходные материалы
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Солярий
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Дезинфекция
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Хозяйственные товары
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
        li.sitemap-li__title
            a(href="salon.html") Косметологу
            ul.sitemap-ul__inner 
                li.sitemap-li__sub
                    span.sitemap-sub-item Депиляция
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Шугаринг
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li
                            a(href="card.html")  Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Уход за лицом
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
        li.sitemap-li__title
            a(href="salon.html") Бровисту
            ul.sitemap-ul__inner
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Краска для бровей и ресниц
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    a(href="salon.html").sitemap-sub-item Хна для окрашивания бровей и ресниц
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Аксессуары
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
                li.sitemap-li__sub
                    a(href="salon.html").sitemap-sub-item Косметика декоративная
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
        li.sitemap-li__title
            a(href="salon.html") Нейл мастеру
        li.sitemap-li__title
            a(href="salon.html") Акции
        li.sitemap-li__title
            a(href="personal.html") Личный кабинет
        li.sitemap-li__title
            a(href="cart.html") Корзина
        li.sitemap-li__title
            a(href="order.html") Оформление заказа
        li.sitemap-li__title
            a(href="search.html") Поиск
        li.sitemap-li__title
            a(href="about.html") О компании