.sitemap
    h2.sitemap-h2 Карта сайта
    ul.sitemap-ul
        li.sitemap-li__title 
            a(href="salon.html") Новинки
        li.sitemap-li__title
            a(href="salon.html") Распродажа
        li.sitemap-li__title.js-spoiled
            span.js-opener Стилист
            ul.sitemap-ul__inner
                li.sitemap-li__sub.js-spoiled 
                    span.sitemap-sub-item.js-opener Электротовары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled  
                    span.sitemap-sub-item.js-opener Барберу     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                        li.sitemap-li 
                            a(href="card.html") Ножницы, бритвы 
                li.sitemap-li__sub.js-spoiled      
                    span.sitemap-sub-item.js-opener Салону красоты 
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled  
                    span.sitemap-sub-item.js-opener Аксессуары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener  Фартуки, пеньюары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener  Расчески, щетки, брашинги    
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener  Учебные головы    
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
        li.sitemap-li__title.js-spoiled
            span.js-opener Салону красоты
            ul.sitemap-ul__inner
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Расходные материалы
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Солярий
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Дезинфекция
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Хозяйственные товары
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
        li.sitemap-li__title.js-spoiled
            span.js-opener Косметологу
            ul.sitemap-ul__inner 
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Депиляция
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Шугаринг
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li 
                            a(href="card.html") Машинки для стрижки волос
                        li.sitemap-li 
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li
                            a(href="card.html")  Фены
                        li.sitemap-li 
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li 
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li 
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Уход за лицом
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
        li.sitemap-li__title.js-spoiled
            span.js-opener Бровисту
            ul.sitemap-ul__inner
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Краска для бровей и ресниц
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Хна для окрашивания бровей и ресниц
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiledb
                    span.sitemap-sub-item.js-opener Аксессуары
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
                li.sitemap-li__sub.js-spoiled
                    span.sitemap-sub-item.js-opener Косметика декоративная
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li
                            a(href="card.html")  Машинки для стрижки волос
                        li.sitemap-li
                            a(href="card.html") Аксессуары для машинок
                        li.sitemap-li 
                            a(href="card.html") Фены
                        li.sitemap-li
                            a(href="card.html") Щипцы для выпрямления, гофре
                        li.sitemap-li
                            a(href="card.html") Плойки для завивки
                        li.sitemap-li
                            a(href="card.html") Весы
        li.sitemap-li__title
            a(href="salon.html") Нейл мастеру
        li.sitemap-li__title
            a(href="salon.html") Акции
        li.sitemap-li__title
            a(href="personal.html") Личный кабинет
        li.sitemap-li__title
            a(href="cart.html") Корзина
        li.sitemap-li__title
            a(href="order.html") Оформление заказа
        li.sitemap-li__title
            a(href="search.html") Поиск
        li.sitemap-li__title
            a(href="about.html") О компании