.sitemap
    ul.sitemap-ul
        li.sitemap-li__title Новинки
        li.sitemap-li__title Распродажа
        li.sitemap-li__title Стилист
            ul.sitemap-ul
                li.sitemap-li__sub  Электротовары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub  Барберу     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub  Ножницы, бритвы     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub  Аксессуары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub  Фартуки, пеньюары     
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub  Расчески, щетки, брашинги    
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub  Учебные головы    
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
        li.sitemap-li__title Салону красоты
            ul.sitemap-ul
                li.sitemap-li__sub Расходные материалы
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub Солярий
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub Дезинфекция
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub Хозяйственные товары
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
        li.sitemap-li__title Косметологу
            ul.sitemap-ul 
                li.sitemap-li__sub Депиляция
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub Шугаринг
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub Уход за лицом
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
        li.sitemap-li__title Бровисту
            ul.sitemap-ul
                li.sitemap-li__sub Краска для бровей и ресниц
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub Хна для окрашивания бровей и ресниц
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub Аксессуары
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
                li.sitemap-li__sub Косметика декоративная
                    ul.sitemap-ul__spoiler 
                        li.sitemap-li Машинки для стрижки волос
                        li.sitemap-li Аксессуары для машинок
                        li.sitemap-li Фены
                        li.sitemap-li Щипцы для выпрямления, гофре
                        li.sitemap-li Плойки для завивки
                        li.sitemap-li Весы
        li.sitemap-li__title Нейл мастеру
        li.sitemap-li__title Акции
        li.sitemap-li__title Личный кабинет
        li.sitemap-li__title Корзина
        li.sitemap-li__title Оформление заказа
        li.sitemap-li__title Поиск
        li.sitemap-li__title О компании