.headerburger{
  position: relative;
  width: 26px;
  margin-right: 20px;
  cursor: pointer;
  height: 26px;
  @media(min-width: $tablet){
    margin-right: 62px;
  }
  @media(min-width: $desctop){
    display: none;
  }
  span{
    display: block;
    width: 26px;
    height: 2px;
    background: $border;
    position: absolute;
    top: 3px;
    transition: background .3s;
    @media(min-width: $tablet){
      top: 0px;
    }
    &:before,&:after{
      content: "";
      display: block;
      width: 26px;
      height: 2px;
      background: $border;
      position: absolute;
      transition: transform .3s;
    }
    &:before{
      top: 14px;
      @media(min-width: $tablet){
        top: 16px;
      }
    }
    &:after{
      top: 7px;
      @media(min-width: $tablet){
        top: 8px;
      }
    }
  }
  &.open{
    span{
      background: none;
      &:after{
        transform: rotate(130deg);
      }
      &:before{
        transform: rotate(-130deg);
      }
      &:after, &:before{
        width: 30px;
        top: 8px;
      }
    }
  }
}
