.headerlogo{
  &-svg{
    &__small{
      @media(min-width: 400px){
        display: none;
      }
    }
    &__big{
        display: none;
        @media(min-width:400px){
          display: block;
          margin-top: 2px;
        }
        @media(min-width:$desctop){
          width: 174px;
          height: 61px;
          margin-top: 0;
        }
     }
  }
}
