.notfound
    svg.notfound-rose(role="img")(width="150")(height="140"): use(xlink:href="#rose_404")
    h1.notfound-title Страница, которую вы ищете – не найдена
    .notfound-404
        svg(role="img")(width="181")(height="70"): use(xlink:href="#404")
    .notfound-link Перейдите на 
        a(href="/") главную 
    .notfound-link или воспользуйтесь 
        a(href="search") поиском.