.notfound{
    margin: 40px 0;
    margin-top: 16px;
    text-align: center;
    @media(min-width: $tablet){
        margin-bottom: 90px;
        margin-top: 22px;
    }
    @media(min-width: $desktop){
        background-image: url(/images/svg/leto_large.svg);
        margin-bottom: 110px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        background-color: #fff;
    }    
    &-rose{
        position: relative;
        margin: 0 auto;
        margin-bottom: -24px;
        width: 290px;
        height: 195px;
    }
    &-title{
        font: 20px/30px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
        text-transform: none;
        letter-spacing: normal; 
    }
    &-404{
        margin: 34px auto;
        position: relative;
        padding: 17px 0 10px 0;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(/images/svg/leto.svg);
        background-size: contain;
        @media(min-width:$tablet){
            background-image: url(/images/svg/leto_big.svg);
            margin-top: 2px;
            margin-bottom: 14px;
            padding-top: 38px;
            svg{
                width: 424px;
                height: 162px;
            }
        }
        @media(min-width:$desktop){
            background: none;
            margin-top: 38px;
        }
    }
    &-link{
        display: inline-block;
        a{
            font: 15px MuseoSansNormal, Arial, Helvetica, sans-serif;
            color: #333;
            border-bottom: none;
            text-decoration: underline;
            transition: color .3s;
            &:hover{
                color: #697F34;
            }
        }
    }
}