 .cartgoods{
     &-item{
        margin-bottom: 20px;
        background: $buttontext;
        padding: 20px 10px;
         @media(min-width: $tablet){
            padding: 20px 34px 40px 34px;
        }
        @media(min-width:$desktop){
            margin: 20px 0;
            padding: 0;
        }            
     }
    &-row{
        @media(min-width: $desktop){
            display: flex;
            margin: 0 -10px;
        }
    }
    &-col{
        @media(min-width: $tablet){
            display: flex;
            margin: 0 -10px;
        }
        @media(min-width: $desktop){
            display: block;
            margin: 32px 10px;
            width: calc(50% - 20px);
        }
        &__2{
            @media(min-width: $tablet){
                display: flex;
                margin: 32px 10px;                
            }
            @media(min-width: $desktop){
                width: calc(50% - 20px);
            }
        }
    }
     &-pic{
         position: relative;
         margin: 0 auto;
         text-align: center;
         padding: 5px 0;
         a{
             border:none;
         }
        @media(min-width: $tablet){
             margin: 0 10px;
             width: calc(38% - 20px);
        }
        @media(min-width: $desktop){
             margin: 0 30px;
             width: auto;
             float: left;
        }
    }
    &-title{
        @media(min-width: $tablet){
             margin: 0 10px;
             width: calc(38% - 20px);
        }
        @media(min-width: $desktop){
             margin: 0;
             width: auto;             
        }        
    }
    &-name{
        font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
        color: $greyText;
        text-align: center;
        @media(min-width:$tablet){
            text-align: left;
            margin:0;
            margin-bottom: 10px;
        }
        a{
            border-bottom: none;
        }
    }
    &-brand{
        font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
        text-align:center;
        @media(min-width:$tablet){
            text-align: left;
        }
    }
     &-article{
        display: none;
        @media(min-width: $tablet){
            display: block;
            color: $greyText;
            font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
            margin: 20px 0;
        }
    }
    &-priceblock{
        margin: 20px 0;
        &-title{
            font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
            @media(min-width:$desktop){
                display: none;
            }
        }
        @media(min-width:$tablet){
            margin: 0 10px;
            width: calc(38% - 20px);
        }
        @media(min-width:$desktop){
            margin: 0;
            margin-right: 10px;
            margin-top: 50px;
            width: calc(100% /3 - 10px);
        }
    }
    &-oldprice{
        display: inline-block;
        font: 15px/36px MuseoSansNormal, Arial, Helvetica, sans-serif;
        margin-right: 30px;
        span{
            text-decoration:line-through;
        }
        @media(min-width:$tablet){
            display: block;
        }  
    }
    &-newprice{
        display: inline-block;
        font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
        color: $price;
        @media(min-width:$tablet){
            display: block;
        }
    }
    &-quantity{
        margin-top: 30px;
        font-size:0;
        display: inline-block;  
        vertical-align: top;      
        &-title{
            margin-bottom: 20px;
            font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
            @media(min-width:$desktop){
                display: none;
            }
        }
        @media(min-width:$tablet){
            margin: 0 10px;
            width: calc(38% - 20px);
        }
         @media(min-width:$desktop){
            margin: 0 10px;
            width: calc(100% /3 - 20px);
            margin-top: 50px;
        }
    }
  &-button-minus, &-button-plus {
    display: inline-block;
    border: 1px solid $bordergray;
    background: transparent;
    width: 47px;
    height: 50px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    color: $greyText;
    cursor: pointer;
    vertical-align: middle;
    transition: color .3s, border .3s;
    &:hover{
         color: #697F34;
         border-color: #697F34;       
    }
    &:active{
        color: #fff;
        background: #697F34;
    }
    @media(min-width:$tablet){
        width: 60px;
        height: 60px;
    }
  }
  &-button-minus{
    border-bottom-left-radius: 30px;
  }
  &-button-plus{
    border-top-right-radius: 30px;
  }
  &-button-input{
    width: 47px;
    height: 50px;
    box-sizing: border-box;
    border-top: 1px solid $bordergray;
    border-bottom: 1px solid $bordergray;
    border-left:0;
    border-right:0;
    outline: none;
    font: 16px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    @media(min-width:$tablet){
        width: 60px;
        height: 60px;
    }
  }
  &-currentprice{
      display: inline-block;
      vertical-align: top;
      margin-top:30px;
      margin-left:20px;
    @media(min-width:$tablet){
          margin: 0 10px;
    }
    @media(min-width:$desktop){
        margin: 60px 20px 0 10px;
        width: calc(100% / 3 - 30px)
        
    }
    &-title{
        margin-bottom:30px;
        font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
        @media(min-width:$desktop){
            display: none;
        }
    }
    &-price{
        font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
        @media(min-width:$desktop){
          text-align: right;
        }
    }  
  }
  &-edit{
    &-links{
      display: none;
      @media(min-width:$tablet){
          display: block;
          margin: 0 10px;
      }
    }
    &-delete,&-favorite{
        color: $greyText;
        display:inline-block;
        font: 12px/12px MuseoSansNormal, Arial, Helvetica, sans-serif;
    }
    &-favorite{
        margin-top: 15px;
        @media(min-width:$desktop){
            margin-left: 25px;
        }        
    }
    &-delete{
        @media(min-width:$desktop){
            position: relative;
            &:after{
                content: '';
                background: #E0DFDA;
                width: 1px;
                height: 20px;
                position: absolute;
                right: -13px;
            }
        }
    }
  }
}