.cartgoods
  .cartgoods-row
    .cartgoods-col
      .cartgoods-pic
        img.cartgoods-img(src="/assets/14386_big.png" alt="Шампунь с кератином для сильно поврежденных волос")
      .cartgoods-name Шампунь с кератином для сильно поврежденных волос
      .cartgoods-brand Loreal Professional
    .cartgoods-col
      .cartgoods-priceblock
        .cartgoods-priceblock-title Цена
        .cartgoods-oldprice
          span 1 600
          | руб
        .cartgoods-newprice 1 200 руб
      .cartgoods-quantity
        .cartgoods-quantity-title Кол-во
        button.cartgoods-button-minus -
        input(type="text" value="1").cartgoods-button-input
        button.cartgoods-button-minus +
        .cartgoods-reset Обновить
      .cartgoods-currentprice-title Итого
        .cartgoods-currentprice
          #cartcurrentprice 2400 руб
