.maintopbrends{
  margin: 0 auto;
  position: relative;
  width: calc(100% - 20px);
  padding: 0 10px;
  box-sizing: border-box;
  max-width: 1280px;
  &:after{
    content: "";
    display: block;
    width: calc(100% - 20px);
    height: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -70px;
    @media(min-width: $tablet){
      bottom: -121px;
      width: calc(100% - 40px);
      left: 20px;
    }
  }
  a:hover, a:active, a:focus{
    border-bottom:0;
    outline: none;
  }
  @media(min-width: $tablet){
    width: calc(100% - 68px);
  }
  &-carousel{
    position: absolute;
    top: -20px;
    border: 1px solid $brandborder;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: $buttontext;
    padding: 13px 20px;
    box-sizing: border-box;
    margin: 0 -10px;
    text-align: center;   
    @media(min-width: $tablet){
      padding: 25px 20px;
    }
    @media(min-width: $desktop){
      padding: 24px 50px;
      .owl-nav{
        margin:0;
      }
      .owl-nav button.owl-prev, .owl-nav button.owl-next{
        opacity:0;
        width: 80px;
        height: 80px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border: 1px solid $bordergray;
        position:absolute;
        left:15px;
        top:30px;
        transition: opacity .3s;
        svg{
          color: $arrow;
          fill: $arrow;
        }
        &:hover{
          opacity:1;
          background: rgba(255, 255, 255, 0.5);
          svg{
            transition: color .3s, fill .3s;
            color: $selection;
            fill: $selection;
          }
        }
        &:active{
          background: $selection;
          border: 1px solid $selection;
          svg{
            color: $buttontext;
            fill: $buttontext;
          }
        }
      }
      .owl-nav button.owl-next{
        right:15px;
        top:30px;
        left: auto;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
      }
    }
  }
  &-item{
    margin: 0 10px;
    @media(min-width: $tablet){
      margin: 0 20px;
    }
  }
  &-carousel{
    &.owl-carousel .owl-item img{
      max-width: 86px;
      @media(min-width: $tablet){
        max-width: 120px;
      }
    }
  }
}
.no-js, .hide {
  .owl-carousel{
    &.maintopbrends-carousel{
      display: flex;
    }
  }
}