.maintopbrends
  .maintopbrends-carousel.owl-theme.owl-carousel
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/camil-130x100.png")
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/Denman-130x100.png")
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/depilflax-130x100.png")
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/dewal-130x100.png")
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/erica-130x100.png")
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/eurostyle-130x100.png")
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/medium77-130x100.png")
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/medium77-130x100.png")
    .maintopbrends-item
      a(href="#")
        img.maintopbrends-image(src="../assets/medium77-130x100.png")