.company-flex
    .company-col
        ul.company-ul
            li.company-li__check В зависимости от суммы заказа Вы получаете скидку в соответствии с Вашим статусом в рамках данной программы
            li.company-li__check Бонусные рубли (рубЛеты) начисляются исходя из общей суммы заказов за один квартал, согласно таблице начисления
            li.company-li__check 1 рубЛет = 1 рубль РФ
            li.company-li__check РубЛеты можно использовать в конце каждого квартала, а также копить в течение всего периода действия программы (текущий год)
            li.company-li__check Начисленные рубЛеты сгорают, если активность участника отсутствует более 3-х месяцев.
            li.company-li__check Актуальное состояние рубЛет и размер текущей скидки Вы можете узнать у персонального менеджера 
            li.company-li__check РубЛеты не подлежат обмену на наличные денежные средства.
            li.company-li__check РубЛетами Вы можете оплатить до 100% стоимости необходимого Вам товара
    img.company-img(src="assets/bouquet.png")
