$selection:#697F34;
$primary:#333333;
$link:#000000;
$secondary:#828282;
$border: #A5BB70;
$input: #4F4F4F;
$buttontext: #fff;
$verticalline: #F2F2F2;
$decorative: #631C00;
$brandborder: #E0E0E0;
$background: #F0EDE6;
$price: #AB0052;
$title: #030303;
$greenbutton: #A5C752;
$yellowbutton: #F2C94C;
$bordergray: #E0DFDA;
$dots: #C8C2B2;
$arrow: #CCC6B7;
$bannerdescription: #3D3A34;
$bannertext: #3F3F3F;
$sticker: #441A00;
$sortcolor: #F3F2F0;
$cartbg: #F4F4F0;
$borderorder: #E4E4E4;