*{
  margin: 0;
  padding: 0
}
*:focus{
  outline: 0;
}
*:hover{
  outline: 0;
}
window{
  scroll-behavior: smooth;
}
html{
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}
body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $greyText;
  font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  max-width: 2800px;
}
i,em{
  font-family: MuseoSansNormalItalic, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 500;
}
b,strong{
  font-family: MuseoSansBold, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
}
a{
  font: 15px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
  transition: color .3s;
  text-decoration: none;
  border-bottom: 1px solid;
  color: $secondary;
  &:hover, &:active{
    color: $selection;
  }
}
h1{
  font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  @media(min-width:$tablet){
    font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
  @media(min-width:$desktop){
    font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
}
h2{
  font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
}
h3{
  font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
}
h4{
  font: 20px/30px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
  font-style: italic;
}
h5{
  font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
}
h6{
  font: 15px/28px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
}
.secondary-text{
  font: 36px/22px MuseoSansNormal, Arial, Helvetica, sans-serif;
}
.link{
  font: 24px/15px MuseoSansNormal, Arial, Helvetica, sans-serif;
  transition: color .3s;
  text-decoration: none;
  &:hover, &:active{
    color: $selection;
  }
}
.main{
  @media(min-width: $desktop){
    position: relative;
    &:after{
      content: '';
      display: block;
      position:absolute;
      left: 0;
      background-image: url('../images/svg/branch.svg');
      width: 180px;
      height: 247px;
      top: 30%;
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      background-image: url(../images/svg/rose.svg);
      width: 180px;
      height: 247px;
      right: 0;
      top: 45%;
    }
  }
}
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  @media(min-width:$tablet){
    padding: 0 34px;
  }
  @media(min-width:$desktop){
    padding: 0;
    max-width: 1180px;
  }
  &__header{
    display: flex;
    padding: 18px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $brandborder;
    @media(min-width:$tablet){
      padding: 10px 36px;
      padding-bottom: 25px;
    }
    @media(min-width:$desktop){
      padding: 24px 0;
      align-items: flex-start;
      border-bottom: none;
    }
  }
  &__popup{
    max-width: 1020px;
    box-sizing: border-box;
    padding: 70px;
    padding-bottom: 0;
    .card-slider__for .card-slider-item{
      padding: 0;
      //width: 265px!important;
      img{
        max-width:100%;
        //margin: 0;
      }
    }
  }
}
.main-wrap{
  flex-grow: 1;
  flex-shrink: 0;
  &.hide{
    display: none;
    @media(min-width:600px){
      display: block;
    }
  }
}
.body-dark.active{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: background .3s;
  width: 100%;
  z-index: 998;
  @media(min-width: $desktop){
    display: none;
  }
}
.row{
  @media(min-width: $desktop){
    display: flex;
    margin: 0 -10px;
    margin-top:45px;
  }
}
.left-column{
  @media(min-width: $desktop){
    margin: 0 10px;
    width: calc(25% - 20px)
  }
}
.right-column{
  @media(min-width: $desktop){
    margin: 0 10px;
    width: calc(75% - 20px)
  }
}
.catalog{
  position: relative;
  @media(min-width: $desktop){
    background-image: url("../images/svg/rowan.svg");
    background-repeat: no-repeat;
    background-position: left 80%;
    min-height: 100vh;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      background-image: url("../images/svg/branch.svg");
      width: 180px;
      height: 247px;
      top: 5%;
      z-index: -1;
    }
    &:after{
      content: '';
      background-image: url("../images/svg/rose.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      width: 180px;
      height: 247px;
      top: 28%;
      z-index: -1;
    }
  }
}
.order{
  position: relative;
  @media(min-width: $desktop){
    min-height: 100vh;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      background-image: url("../images/svg/branch.svg");
      width: 180px;
      height: 247px;
      top: 5%;
      z-index: -1;
    }
    &:after{
      content: '';
      background-image: url("../images/svg/rose.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      width: 180px;
      height: 247px;
      top: 28%;
      z-index: -1;
    }
  }
}
.delivery{
  position: relative;  
  @media(min-width: $desktop){
    min-height: 100vh;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      background-image: url("../images/svg/branch.svg");
      width: 180px;
      height: 247px;
      top: 409px;
      z-index: -1;
    }
    &:after{
      content: '';
      background-image: url("../images/svg/rose.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      width: 180px;
      height: 247px;
      top: 61%;
      z-index: -1;
    }
  }
}  
.proleto{
  position: relative; 
  @media(min-width: $desktop){
    background-image: url("../images/svg/rowan.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    min-height: 100vh;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      background-image: url("../images/svg/branch.svg");
      width: 10%;
      height: 247px;
      top: 8%;
      z-index: -1;
    }
    &:after{
      content: '';
      background-image: url("../images/svg/rose.svg");
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      width: 180px;
      height: 247px;
      top: 61%;
      z-index: -1;
    }
  }
}
.container__card{
  @media(min-width: $tablet){
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
.tabletrow{
  @media(min-width: $tablet){
    display: flex;
    margin: 0 -10px;
  }
}
.card-col{
  position:relative;
  @media(min-width: $tablet){
    width: calc(50% - 20px);
    margin: 0 10px;    
  }
  &__30{
    position:relative;
    width: calc(30% - 20px);
    margin: 0 10px;
  }
  &__70{
    width: calc(70% - 20px);
    margin: 0 10px;
  }
  &__100{
    width: calc(100% - 20px);
    margin: 0 10px;
    border-top: 1px solid #E0DFDA;
    text-align: center;
    margin-top: 70px;
    padding: 20px 0;
  }
}
.cartgoods-wrap{
  background: $cartbg;
  padding: 20px 0;
  margin: 16px 0 40px 0;
  @media(min-width:$tablet){
    margin-bottom: 60px;
  }
  @media(min-width: $desktop){
    margin: 50px auto 148px auto;
    width: 100%;
    max-width: 1280px;
    padding: 40px 30px;
    padding-top: 26px;
    box-sizing: border-box;
    position:relative;
    z-index:300;
  }
}
.cartgoods-bottom{
  @media(min-width: $tablet){
    display:flex;
    padding: 30px 24px;
    justify-content: space-between;
  }
}
.order-flex{
  @media(min-width:$tablet){
    display: flex;
    margin: 0 -10px;
    flex-direction: row-reverse;
  }
}
.order-col{
  &__right{
     @media(min-width:$tablet){
       margin: 0 10px;
       width: calc(100% / 8 * 3 - 20px)
     }
    @media(min-width:$desktop){
      width: calc(34% - 20px);
    }
  }
   &__left{
     @media(min-width:$tablet){
       margin: 0 10px;
       width: calc(100% / 8 * 5 - 20px)
    }
    @media(min-width:$desktop){
      width: calc(66% - 20px);
    }
  }

}
.mfp-content{
   background: $buttontext;
  .mfp-counter{
    right: 10px;
  }
}
 .mfp-image-holder .mfp-content .mfp-close, .mfp-iframe-holder .mfp-content .mfp-close{
    right: 0;
  }
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content{
  width: auto!important;
}
.fastshow{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  &-link{
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
    border-bottom: 0; 
    position: relative;
    display: inline-block;
    margin-left: -125px;
  }
  &-circl{
      width: 4px;
      height: 4px;
      display: block;
      border-radius: 100%;
      background: #000;
      position: absolute;
      right: -14px;
      bottom: 8px;
      &:after, &:before{
        content: '';
        position: absolute;
        right: -8px;
        width: 4px;
        height: 4px;
        display: block;
        border-radius: 100%;
        background: #000;
      }
      &:before{
        position: absolute;
        right: -16px;
      }
   }
}
.mfp-close-btn-in .mfp-content  .mfp-close{
   color: #828282;
   font-size: 40px;
}
.white-block{
  @media(min-width:$desktop){
    background: #fff;
    margin: 0 -20px;
    position: relative;
    padding: 20px;
  }
}
.mfp-image-holder .mfp-content{
  background: #fff;
  @media(min-width:$desktop){
    width: 700px;
  }
}
.mfp-figure figure{
  background: #fff;
}
.order-h1{
  margin-bottom:20px;
  @media(min-width:$tablet){
    margin-bottom: 40px;
  }
  @media(min-width:$desktop){
    margin-bottom:50px;
  }
}
