*{
  margin: 0;
  padding: 0
}
*:focus{
  outline: 0;
}
*:hover{
  outline: 0;
}
body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $primary;
  font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}
i,em{
  font-family: MuseoSansNormalItalic, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 500;
}
b,strong{
  font-family: MuseoSansBold, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
}
a{
  font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
  transition: color .3s;
  text-decoration: none;
  border-bottom: 1px solid;
  color: $secondary;
  &:hover, &:active{
    color: $selection;
  }
}
h1{
  font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  @media(min-width:$tablet){
    font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
  @media(min-width:$desctop){
    font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
}
h2{
  font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
}
h3{
  font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
}
h4{
  font: 20px/30px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
  font-style: italic;
}
h5{
  font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
}
h6{
  font: 15px/28px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
}
.secondary-text{
  font: 36px/22px MuseoSansNormal, Arial, Helvetica, sans-serif;
}
.link__menu{
  font: 12px/14px MuseoSansDark, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: color .3s;
  text-decoration: none;
  border:0;
  &:hover, &:active{
    color: $selection;
    border:0;
  }
  &:active{
    font-style: MuseoSansBold;
  }
}
.link{
  font: 24px/15px MuseoSansNormal, Arial, Helvetica, sans-serif;
  transition: color .3s;
  text-decoration: none;
  &:hover, &:active{
    color: $selection;
  }
}
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  @media(min-width:$tablet){
    padding: 0 30px;
  }
  @media(min-width:$desctop){
    padding: 0;
    max-width: 1180px;
  }
  &__header{
    display: flex;
    padding: 18px 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $brandborder;
    @media(min-width:$tablet){
      padding: 20px 36px;
      padding-bottom: 30px;
    }
    @media(min-width:$desctop){
      padding: 25px 0;
      align-items: flex-start;
      border-bottom: none;
    }
  }
}
.main-wrap{
  flex-grow: 1;
  flex-shrink: 0;
  &.hide{
    display: none;
    @media(min-width:600px){
      display: block;
    }
  }
}
.body-dark.active{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: background .3s;
  width: 100%;
  z-index: 998;
  @media(min-width: $desctop){
    display: none;
  }
}
