@font-face{
    font-family: MuseoSansLight;
    src: url("../fonts/museo_sans/MuseoSansCyrl-100.woff");
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: MuseoSansLightItalic;
    src: url("../fonts/museo_sans/MuseoSansCyrl-100Italic.woff");
    font-weight: 100;
    font-style: italic;
}
@font-face{
    font-family: MuseoSansMidle;
    src: url("../fonts/museo_sans/MuseoSansCyrl-300.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: MuseoSansMidleItalic;
    src: url("../fonts/museo_sans/MuseoSansCyrl-300Italic.woff");
    font-weight: 300;
    font-style: italic;
}
@font-face{
    font-family: MuseoSansNormal;
    src: url("../fonts/museo_sans/MuseoSansCyrl-500.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: MuseoSansNormalItalic;
    src: url("../fonts/museo_sans/MuseoSansCyrl-500Italic.woff");
    font-weight: 500;
    font-style: italic;
}
@font-face{
    font-family: MuseoSansDark;
    src: url("../fonts/museo_sans/MuseoSansCyrl-700.woff");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: MuseoSansDarkItalic;
    src: url("../fonts/museo_sans/MuseoSansCyrl-700Italic.woff");
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: MuseoSansBold;
    src: url("../fonts/museo_sans/MuseoSansCyrl-900.woff");
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: MuseoSansBoldItalic;
    src: url("../fonts/museo_sans/MuseoSansCyrl-900Italic.woff");
    font-weight: 900;
    font-style: italic;
}
@font-face{
    font-family: PlayfairDisplayBlack;
    src: url("../fonts/playfair_display/PlayfairDisplay-Black.woff");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: PlayfairDisplayBlackItalic;
    src: url("../fonts/playfair_display/PlayfairDisplay-BlackItalic.woff");
    font-weight: 700;
    font-style: italic;
}
@font-face{
    font-family: PlayfairDisplayBold;
    src: url("../fonts/playfair_display/PlayfairDisplay-Bold.woff");
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: PlayfairDisplayBoldItalic;
    src: url("../fonts/playfair_display/PlayfairDisplay-BoldItalic.woff");
    font-weight: 900;
    font-style: italic;
}
@font-face{
    font-family: PlayfairDisplayItalic;
    src: url("../fonts/playfair_display/PlayfairDisplay-Italic.woff");
    font-weight: 500;
    font-style: italic;
}
@font-face{
    font-family: PlayfairDisplayRegular;
    src: url("../fonts/playfair_display/PlayfairDisplay-Regular.woff");
    font-weight: 500;
    font-style: normal;
}
