.goodsofday{
  margin-top: 98px;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 40px;
  @media(min-width:$tablet){
    margin-top: 185px;
    padding-bottom: 50px;
  }
  @media(min-width:$desktop){
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &:after{
    content: '';
    position:absolute;
    display: block;
    left: 72%;
    right: 0;
    background-color: $background;
    top: 0;
    bottom: 0;
    @media(min-width:$tablet){
      left: 40%;
      top: 5px;
      background-image: url(../images/svg/white_flower.svg);
      background-position: -260px 68px;
      background-repeat: no-repeat;
    }
    @media(min-width:$desktop){
      left: 38%;
      background-position: -157px 29px;
    }
  }
  @media(min-width:$desktop){
    &:before{
      content: '';
      display: block;
      width: 122px;
      height:1px;
      position:absolute;
      background-color: $background;
      top: 84px;
      left: calc(38% - 120px);
    }
  }
  &-title{
    font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $link;
    background-image: url('../images/svg/flower_little.svg');
    background-repeat: no-repeat;
    display: block;
    padding: 10px 0;
    @media(min-width:$tablet){
      font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif;
      background-image: url('../images/svg/flower_middle.svg');
      padding: 38px 2px;
    }
    @media(min-width:$desktop){
      background-image: url('../images/svg/flower.svg');
      padding: 45px 0;
      background-position: 43px 16px;
    }
  }
  &-figure{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    z-index: 100;
    max-width: 500px;
    @media(min-width:$tablet){
      display: flex;
      margin-top: 0;
      max-width: 800px;
    }
    @media(min-width:$desktop){
      background-image: url("../images/svg/brown_flower.svg");
      padding-left: 199px;
      background-position: bottom left;
      background-repeat: no-repeat;
      padding-bottom: 97px;
      margin-top: 36px;
    }
  }
  &-sticker{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url('../images/svg/ellipse.svg');
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 18px;
    font: 13px/15px MuseoSansNormal, Arial, Helvetica, sans-serif;
    @media(min-width:$tablet){
      left: auto;
      right: -78px;
      top: 8px;
    }
    @media(min-width:$desktop){
      right: -125px;
    }
  }
  &-pick{
    position: relative;
    border: 1px solid $brandborder;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    display: flex;
    align-item:center;
    justify-content: center;
    margin: 0 auto;
    background: $buttontext;
    z-index: auto;
    &:after{
      content: "";
      display: block;
      width: calc(100% - 56px);
      height: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      z-index: -1;
      right: 8px;
    }
    @media(min-width:$tablet){
      margin: 0;
      width: 338px;
      height: 368px;
      flex-grow: 1;
      flex-shrink: 0;
    }
    @media(min-width:$desktop){
      width: 330px;
      height: 358px;
    }
  }
  &-image{
    width: 140px;
    height: 140px;
    @media(min-width:$tablet){
      width: 297px;
      height: auto;
    }
  }
  &-decor{
    display: none;
    @media(min-width:$desktop){
      display:block;
      position: absolute;
      left: 148px;
      bottom: 82px;
    }
  }
  &-figcaption{
    margin-top: 20px;
    @media(min-width:$tablet){
      margin-top: 78px;
      margin-left: 25px;
    }
    @media(min-width:$desktop){
      margin-left: 70px;
    }
  }
  &-name{
    font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $link;
    @media(min-width:$tablet){
      font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
    }
  }
  &-brand{
    color: $secondary;
    font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
    @media(min-width:$desktop){
      margin-top: 14px;
    }
  }
  &-priceblock{
    margin-top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media(min-width:$tablet){
      margin-top: 17px;
      display: block;
    }
    @media(min-width:$desktop){
      margin-top: 25px;
    }
  }
  &-oldprice{
    font: 15px/36px MuseoSansNormal, Arial, Helvetica, sans-serif;
    span{
      text-decoration: line-through;
    }
  }
  &-newprice{
    color: $price;
    font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
    @media(min-width:$tablet){
      font: 26px/30px MuseoSansDark, Arial, Helvetica, sans-serif;
    }
  }
  &-buy{
    @media(min-width:$tablet){
      margin-top: 24px;
    }
  }
  &-button{
    border: 1px solid $primary;
    outline: none;
    width: 160px;
    height: 40px;
    margin-bottom: 11px;
    box-sizing: border-box;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    font: 12px/28px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor:pointer;
    background: transparent;
    transition: border .3s, color .3s, background .3s;
    letter-spacing: 0.05em;
    &:hover, &:focus{
      outline: none;
      border: 1px solid $selection;
      color: $selection;
    }
    &:active{
      outline: none;
      border: 1px solid $selection;
      color: $buttontext;
      background: $selection;
    }
  }
}
