.goodsofday{
  margin-top: 98px;
  position: relative;
  padding-bottom: 25px;
  @media(min-width:$tablet){
    margin-top: 185px;
  }
  &:after{
    content: '';
    position:absolute;
    display: block;
    left: 72%;
    right: 0;
    background-color: $background;
    top: 0;
    bottom: 0;
    @media(min-width:$tablet){
      left: 35%;
      background-image: url('../images/svg/white_flower.svg');
      background-position: -221px 85px;
      background-repeat: no-repeat;
    }
    @media(min-width:$desctop){
      left: 40%;
      background-position: -143px 17px;
    }
  }
  @media(min-width:$desctop){
    &:before{
      content: '';
      display: block;
      width: 102px;
      height:1px;
      position:absolute;
      background-color: $background;
      top: 72px;
      left: calc(40% - 120px);
    }
  }
  &-title{
    font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $link;
    background-image: url('../images/svg/flower_little.svg');
    background-repeat: no-repeat;
    display: block;
    padding: 10px 0;
    @media(min-width:$tablet){
      font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif;
      background-image: url('../images/svg/flower_middle.svg');
      padding: 20px 0;
    }
    @media(min-width:$desctop){
      background-image: url('../images/svg/flower.svg');
      padding: 30px 0;
    }
  }
  &-figure{
    margin-top: 20px;
    position: relative;
    z-index: 100;
    @media(min-width:$tablet){
      display: flex;
    }
    @media(min-width:$desctop){
      background-image: url("../images/svg/brown_flower.svg");
      padding-left: 254px;
      background-position: bottom left;
      background-repeat: no-repeat;
      padding-bottom: 97px;
    }
  }
  &-sticker{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url('../images/svg/ellipse.svg');
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    @media(min-width:$tablet){
      left: auto;
      right: -80px;
    }
    @media(min-width:$desctop){
      right: -130px;
    }
  }
  &-pick{
    position: relative;
    border: 1px solid $brandborder;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    display: flex;
    align-item:center;
    justify-content: center;
    margin: 0 auto;
    background: $buttontext;
    z-index: auto;
    &:after{
      content: "";
      display: block;
      width: calc(100% - 56px);
      height: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      z-index: -1;
      right: 8px;
    }
    @media(min-width:$tablet){
      margin: 0;
      width: 338px;
      height: 368px;
    }
    @media(min-width:$desctop){
      width: 360px;
      height: 368px;
    }
  }
  &-image{
    width: 140px;
    height: 140px;
    @media(min-width:$tablet){
      width: 291px;
      height: auto;
    }
  }
  &-decor{
    display: none;
    @media(min-width:$desctop){
      display:block;
      position: absolute;
      left: 148px;
      bottom: 82px;
    }
  }
  &-figcaption{
    margin-top: 20px;
    @media(min-width:$tablet){
      margin-top: 80px;
      margin-left: 30px;
    }
    @media(min-width:$desctop){
      margin-left: 70px;
    }
  }
  &-name{
    font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $link;
    @media(min-width:$tablet){
      font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
    }
  }
  &-brand{
    color: $secondary;
    font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
  }
  &-priceblock{
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media(min-width:$tablet){
      display: block;
    }
  }
  &-oldprice{
    font: 15px/36px MuseoSansNormal, Arial, Helvetica, sans-serif;
    span{
      text-decoration: line-through;
    }
  }
  &-newprice{
    color: $price;
    font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
  }
  &-buy{
    @media(min-width:$tablet){
      margin-top: 20px;
    }
  }
  &-button{
    border: 1px solid $primary;
    outline: none;
    width: 156px;
    height: 40px;
    box-sizing: border-box;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    font: 12px/28px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor:pointer;
    background: transparent;
    &:focus, &:hover{
      outline: none;
    }
  }
}
