article.goodsofday
  .container
    h2.goodsofday-title товар дня
    figure.goodsofday-figure
      img.goodsofday-decor(src="assets/peach.png" alt="")
      .goodsofday-pick
        .goodsofday-sticker
          span Хит
        img.goodsofday-image(src="assets/goodsofday.png" alt="Товар дня")
      figcaption.goodsofday-figcaption
        .goodsofday-name Скраб мягкий для тела с маслом персика ARAVIA
        .goodsofday-brand Darigue
        .goodsofday-priceblock
          .goodsofday-prices
            .goodsofday-oldprice
              span 1 600
              | руб
            .goodsofday-newprice 1 200 руб
          .goodsofday-buy
            button.goodsofday-button купить
