.deskfilter
    .deskfilter-name
        span Фильтр
        .deskfilter-close
    .deskfilter-favorite
        .deskfilter-favorite-title Одноразовая продукция (3)
        .deskfilter-favorite-title Дезинфекция (1)
        .deskfilter-favorite-title Шугаринг (8)
        .deskfilter-favorite-title Краска для бровей и ресниц (7)
    .deskfilter-brands
        .deskfilter-header
            .deskfilter-title Бренды
            .deskfilter-counter Выбрано:
                span.counter 0
            a(href="#").deskfilter-reset Очистить
    .deskfilter-scroll-container
        ul.deskfilter-scroll-list
            li.deskfilter-scroll-item
                input(type="checkbox")#2211.deskfilter-scroll-checkbox
                label(for="2211").deskfilter-scroll-label 2211 Cosmetics
            li.deskfilter-scroll-item
                input(type="checkbox" checked)#Baxter.deskfilter-scroll-checkbox
                label(for="Baxter").deskfilter-scroll-label Baxter of California
            li.deskfilter-scroll-item
                input(type="checkbox" checked)#Beautyblender.deskfilter-scroll-checkbox
                label(for="Beautyblender").deskfilter-scroll-label Beautyblender
            li.deskfilter-scroll-item
                input(type="checkbox" checked)#Carmex.deskfilter-scroll-checkbox
                label(for="Carmex").deskfilter-scroll-label Carmex
            li.deskfilter-scroll-item
                input(type="checkbox")#Cosmetics.deskfilter-scroll-checkbox
                label(for="Cosmetics").deskfilter-scroll-label Cosmetics 27
            li.deskfilter-scroll-item
                input(type="checkbox")#Embryolisse.deskfilter-scroll-checkbox
                label(for="Embryolisse").deskfilter-scroll-label Embryolisse
            li.deskfilter-scroll-item
                input(type="checkbox")#Evian.deskfilter-scroll-checkbox
                label(for="Evian").deskfilter-scroll-label Evian
            li.deskfilter-scroll-item
                input(type="checkbox")#Grown.deskfilter-scroll-checkbox
                label(for="Grown").deskfilter-scroll-label Grown Alchemist
            li.deskfilter-scroll-item
                input(type="checkbox")#ILIA.deskfilter-scroll-checkbox
                label(for="ILIA").deskfilter-scroll-label ILIA