.order-checkbox
    .order-checkbox-item
        input.order-checkbox-input(type="checkbox", id="promo")
        label(for="promo").order-checkbox-label Промокод SUMMER18
    .order-checkbox-item
        input.order-checkbox-input(type="checkbox", id="promoMaster")
        label(for="promoMaster").order-checkbox-label Промокод мастер MINI2007
