.carttitles{
    &-wrap{
        display: none;
        @media(min-width:$desktop){
            display: flex;
            margin: 0 -10px;
        }
    }
    &-item{
        margin: 0 10px;
        width: calc(50% / 3 - 20px);
        font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif; 
        &__2{
            margin: 0 10px;
            width: calc(50% - 20px);
            font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif; 
        }
    }
}