.breadcrumbs
  a.breadcrumbs-link(href="/")
    svg.breadcrumbs-svg(role="img")(width="16")(height="15"): use(xlink:href="#arrow")
    span Главная
  .breadcrumbs-current
    |/ 
    span Салонам красоты
