.about-info{
    margin: 20px 0;
    p{
        margin: 10px 0;
    }
    strong{
        font: 15px/20px MuseoSansDark, Arial, Helvetica, sans-serif;
    }
}
.about-feedback{
    margin-top: 30px;
    margin-bottom: 60px;
    h2{
        letter-spacing: normal;
    }
}
.about-form{
    margin-top: 20px;
    background: $cartbg;
    padding: 10px;
    padding-bottom: 20px;
    @media(min-width:$tablet){
        padding: 20px;
        padding-bottom: 40px;
        max-width: 780px;
    }
    @media(min-width:$desktop){
        padding-right: 60px;
    }
}
.about-fieldset{
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    @media(min-width:$tablet){
        display: flex;    
        justify-content: space-between;
        max-width: 100%;
        align-items: flex-start;
    }
}
.about-input{
    width: 100%;
    max-width: 400px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto; 
    display: block;
    border: 1px solid $brandborder;
    padding:12px 20px;
    color: #333333;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    @media(min-width:$tablet){
       width: 500px;
       max-width: 500px;
       margin: 0;
    }
    @media(min-width:$desktop){
       width: 480px;
       max-width: 480px;
    }
}
.about-textarea{
    width: 100%;
    max-width: 400px;
    height: 160px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto; 
    display: block;
    border: 1px solid $brandborder;
    padding:20px;
    resize:none;
    color: #333333;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    @media(min-width:$tablet){
       width: 500px;
       max-width: 500px;
       margin: 0;
    }
    @media(min-width:$desktop){
       width: 480px;
       max-width: 480px;
    }
}
.about-label{
    font: 15px/20px MuseoSansDark, Arial, Helvetica, sans-serif;
    margin-bottom:10px;
    display: inline-block;
    @media(min-width:$tablet){
        margin-top: 20px;
    }
    @media(min-width:$desktop){
       width: calc(100% - 500px);
       max-width: calc(100% - 500px);;
    }
}
.about-wrap{
    @media(min-width:$tablet){
       width: 500px;
       max-width: 500px;
    }
     @media(min-width:$desktop){
       width: 480px;
       max-width: 480px;
       text-align: right;
    }
}
.about-button{
    position: relative;
    margin:0 auto;
    display: block;
    outline: none;
    background: $selection;
    color: $buttontext;
    border: none;
    box-sizing: border-box;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    font: 12px/28px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    max-width: 400px;
    height: 60px;
    letter-spacing: 0.05em;
    transition: background .3s;
    &:hover{
        background: #A5BB70;
    }
    &.disabld{
        &:hover{
             background: #E0E0E0;
        }
    }
    @media(min-width: $tablet){
           width: 280px;
           margin: 0;
    }
}
.about-map{
    position: relative;
    height:0;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    #aboutmap{
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        width: 100%;
        height: 100%!important;
    }
    @media(min-width: $tablet){
           padding-top: 66%;
    }
   @media(min-width: $desktop){
           padding-top: 32%;
    }
} 