.container
    .about-info
        p Россия,  г. Москва
        p 
            strong E-mail:
            | shop@leto-prof.ru
        p 
            strong
            | Телефон: +7 (499) 136-22-08
        p Служба клиентской поддержки работает 
            nobr с 09:00 до 18:00,
            | по будням.
.about-map
    #aboutmap(style="width:100%; height:314px")
.container
    .about-feedback
        h2 Как нам работать лучше напишите нам
        form.about-form
            .about-fieldset
                label.about-label Ваше имя
                input.about-input 
            .about-fieldset
                label.about-label Ваш e-mail
                input.about-input
            .about-fieldset
                label.about-label Ваше сообщение
                textarea.about-textarea
            .about-fieldset
                .about-wrap
                    button.about-button Отправить сообщение