.cardscroll{
    opacity: 0;
    display: none;
    transition: opacity .3s;
    background: #F4F4F0;
    &.active{
        @media(min-width:$tablet){
            opacity: 1;
            display: block;
            position:fixed;
            bottom:0;
            width: 100%;
            box-sizing: border-box;
            z-index: 780;
        }        
    }
    &-wrap{
        display: flex;
        justify-content: space-between;
        margin: 0 -10px;
        box-sizing: border-box;
        padding: 20px 0;
        align-content: center;
    }
    &-descript{
        margin: 0 10px;
        width:calc(37% - 20px);
        display: flex;
        align-items: center;
        @media(min-width:$desktop){
            width:calc(50% - 20px);
        }        
    }
    &-buy{
        margin: 0 10px;
        width:calc(63% - 20px);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media(min-width:$desktop){
            width:calc(50% - 20px);
        }
    }
    &-pick{
        width: 70px;
        height: 70px;
        overflow: hidden;
        box-sizing: border-box;
        flex-grow:1;
        flex-shrink:0;  
        text-align: center;      
        @media(min-width:$desktop){
            width: 80px;
            height: 80px;
        }
        &__empty{
            background: #ffffff;
        }
    }
    &-img{
        width: 70px;
        height: auto;      
        @media(min-width:$desktop){
            width: auto;
            height: 100%;
        }
    }
    &-title{
        color: #000000;
        margin: 0 20px;
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;  
        flex-grow:0;
        flex-shrink:1;
        @media(min-width:$desktop){            
            font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif; 
        }       
    }
    &-button{
        width: 250px;
        height: 60px;
        box-sizing: border-box;
        color: $buttontext;
        background: $selection;
        text-transform: uppercase;
        border: none;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        cursor: pointer;
        display: inline-block;
        transition: background .3s;
        letter-spacing: 0.05em;
        font: 12px/15px MuseoSansNormal, Arial, Helvetica, sans-serif;
        &:hover{
           background: #A5BB70;
        }
        @media(min-width:$desktop){
            width: 280px;
        }
    }
    &-price{
        color: #AB0052;
        font: 26px/28px MuseoSansDark, Arial, Helvetica, sans-serif;
        margin: 0 20px;
        }
    }