.cardscroll
    .container 
        .cardscroll-wrap 
            .cardscroll-descript
                .cardscroll-pick
                    img.cardscroll-img(src="assets/pure.png" alt="")
                .cardscroll-title
                    p Гипоаллергенный ультра усилитель с алоэ и кокосовым маслом
                    p Объём:  15 мл   
            .cardscroll-buy
                .cardscroll-price 153 руб
                button.cardscroll-button.js-add Добавить в корзину 
            