.add
    form.add-form.js-form
        .add-fieldset
            .add-title Мои адреса
        .add-fieldset
            legend.add-legend Регион
            input(type="text", name="регион").add-input.js-inputcheck
        .add-fieldset
            legend.add-legend Город
            input(type="text", name="город").add-input.js-inputcheck
        .add-fieldset
            legend.add-legend Почтовый индекс
            .add-input-wrap
                input(type="text", name="почтовый индекс").add-input.add-input__index.js-inputcheck
        .add-fieldset
            legend.add-legend Адрес
            .add-inputs-wrap
                input(type="text", placeholder="Улица", name="улица").add-input.js-inputcheck
                .add-inputs-small
                    input(type="text", placeholder="Дом", name="дом").add-input.add-input__small.js-inputcheck
                    input(type="text", placeholder="Квартира/офис", name="квартира/офис").add-input.add-input__small.js-inputcheck
        .add-fieldset
            input(type="checkbox", id="current").add-checkbox
            label.add-label(for="current") Ваш адрес доставки по умолчанию
            .error-text
        .add-fieldset.add-fieldset__right
            .add-button-wrap
                a(href="#").add-button.add-button__close отмена
                button.add-button.add-button__send.disabled сохранить адрес