.cartgoods-action{
    &__padding{
        padding: 20px 10px;
    }   
    @media(min-width:$tablet){
        &__padding{
            padding: 0;
            margin:0 10px;
            width: calc(50% - 20px)
        }
    }
    @media(min-width:$desktop){
        &__padding{
            margin: 0;
            width: 50%;
        }
    }
    &-title{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        color: $title;
        margin-bottom: 23px;
        @media(min-width:$desktop){
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
            &__padding{
            font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        }
    }
    }
    &-checkbox{
        visibility: hidden;
        position: absolute;
        &:checked{
            +label{
                &:after{
                    border-bottom: 2px solid $selection;
                    border-right: 2px solid $selection;
                    transition: border-color .3s;
                }
            }
        }
    }
    &-label{
        position: relative;
        font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif; 
        color: $primary;
        padding-left: 40px;
        cursor:pointer;
        display: block;
        &:before{
            content: '';
            position:absolute;
            display: block;
            left: 0;
            top: 0;
            border: 1px solid $bordergray;
            width: 20px;
            height: 20px;
            background: $buttontext;
        }
        &:after{
                content: '';
                position:absolute;
                display: block;
                width: 7px;
                height: 17px;
                border-bottom: 2px solid transparent;
                border-right: 2px solid transparent;
                left: 13px;
                top: -3px;
                transform: rotate(35deg);
        }
    }
    input::placeholder{
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
        opacity: 1;
    }
    &-input{
        width: 250px;
        height: 40px; 
        border-top-right-radius: 50px;
        background: $buttontext;
        border: 1px solid $bordergray;
        box-sizing: border-box;
        padding: 10px 17px;
        padding-right: 45px;
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
        &input::placeholder{
            color: #828282;
            opacity: 1;
            font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif; 
        }
    }
    &-promo{        
        position: relative;
        margin-top: 40px;
        display: inline-block;
        &:after{
            content: '';
            position:absolute;
            display: block;
            width: 7px;
            height: 13px;
            border-bottom: 2px solid $arrow;
            border-right: 2px solid $arrow;
            right: 35px;
            bottom: 15px;
            transform: rotate(35deg)
        }
    }
} 