.cartgoods-action
    .cartgoods-action-title Акции
    input(type="checkbox")(id="action").cartgoods-action-checkbox
    label.cartgoods-action-label(for="action") Упаковать в подарочную упаковку БЕСПЛАТНО
    span.cartgoods-action-promo
        input(type="text", placeholder="Я знаю промокод").cartgoods-action-input
    