.cardscroll
    .container 
        .cardscroll-wrap 
            .cardscroll-descript
                .cardscroll-pick__empty.cardscroll-pick
                    svg.cardscroll-img(role="img")(width="40")(height="40"): use(xlink:href="#noimage")
                .cardscroll-title
                    p Гипоаллергенный ультра усилитель с алоэ и кокосовым маслом
                    p Объём:  15 мл   
            .cardscroll-buy
                .cardscroll-price 153 руб
                button.cardscroll-button.js-add Добавить в корзину 