.address-information
    .address-top 
        .address-title Мои адреса
        a(href="addressadd.html").address-add
    .address-block
        .address-info
            strong Адрес:
            | 426000, Удмуртская республика, Ижевск,ул. Кирова, 30, офис 45
        .address-info.address-current Это ваш адрес доставки по умолчанию
        .address-change
            a.address-link(href="change.html") Изменить
            a.address-link(href="change.html") Удалить
    .address-block
        .address-info
            strong Адрес:
            | 426000, Удмуртская республика, Ижевск,ул. Кирова, 30, офис 45
        .address-info.address-current 
            input(type="checkbox").address-checkbox
            label.address-label Выбрать в качестве адреса доставки по умолчанию
        .address-change
            a.address-link(href="change.html") Изменить
            a.address-link(href="change.html") Удалить