.saleofday{
  position: relative;
  padding-bottom: 100px;
  margin-top: 13px;
  margin-bottom: -56px;
  @media(min-width: $tablet){
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
  @media(min-width: $desktop){
    margin-bottom: 109px;
  }
  &:after{
    content: '';
    position: absolute;
    left: 72%;
    right: 0;
    top: 0;
    bottom: 120px;
    background-color: $price;
    background-image: url('../images/svg/sale_flower.svg');
    background-repeat: no-repeat;
    background-position: -135px top;
    display: block;
    @media(min-width: $tablet){
      left: 51%;
      top: 22px;
      background-position: 63px top;
      bottom: 0;
    }
    @media(min-width: $desktop){
      left: 68%;
      bottom: 0;
    }
  }
  &-container{
    @media(min-width: $tablet){
      padding-top: 43px;
      max-width: 800px;
      margin: 0 auto;
      position: relative;
    }
     @media(min-width: $desktop){
      max-width: 1220px;
    }
  }
  &-head{
    display: flex;
    align-items: center;
    border:0;
    @media(min-width: $desktop){
      position:relative;
      &:after{
        content: '';
        position: absolute;
        background: #E0E0E0;
        width: 495px;
        height: 1px;
        right:250px;
      }
    }
    &:hover{
      .saleofday-svg{
        fill: $selection;
        color: $selection;
      }
    }
  }
  &-title{
    font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $greyText;
    background-image: url('../images/svg/flower_little.svg');
    background-repeat: no-repeat;
    background-position: left;
    display: block;
    padding: 10px 0;
    position: relative;
    @media(min-width: $tablet){
      font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif;
      background-image: url('../images/svg/flower_middle.svg');
      padding: 20px 0;
    }
    @media(min-width:$desktop){
      background-position: center;
    }

  }
  &-svg{
    position: relative;
    z-index: 100;
    fill: $arrow;
    color: $arrow;
    margin: 10px 20px;
    transition: color .3s, fill .3s;
    @media(min-width: $tablet){
      margin-left: 40px;
    }
  }
  &-pick{
    border: 1px solid $brandborder;
    padding: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-top: 19px;
    background: $buttontext;
    text-align: center;
    width: 180px;
    &:after{
      content: "";
      display: block;
      width: calc(100% - 56px);
      height: 20px;
      box-shadow: 0 28px 20px rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 20px;
      z-index: -1;
      right: 8px;
    }
    @media(min-width: $tablet){
      border: none;
      box-shadow: none;
      position: static;
      order: 1;
      width: 60%;
    }
  }
  &-link{
    padding-top: 20px;
  }
  &-img{
    width: 140px!important;
    position: relative;
    margin: 0 auto;
    @media(min-width: $tablet){
      margin: 0;
      width: 100%!important;
    }
  }
  &-name{
    font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-right: 50px;
    border: none;
    display: block;
    @media(min-width: $tablet){
      font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
      margin-right: 0;
      margin-top: 50px;
      text-align: left;
    }
  }
  &-brand{
    color: $secondary;
    font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
    @media(min-width: $tablet){
      width: 100%;
      text-align: left;
    }
    @media(min-width:$desktop){
      margin-top: 20px;
    }
  }
  &-prices{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    align-items: flex-end;
    @media(min-width: $tablet){
      margin-top: 158px;
      display: block;
      width: 40%;
    }
    @media(min-width: $desktop){
      margin-top: 0;
    }
  }
  &-priceblock{
    @media(min-width: $tablet){
      margin-bottom: 18px;
    }
  }
  &-oldprice{
    font: 15px/36px MuseoSansNormal, Arial, Helvetica, sans-serif;
    span{
      text-decoration: line-through;
    }
  }
  &-newprice{
    color: $price;
    font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
  }
  &-button{
    border: 1px solid $primary;
    outline: none;
    width: 158px;
    height: 40px;
    box-sizing: border-box;
    border-top-right-radius: 31px;
    border-bottom-left-radius: 31px;
    font: 12px/28px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor:pointer;
    background: transparent;
    position: relative;
    z-index:999;
    margin-bottom: 12px;
    letter-spacing: 0.05em;
    &:hover, &:focus{
      outline: none;
      border: 1px solid $selection;
      color: $selection;
    }
    &:active{
      outline: none;
      border: 1px solid $selection;
      color: $buttontext;
      background: $selection;
    }
  }
  &-items{
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    @media(min-width: $tablet){
      width: 75%;
      margin-bottom: 16px;
      flex-grow: 1;
      flex-shrink: 0;
    }
    @media(min-width: $desktop){
      width: 50%;
    }
    &.owl-theme{
      .owl-dots{
        position: absolute;
        bottom: -11px;
        width: 100%;
        text-align: center;
      }
      .owl-dots .owl-dot span{
        border-radius: 0;
        width: 28px;
        height: 2px;
        margin: 5px 2px;
        background: $dots;
      }
      .owl-dots .owl-dot.active span{
        background:$selection;
      }
      .owl-dots .owl-dot:hover span{
        background:$selection;
      }
    }
  }
  &-wrap{
    width:100%;
    @media(min-width: $tablet){
      border: 1px solid $brandborder;
      padding: 39px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      box-sizing: border-box;
      position: relative;
      margin: 13px;
      margin-top: 40px;
      background: $buttontext;
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      z-index: auto!important;
      width:auto;
      &:after{
        display: none;
        opacity:0;
        transition: opacity .5s;
      }
      &.slick-current{
        z-index: auto!important;
        display: flex;
        background: $buttontext;
      }
    }
    @media(min-width: $desktop){
      max-width: 560px;
    }
  }
  &-linkpick{
    @media(min-width: $tablet){
      border: 1px solid $brandborder;
      border-color: $brandborder;
      box-sizing: border-box;
      width: 160px;
      height: 160px;
      padding: 15px 10px;
      padding-top: 20px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      .sticker{
        top:30px;
      }
    }
    @media(min-width: $desktop){
      border: none;
      border-radius: 0;
      position: relative;
      padding-left:20px;
    } 
  }
  &-links{
    display: none;
    @media(min-width: $tablet){
      display: block;
      .slick-list{
        margin-top:-20px;
      }
    }
    @media(min-width: $desktop){
      padding-left: 50px;
      margin-top: 65px;
      margin-right:20px;
    }
  }
  &-link{   
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 160px;
    margin: 10px;
    margin-left: 0;
    transition: border-color .3s;
    cursor:pointer;
    .saleofday-sticker{
      top: 10px;
      left: 10px;
    }
    @media(min-width: $desktop){
      margin: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      position: relative;
      z-index:200;
    }
  }
  &-goods{
    @media(min-width: $tablet){
      display: flex;
    }
    .slick-vertical .slick-slide{
      width: auto;
      display: flex;
      opacity: 0;
      transition: opacity .3s, border .3s;
      &.slick-active{
        opacity: 1;
      }
      @media(min-width: $desktop){
        border-color: transparent;
        border-bottom: 1px solid $brandborder;
        &:hover{
          border-color: transparent;
          border-bottom: 1px solid $brandborder;
        }
      }
    }
    .slick-vertical .slick-current{
      .saleofday-linkpick{
        border: 1px solid $bannerdescription;
        border-color: $bannerdescription;  
        @media(min-width: $desktop){
          border-color: transparent;
          border-bottom: none;
        }
      }
    }
    .slick-dots{
      position: absolute;
       top: calc(50% - 75px);
      cursor: pointer;
      left: 0;
      width: 16px;
      li{
        list-style:none;
        width:16px;
        height:16px;
        background: $dots;
        border-radius:50%;
        margin: 15px 0;
        cursor: pointer;
        position: relative;
        transition: background .3s;
        display: block;
        &:hover{
          background:$selection!important;
          &:after{
            content: '';
            width:30px;
            height:30px;
            position: absolute;
            border-radius:50%;
            background: rgba(105, 127, 52, 0.3);
            left: -7px;
            top: -7px;
          }
        }
        &.slick-active{
          background:$selection!important;
          &:after{
            content: '';
            width:30px;
            height:30px;
            position: absolute;
            border-radius:50%;
            background: rgba(105, 127, 52, 0.3);
            left: -7px;
            top: -7px;
          }
        }
      }
      li button{
        opacity:0;
        &:before{
          font-size: 0;
        }
      }
    }
  }
  &-linkimg{
    width: 120px;
    position:relative;
    margin:0 auto;
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
  }
  &-description{
    display: none;
    @media(min-width: $desktop){
      display: block;
      width: 300px;
      margin-left: 69px;
    }
  }
  &-linkname{
    color: $greyText;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
  &-linkbrand{
    font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
    color: $secondary;
    margin-bottom: 34px;
  }
}
