.saleofday
  .container.saleofday-container
    h2.saleofday-title скидки дня
      .saleofday-items.owl-theme.owl-carousel
        .saleofday-item
          .saleofday-sticker.saleofday-sticker__new
            span New
          svg.saleofday-heart(role="img")(width="20")(height="18"): use(xlink:href="#heart")
          .saleofday-pick
            img.saleofday-img(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-name Спрей с кератином для сильно поврежденных волос Biolage
          .saleofday-brand Loreal Professional
          .saleofday-priceblock
            .saleofday-oldprice
              span 1 600
              | руб
            .saleofday-newprice 1 200 руб
          button.saleofday-button Купить
        .saleofday-item
          .saleofday-sticker.saleofday-sticker__new
            span New
          svg.saleofday-heart(role="img")(width="20")(height="18"): use(xlink:href="#heart")
          .saleofday-pick
            img.saleofday-img(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-name Спрей с кератином для сильно поврежденных волос Biolage
          .saleofday-brand Loreal Professional
          .saleofday-priceblock
            .saleofday-oldprice
              span 1 600
              | руб
            .saleofday-newprice 1 200 руб
          button.saleofday-button Купить
          .saleofday-item
            .saleofday-sticker.saleofday-sticker__new
              span New
            svg.saleofday-heart(role="img")(width="20")(height="18"): use(xlink:href="#heart")
            .saleofday-pick
              img.saleofday-img(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
            .saleofday-name Спрей с кератином для сильно поврежденных волос Biolage
            .saleofday-brand Loreal Professional
            .saleofday-priceblock
              .saleofday-oldprice
                span 1 600
                | руб
              .saleofday-newprice 1 200 руб
            button.saleofday-button Купить
            .saleofday-item
              .saleofday-sticker.saleofday-sticker__new
                span New
              svg.saleofday-heart(role="img")(width="20")(height="18"): use(xlink:href="#heart")
              .saleofday-pick
                img.saleofday-img(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
              .saleofday-name Спрей с кератином для сильно поврежденных волос Biolage
              .saleofday-brand Loreal Professional
              .saleofday-priceblock
                .saleofday-oldprice
                  span 1 600
                  | руб
                .saleofday-newprice 1 200 руб
              button.saleofday-button Купить
