.saleofday
  .container.saleofday-container
    a(href="#").saleofday-head
      h2.saleofday-title скидки дня
      svg.saleofday-svg(role="img")(width="26")(height="26"): use(xlink:href="#arrow")
    .saleofday-goods
      .saleofday-links
        a.saleofday-link
          .saleofday-linkpick
            .saleofday-sticker.saleofday-sticker__sale
              span Sale
            img.saleofday-linkimg(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-description
            .saleofday-linkname Спрей с кератином для сильно поврежденных волос Biolage
            .saleofday-linkbrand Darigue
            .saleofday-prices
              .saleofday-priceblock
                .saleofday-oldprice
                  span 1 600
                  | руб
                .saleofday-newprice 1 200 руб
        a.saleofday-link
          .saleofday-linkpick
            .saleofday-sticker.saleofday-sticker__sale
              span Sale
            img.saleofday-linkimg(src="/assets/maingoods.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-description
            .saleofday-linkname Спрей с кератином для сильно поврежденных волос Biolage
            .saleofday-linkbrand Darigue
            .saleofday-prices
              .saleofday-priceblock
                .saleofday-oldprice
                  span 1 600
                  | руб
                .saleofday-newprice 1 200 руб
        a.saleofday-link
          .saleofday-linkpick
            .saleofday-sticker.saleofday-sticker__sale
              span Sale
            img.saleofday-linkimg(src="/assets/bestseller1.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-description
            .saleofday-linkname Спрей с кератином для сильно поврежденных волос Biolage
            .saleofday-linkbrand Darigue
            .saleofday-prices
              .saleofday-priceblock
                .saleofday-oldprice
                  span 1 600
                  | руб
                .saleofday-newprice 1 200 руб
        a.saleofday-link
          .saleofday-linkpick
            .saleofday-sticker.saleofday-sticker__sale
              span Sale
            img.saleofday-linkimg(src="/assets/goodsofday.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-description
            .saleofday-linkname Спрей с кератином для сильно поврежденных волос Biolage
            .saleofday-linkbrand Darigue
            .saleofday-prices
              .saleofday-priceblock
                .saleofday-oldprice
                  span 1 600
                  | руб
                .saleofday-newprice 1 200 руб
      .saleofday-items.animated.owl-theme.owl-carousel
        .saleofday-item
          .saleofday-pick
            .saleofday-sticker.saleofday-sticker__sale
              span Sale
            img.saleofday-img(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-name Спрей с кератином для сильно поврежденных волос Biolage
          .saleofday-brand Loreal Professional
          .saleofday-prices
            .saleofday-priceblock
              .saleofday-oldprice
                span 1 600
                | руб
              .saleofday-newprice 1 200 руб
            button.saleofday-button Купить
        .saleofday-item
          .saleofday-pick
            .saleofday-sticker.saleofday-sticker__sale
              span Sale
            img.saleofday-img(src="/assets/maingoods.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-name Спрей с кератином для сильно поврежденных волос Biolage
          .saleofday-brand Loreal Professional
          .saleofday-prices
            .saleofday-priceblock
              .saleofday-oldprice
                span 1 600
                | руб
              .saleofday-newprice 1 200 руб
            button.saleofday-button Купить
        .saleofday-item
          .saleofday-pick
            .saleofday-sticker.saleofday-sticker__sale
              span Sale
            img.saleofday-img(src="/assets/bestseller1.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-name Спрей с кератином для сильно поврежденных волос Biolage
          .saleofday-brand Loreal Professional
          .saleofday-prices
            .saleofday-priceblock
              .saleofday-oldprice
                span 1 600
                | руб
              .saleofday-newprice 1 200 руб
            button.saleofday-button Купить
        .saleofday-item
          .saleofday-pick
            .saleofday-sticker.saleofday-sticker__sale
              span Sale
            img.saleofday-img(src="/assets/goodsofday.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
          .saleofday-name Спрей с кератином для сильно поврежденных волос Biolage
          .saleofday-brand Loreal Professional
          .saleofday-prices
            .saleofday-priceblock
              .saleofday-oldprice
                span 1 600
                | руб
              .saleofday-newprice 1 200 руб
            button.saleofday-button Купить
