include ../../components/maintop/maintopmenu/maintopmenu
section.maintop
  +maintopmenu("maintopmenu__main")
  include ../../components/maintop/maintopslider/maintopslider
  include ../../components/maintop/maintopbrends/maintopbrends
