section.maintop
  include ../../components/maintop/maintopmenu/maintopmenu
  include ../../components/maintop/maintopslider/maintopslider
  include ../../components/maintop/maintopbrends/maintopbrends
