.banner
  .container
    svg.banner-svg__small(role="img")(width="266")(height="89"): use(xlink:href="#logobig")
    h3.banner-title Все для Вас и Вашего успешного бизнеса
    .banner-text Более 8 лет успешной работы с ведущими салонами и профессионалами индустрии красоты Москвы и Московской области

  
