.mobilemenu{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 68px;
  z-index: 999;
  background: $buttontext;
  transform: translateX(-100%);
  transition: transform .3s;
  @media(min-width: 400px){
    top: 92px;
  }
  @media(min-width: 600px){
    max-width: 320px;
  }
  @media(min-width: $tablet){
    top: 104px;
  }

  @media(min-width: $desktop){
    display: none;
  }
  &.open{
    transform: translateX(0);
  }
  &-top{
    background: $buttontext;
  }
  &-topul{
    margin-bottom: -20px;
    padding-bottom: 20px;
  }
  &-topli{
    list-style: none;
    margin: 15px 10px;
    @media(min-width: $tablet){
      margin: 20px 36px;
    }
  }
  &-toplink{
    font: 15px/18px MuseoSansDark, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $primary;
    border-bottom: none;
    letter-spacing: 0.05em;
    &__icon{
      &:before{
        content: "";
        display: inline-block;
        width: 21px;
        height: 14px;
        background-image: url("../images/svg/menuicon.svg");
        background-repeat: no-repeat;
        margin-right: 3px;
      }
    }
    &__action{
      color: $selection;
    }
  }
  &-bottom{
    background:$background;
    padding-top: 5px;
    padding-bottom: 60px;
  }
  &-botul{
    border-bottom: 1px solid $brandborder;
  }
  &-botli{
    list-style: none;
    margin: 15px 10px;
    @media(min-width: $tablet){
      margin: 20px 36px;
    }
  }
  &-botlink{
    font: 12px/14px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-bottom: none;
    color: $primary;
  }
  &-address{
    margin-top: 30px;
    padding-left: 10px;
    @media(min-width:$tablet){
      padding-left: 30px;
    }
    .headerphone{
      text-align: left;
      margin-left: 30px;
    }
  }
  &-enterance{
    margin-top: 20px;
    font: 13px/16px MuseoSansNormal, Arial, Helvetica, sans-serif;
    padding-left: 10px;
    display: inline-block;
    border-bottom: none;
    @media(min-width:$tablet){
      padding-left: 30px;
    }
  }
  &-svg{
    margin-right: 7px;
  }

}
