.mobilemenu-top
  ul.mobilemenu-topul
    li.mobilemenu-topli
      a.mobilemenu-toplink(href="salon.html") бренды
    li.mobilemenu-topli
      a.mobilemenu-toplink(href="salon.html") салонам красоты
    li.mobilemenu-topli
      a.mobilemenu-toplink(href="salon.html") стилисту
    li.mobilemenu-topli
      a.mobilemenu-toplink(href="salon.html") нейл-мастеру
    li.mobilemenu-topli
      a.mobilemenu-toplink(href="salon.html") косметологу
    li.mobilemenu-topli
      a.mobilemenu-toplink(href="salon.html") бровисту
    li.mobilemenu-topli
      a.mobilemenu-toplink.mobilemenu-toplink__icon(href="#") proleto
    li.mobilemenu-topli
      a.mobilemenu-toplink(href="#") новинки
    li.mobilemenu-topli
      a.mobilemenu-toplink.mobilemenu-toplink__action(href="#") акции
.mobilemenu-bottom
  ul.mobilemenu-botul
    li.mobilemenu-botli
      a.mobilemenu-botlink(href="company.html") О компании
    li.mobilemenu-botli
      a.mobilemenu-botlink(href="#") Мастеру
    li.mobilemenu-botli
      a.mobilemenu-botlink(href="#") Оптовикам
    li.mobilemenu-botli
      a.mobilemenu-botlink(href="pay.html") Оплата
    li.mobilemenu-botli
      a.mobilemenu-botlink(href="delivery.html") Доставка
    li.mobilemenu-botli
      a.mobilemenu-botlink(href="contacts.html") Контакты
  .mobilemenu-address
    .headercity
      svg.headercity-svg(role="img")(width="17")(height="20"): use(xlink:href="#city")
      span
        a.headercity-link.js-cities(href="#") Анжеро-Судженск
    .headerphone
      a.headerphone-link(href="tel:+74991362208") +7 (499) 136-22-08
  a(href="entry.html").mobilemenu-enterance.js-popup
    svg.mobilemenu-svg(role="img")(width="24")(height="25"): use(xlink:href="#enter")
    | Войти
