.searchblock
    ul.searchblock-ul
        li.searchblock-li тоник
        li.searchblock-li тоник для лица увлажняющий
        li.searchblock-li тоник для лица
        li.searchblock-li тоник с кислотами
        li.searchblock-li тоник для лица
        li.searchblock-li тоник для волос
        li.searchblock-li тоник clarins
        li.searchblock-li Ножницы
        li.searchblock-li Kapous Professional, Ножницы парикмахерские филировочные 5,5 модель SK10T/5,5,
        li.searchblock-li Ножницы DEWAL филировочные 2-х сторонние 6,5"
        li.searchblock-li Kapous Professional, Ножницы парикмахерские филировочные 5,5 модель SK10T/5,5,