.seotext{
  display: none;
  @media(min-width: $tablet){
    display: block;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    margin: 40px 0 60px 0;
    color:$primary;
  }
  @media(min-width:$desktop){
    margin-bottom: 150px;
  }
}
