.entry
    .entry-top
        .entry-title Вход
        a(href="registation.html").entry-link.js-popup
            svg.entry-svg(role="img")(width="19")(height="18"): use(xlink:href="#arrow")
    form.entry-form
        .entry-fieldset
            legend.entry-legend E-mail или телефон
            input(type="text").entry-input
        .entry-fieldset
            legend.entry-legend Пароль
            label.entry-label
                input(type="text").entry-input
                svg.entry-svg(role="img")(width="22")(height="18"): use(xlink:href="#eye")(data-href="#closeeye") 