.entry
    .entry-top
        .entry-title Вход
        a(href="registation.html").entry-reg.js-popup регистрация
            svg.entry-svg(role="img")(width="19")(height="18"): use(xlink:href="#arrow")
    form.entry-form.js-form
        .entry-fieldset
            legend.entry-legend E-mail или телефон
            input(type="text").entry-input
        .entry-fieldset
            legend.entry-legend Пароль
            label.entry-label(for="password").js-password 
                input(type="password" id="password").entry-input
                svg.entry-eye(role="img")(width="22")(height="18"): use(xlink:href="#closeeye")(data-href="#eye")
        .entry-fieldset            
            input(type="checkbox", id="remember").entry-checkbox
            label.entry-label__checkbox(for="remember") Запомнить меня
        .entry-fieldset
            button.entry-button войти
            a(href="").entry-link__small.js-popup Забыли парль?
    .entry-bottom
        p Вход через социальные сети
        .entry-social
            svg.entry-svg(role="img")(width="11")(height="20"): use(xlink:href="#fb")
            svg.entry-svg(role="img")(width="26")(height="16"): use(xlink:href="#google")
            svg.entry-svg(role="img")(width="22")(height="20"): use(xlink:href="#insta")