.documents{
    margin-bottom: -11px;
    @media(min-width:$tablet){
        margin-bottom: 40px;
    }
    @media(min-width:$desktop){
        margin-bottom: 150px;
    }
    &-table{
        @media(min-width:$tablet){
            background: #F4F4F0;
            padding: 20px;
        }
        &-top{
            display: none;
            @media(min-width: $tablet){
                display: flex;
                margin: 0 -10px;
            }
        }
    }
    &-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
    }
    &-title{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        @media(min-width:$tablet){
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
        }
    }
    &-add{
        font-size: 0;
        width: 24px;
        height: 24px;
        border: 2px solid #000;
        border-radius: 100%;
        display: block;
        position: relative;
        &:after, &:before{
            content:'';
            display: block;
            position: absolute;
            height: 20px;
            width: 2px;
            background: #000;
            left: calc(50% - 1px);
            top: 2px;
        }
        &:before{
            transform: rotate(90deg)
        }
        @media(min-width:$tablet){
            font: 12px/28px MuseoSansNormal, Arial, Helvetica, sans-serif; 
            display: block;
            box-sizing: border-box;
            background: #697F34;
            width: 220px;
            height: 60px;
            color: #fff;
            border-radius: 0;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            text-transform:uppercase;
            letter-spacing: 0.05em;
            text-align: center;
            padding-top: 18px;
            border: none;
            &:before, &:after{
                display: none;
            }
        }
    }
    &-item{
        padding: 20px 10px;
        background: #F4F4F0;
        margin: 11px 0;
        @media(min-width:$tablet){
            display: flex;
            background: #fff;
            position: relative;
            margin: 11px -10px;
        }
    }
    &-row{
        display: flex;
        margin: 0 -10px;
        @media(min-width:$tablet){
            display: block;
            margin: 0;
            &:first-of-type{
                .documents-col__right{
                    padding-left: 20px;
                }                
            }
        }
    }
    &-col{
        &__left{
            width: calc(50% - 20px);
            margin: 0 10px;
            @media(min-width:$tablet){
                display: none;
            }
        }
        &__right{
            width: calc(50% - 20px);
            margin: 0 10px;            
            background: #fff;
            padding: 10px;
            box-sizing: border-box;
            @media(min-width:$tablet){
                width: 100%;
                margin: 0;
                padding: 0;
            }
        }
        &__2{
            @media(min-width:$tablet){
                margin: 0 10px;
                width: calc(25% - 20px);
                box-sizing: border-box;
            }
        }
        &__1{
            @media(min-width:$tablet){
                margin: 0 10px;
                width: calc(13% - 20px); 
                box-sizing: border-box;
            }
        }
        &__3{
            @media(min-width:$tablet){
                margin: 0 10px;
                width: calc(37% - 20px); 
                box-sizing: border-box;
            }
        }
    }
    &-name{
        font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
    }
    &-info{
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
    }
    &-download{
        text-transform: uppercase;
        font: 12px/20px MuseoSansNormal, Arial, Helvetica, sans-serif;
        letter-spacing: 0.05em;
        color: #000;
        border-bottom: 0;
        span{
            display: inline-block;
            margin-left: 5px;
            @media(min-width:$tablet){
                display: none; 
            }
        }
    }
    &-svg{
        fill: #697F34;
        color: #697F34;
        @media(min-width:$tablet){
            fill: #C8C2B2;
            color: #C8C2B2;
            width: 24px;
            height: 24px;
        }
    }
    &-col{

    }
} 