.documents{
    margin-bottom: -11px;
    @media(min-width:$tablet){
        margin-bottom: 40px;
    }
    @media(min-width:$desktop){
        margin-bottom: 150px;
    }
    &-title{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        @media(min-width:$tablet){
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
        }
    }
    &-table{
        background: #F4F4F0;
        position: relative; 
        margin: 0 -10px;
        justify-content:space-between;
        box-sizing: border-box;
        @media(min-width:$tablet){
            background: #F4F4F0;
            display: table;
            width:100%;
            margin: 0 auto;
            padding: 20px;
        }
        @media(min-width:$desktop){
            padding:10px 20px;
            margin-top:40px;
        }
        &-top{
            display: none;
            @media(min-width: $tablet){
                display: table-row;
                position: relative;
                margin: 0 -20px;
            }
            .documents-table-col{
                padding-top: 10px;
                &:first-child{
                    @media(min-width: $tablet){
                        padding-left: 0;
                    }
                }
            }
        }
        &-col{
            display: flex;
            &:before{
               content: attr(data-title);
                display: block;
                font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
                width: calc(50% + 20px);
            }
             @media(min-width:$tablet){
                display: table-cell;
                padding: 20px;
                margin: 0 20px; 
                position: relative; 
                box-sizing: border-box;
                max-width: 200px;
                 &:before{
                    display: none;
                }       
                &:hover{
                    .documents-info__message{
                        display: block;
                    }
                }              
             } 
            @media(min-width: $desktop){
                padding: 10px 20px;
                vertical-align: middle;
            }           
        }
        &-row{
            padding: 20px 10px;
            font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
            color: #333;
            border-bottom: none;
            display: block;
            &:hover{  
                color: #333;
            }
            @media(min-width: $tablet){
                display: table-row;
                background: #fff;
                position: relative;
                margin: 0 -20px;
                margin-bottom: 11px;  
                cursor:pointer;
                .documents-table-col{
                    transition: border-color .3s, background .3s, color .3s;
                    border-top: 1px solid #fff;;
                    border-bottom: 1px solid #fff;;
                    &:first-of-type{
                        border-left: 1px solid #fff;
                    }
                    &:last-of-type{
                    border-right: 1px solid #fff;
                    }
                }           
                &:hover{  
                    color: #333;
                    .documents-table-col{
                       border-top: 1px solid #697F34;
                       border-bottom: 1px solid #697F34;
                       &:first-of-type{
                            border-left: 1px solid #697F34;
                        }
                        &:last-of-type{
                            border-right: 1px solid #697F34;
                        }
                    }
                }
                &.active{
                   .documents-table-col{
                       background:#697F34;
                       border-color: #697F34;
                   } 
                   .documents-info{
                       background:#697F34;
                       color: #fff;
                       transition: color .3s, background .3s, height .3s;                                                  
                   } 
                }
            }
            @media(min-width:$desktop){
                padding: 0 20px;
            }
        }
        &-grey{
            display: block;
            background: #fff;
            height: 11px; 
            margin: 0 -10px;
            position:relative;
            @media(min-width:$tablet){
                background: #F4F4F0;
                margin: 0;
            }
            &:last-of-type{
                display: none;
                @media(min-width:$tablet){
                    display: block;
                }
            } 
        }
    }
    &-top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
    }
    &-title{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        @media(min-width:$tablet){
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
        }
    }
    &-add{
        input{
            position: absolute;
            visibility: hidden;
        }
        label{
        cursor: pointer;
        font-size: 0;
        width: 24px;
        height: 24px;
        border: 2px solid #000;
        border-radius: 100%;
        display: block;
        position: relative;
        &:after, &:before{
            content:'';
            display: block;
            position: absolute;
            height: 20px;
            width: 2px;
            background: #000;
            left: calc(50% - 1px);
            top: 2px;
        }
        &:before{
            transform: rotate(90deg)
        }
        @media(min-width:$tablet){
            font: 12px/28px MuseoSansNormal, Arial, Helvetica, sans-serif; 
            display: block;
            box-sizing: border-box;
            background: #697F34;
            width: 220px;
            height: 60px;
            color: #fff;
            border-radius: 0;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
            text-transform:uppercase;
            letter-spacing: 0.05em;
            text-align: center;
            padding-top: 18px;
            border: none;
            transition: background .3s;
            &:hover, &:active{
                color: #fff;
                background: #A5BB70;
            }
            &:before, &:after{
                display: none;
            }
        }
        }        
    }
    &-item{
        padding: 20px 10px;
        background: #F4F4F0;
        margin: 11px 0;
        @media(min-width:$tablet){
            display: flex;
            background: #fff;
            position: relative;
            margin: 11px -10px;
        }
    } 
    &-name{
        font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
    }
    &-info{
        width: calc(50% - 20px);
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
        background: #fff;
        box-sizing: border-box;
        padding: 10px;
        transition: background .3s;
        @media(min-width:$tablet){
            width: auto;
            padding: 0;
        }
    }
    &-download{
        text-transform: uppercase;
        font: 12px/20px MuseoSansNormal, Arial, Helvetica, sans-serif;
        letter-spacing: 0.05em;
        color: #000;
        border-bottom: 0;
        display: block;
        span{
            display: inline-block;
            margin-left: 5px;
            @media(min-width:$tablet){
                display: none; 
            }
        }
    }
    &-svg{
        fill: #697F34;
        color: #697F34;
        @media(min-width:$tablet){
            fill: #C8C2B2;
            color: #C8C2B2;
            width: 24px;
            height: 24px;
        }
    }
} 