.documents-table-row.documents-spoiler
    .documents-table-col(data-title="Название")
        .documents-info Договор 542.pdf
    .documents-table-col(data-title="Дата")
        .documents-info  12.06.2018
    .documents-table-col(data-title="Размер") 
         .documents-info 234 КБ 
    .documents-table-col(data-title="Описание") 
         .documents-info.documents-info__spoil(data-text="Договор получен от вас с неверными реквизитами. Использовать только для ознакомления с текстом. И тут еще несколько строчек текста, чтобы полчился спойлер вот так.") Договор получен от вас с неверными реквизитами. Использовать только для ознакомления с текстом. И ... 
    .documents-table-col
        .documents-info
            a(href="/assets/goodsofday.png" download title="скачать").documents-download
                svg.documents-svg(role="img")(width="12")(height="12"): use(xlink:href="#download")
                span Скачать
.documents-table-grey
