.documents
    .documents-top
        .documents-title Мои документы
        a(href="adddocuments.html").documents-add Добавить
    .documents-table
        .documents-table-top
            .documents-table-col Название
            .documents-table-col Дата загрузки
            .documents-table-col Размер
            .documents-table-col Описание
            .documents-table-col 
        include documentsitem
        include documentsitem
        include documentsitem
        include documentsitem
        include documentsitem