.documents
    .documents-top
        .documents-title Мои документы
        a(href="adddocuments.html").documents-add Добавить
    .documents-table
        .documents-table-top
            .documents-col__2 Название
            .documents-col__2 Дата загрузки
            .documents-col__1 Размер
            .documents-col__3 Описание
        include documentsitem
        include documentsitem
        include documentsitem
        include documentsitem
        include documentsitem