.documents-table-row
    .documents-table-col(data-title="Название")
        .documents-info Договор 542.pdf
    .documents-table-col(data-title="Дата")
        .documents-info  12.06.2018
    .documents-table-col(data-title="Размер") 
         .documents-info 234 КБ 
    .documents-table-col(data-title="Описание") 
         .documents-info  Договор получен от вас с неверными реквизитами. Использовать только для ознакомления с текстом ..
         .documents-info__message Посмотреть
    .documents-table-col
        .documents-info
            a(href="#").documents-download
                svg.documents-svg(role="img")(width="12")(height="12"): use(xlink:href="#download")
                span Скачать
        .documents-info__message.documents-info__download Скачать
.documents-table-grey
