.documents-item
    .documents-row.documents-col__2
        .documents-col__left
            .documents-name Название
        .documents-col__right
            .documents-info Договор 542.pdf
    .documents-row.documents-col__2
        .documents-col__left
            .documents-name Дата загрузки
        .documents-col__right
            .documents-info 12.06.2018
    .documents-row.documents-col__1
        .documents-col__left
            .documents-name Размер
        .documents-col__right
            .documents-info 234 КБ 
    .documents-row.documents-col__2
        .documents-col__left
            .documents-name Описание
        .documents-col__right
            .documents-info.documents-info__message  Договор получен от вас с неверными реквизитами. Использовать только для ознакомления с текстом ..
    .documents-row.documents-col__1
        .documents-col__left
        .documents-col__right
            a(href="#").documents-download
                svg.documents-svg(role="img")(width="12")(height="12"): use(xlink:href="#download")
                span Скачать
