.letobonuses
    .letobonuses-col
        h3.letobonuses-h3 Получи скидку
        .letobonuses-full
            table.letobonuses-table
                thead.letobonuses-thead
                    tr.letobonuses-tr
                        th.letobonuses-th.letobonuses-th__3.letobonuses-td__left Статус
                        th.letobonuses-th.letobonuses-th__3 Сумма заказа, руб.
                        th.letobonuses-th.letobonuses-th__3 Скидка
                tbody.letobonuses-tbody
                    tr.letobonuses-tr
                        td.letobonuses-td.letobonuses-td__left Мастер
                        td.letobonuses-td от 5000
                        td.letobonuses-td 3%
                    tr.letobonuses-tr
                        td.letobonuses-td.letobonuses-td__left Топ-мастер
                        td.letobonuses-td от 10 000 
                        td.letobonuses-td 5%
                    tr.letobonuses-tr
                        td.letobonuses-td.letobonuses-td__left Эксперт
                        td.letobonuses-td от 30 000
                        td.letobonuses-td 10%
                    tr.letobonuses-tr
                        td.letobonuses-td.letobonuses-td__left Партнер
                        td.letobonuses-td от 50 000
                        td.letobonuses-td 15%
                    tr.letobonuses-tr
                        td.letobonuses-td.letobonuses-td__left Оптовый партнер
                        td.letobonuses-td от 100 000
                        td.letobonuses-td 20%
        .letobonuses-description 
            span.red *
            | Скидка действует на единовременный заказ. По общей сумме заказов в текущем месяце, закрепляется скидка на следующий.                       
    .letobonuses-col
        h3.letobonuses-h3 Получи бонус
        .letobonuses-full
            table.letobonuses-table.letobonuses-table__2
                thead.letobonuses-thead
                    tr.letobonuses-tr
                        th.letobonuses-th.letobonuses-td__left Объем закупок за
                            br
                            | квартал, руб
                        th.letobonuses-th.letobonuses-td__left Бонус, 
                            br
                            | рубЛеты
                tbody.letobonuses-tbody
                    tr.letobonuses-tr
                        td.letobonuses-td от 15 000
                        td.letobonuses-td.letobonuses-td__left 500                      
                    tr.letobonuses-tr
                        td.letobonuses-td от 30 000
                        td.letobonuses-td.letobonuses-td__left 1000                        
                    tr.letobonuses-tr
                        td.letobonuses-td от 90 000
                        td.letobonuses-td.letobonuses-td__left 3000                       
                    tr.letobonuses-tr
                        td.letobonuses-td от 150 000
                        td.letobonuses-td.letobonuses-td__left 5000                        
                    tr.letobonuses-tr
                        td.letobonuses-td от 300 000
                        td.letobonuses-td.letobonuses-td__left 10 000 
            table.letobonuses-table.letobonuses-table__2
                thead.letobonuses-thead
                    tr.letobonuses-tr
                        th.letobonuses-th.letobonuses-td__left Объем закупок 
                            br
                            | за 3 квартала, руб
                        th.letobonuses-th.letobonuses-td__left Бонус,
                            br
                            | рубЛеты
                tbody.letobonuses-tbody
                    tr.letobonuses-tr
                        td.letobonuses-td от 45 000
                        td.letobonuses-td.letobonuses-td__left 900                      
                    tr.letobonuses-tr
                        td.letobonuses-td от 90 000
                        td.letobonuses-td.letobonuses-td__left 1800                  
                    tr.letobonuses-tr
                        td.letobonuses-td от 270 000
                        td.letobonuses-td.letobonuses-td__left 5400                       
                    tr.letobonuses-tr
                        td.letobonuses-td от 450 000
                        td.letobonuses-td.letobonuses-td__left 9000 
                    tr.letobonuses-tr
                        td.letobonuses-td от 900 000
                        td.letobonuses-td.letobonuses-td__left 18 000                              