footer.footer
  .container
    include ../../components/footer/footertop/footertop
    include ../../components/footer/footermiddle/footermiddle
    include ../../components/footer/footerbottom/footerbottom
