footer.footer
  .mobilemenu
    include ../../components/footer/mobilemenu/mobilemenu
  .container.main-wrap
    include ../../components/footer/footertop/footertop
    include ../../components/footer/footermiddle/footermiddle
    include ../../components/footer/footerbottom/footerbottom
