.footertop{
  position: relative;
  margin: 0 auto;
  margin-top:45px;
  @media(min-width: $tablet){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -12px;
    margin-top: 42px;
  }
 
  &-svg{
     border: 0;
    @media(min-width: $tablet){
      order:1;     
    }
  }
  &-soc{
    margin-top: 23px;
    margin-left: 6px;
    @media(min-width: $tablet){
      order:2;
    }
    @media(min-width: $desktop){
      margin: 23px 120px 0 120px;
    }
  }
  &-socsvg{
    margin-right: 46px;
    border-bottom: 0;
    &:last-of-type{
      margin-right: 0;
    }
    svg{
      fill:$buttontext; 
      color:$buttontext;
      transition: color .3s, fill .3s;
      &:hover,  &:active{
        fill:$selection;
        color:$selection;
      }
    }
  }
  &-phone{
    margin-top: 21px;
    margin-left: -7px;
    @media(min-width: $desktop){
      margin: 21px 120px 0 120px;
    }
  }
  &-num{
    font: 14px/17px MuseoSansMidle, Arial, Helvetica, sans-serif;
    color: $buttontext;
  }
  &-country{
    font: 14px/17px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $secondary;
  }
}
