.footertop
  a.footertop-svg(href="/")
    svg(role="img")(width="201")(height="60"): use(xlink:href="#logo_footer")
  .footertop-soc
    a.footertop-socsvg(href="#")
      svg(role="img")(width="10")(height="20"): use(xlink:href="#fb")
    a.footertop-socsvg(href="#")
      svg(role="img")(width="20")(height="20"): use(xlink:href="#vk")
    a.footertop-socsvg(href="#")
      svg(role="img")(width="20")(height="20"): use(xlink:href="#inst")
  .footertop-phone
    a(href="tel: +74991362208").footertop-num +7 (499) 136-22-08
    .footertop-country Россия
