.card{ 
  &-slider{
    &-item{
      margin: 0 10px;
      cursor: pointer;
      img{
        position: relative;
        margin: 0 auto;
      }
      .sticker{
        left: 0;
        @media(min-width:$tablet){
          left: 20px;
        }
      }
    }
    &__for{
      position: relative;
      padding-bottom: 40px;   
      margin: 0 auto;
      max-width: 380px;
      @media(min-width: $tablet){
        width: 380px;
      }
      .card-slider-item{
          //padding: 17px 70px;
          //height: 240px;
        a{
          align-items: center;
          display:flex;
          height: 100%;
          border-bottom: none;
        }
        img{
          //max-height: 100%;
          //width: 100%;
        }
      }
      .slick-dots{
        position: absolute;
        bottom: -10px;
        font-size:0;
        height: 20px;
        overflow: hidden;
          li{
            width: 60px;
            button{
              &:before{
                width: 100%;
                height: 2px;
                background: $dots;
                transition: background .3s, height .3s;
                font-size: 0;
              }
            }
          }
          .slick-active{
            button{
              &:before{
                background: $selection;
                height: 3px;
              }
            }
          }
        }      
      }
  &__nav{
    position: relative;
    padding-top: 10px;
    display: flex;    
    margin: 0 auto;
    width: 270px;
    .card-slider-item{
      width: 80px;
      overflow: hidden;
    }
      img{
        height: 80px;
        width: auto;
      }   
    }
  }  
}
.fastshow .card-slider__for{
  width: 100%;
  .js-img{
    cursor: default;
  }
}
.fastshow .card-slider__nav{
  width: 100%;
}
.card-slider-item__for{
  display: none;
  margin: 0;
  width: 100%;  
  height: 380px;
  display: flex;
  align-content: center;
  justify-content: center;  
  @media(min-width: $tablet){
    max-width: 380px;
  }
  img{
    align-self: center;
    max-width: 100%;
  }
}
.card-slider-item__for{
  display: none;
  &:first-of-type{
    display: block;
  }
}
.slick-initialized{
  .card-slider-item__for{
    display: block;
  }
}