.card{ 
  &-slider{
    &-item{
      margin: 0 10px;
      cursor: pointer;
      img{
        max-width: 100%;
        position: relative;
        margin: 0 auto;
      }
      .sticker{
        left: 0;
        @media(min-width:$tablet){
          left: 20px;
        }
      }
    }
    &__for{
      position: relative;
      padding-bottom: 40px;
      @media(min-width:$desktop){
        width: 380px;
        margin: 0 auto;
        .card-slider-item{
          padding: 17px 70px;
        }
      }
    }
  &__nav{
    position: relative;
    padding-top: 10px;
    @media(min-width:$desktop){
      width: 270px;
      margin: 0 auto;
      .card-slider-item{
        width: 80px;
        height: 80px;
        overflow: hidden;
      }
      img{
        width: 80px; 
      }
    }
    .slick-dots{
      position: absolute;
      top: -10px;
      font-size:0;
      height: 20px;
      overflow: hidden;
        li{
          width: 60px;
          button{
            &:before{
              width: 100%;
              height: 2px;
              background: $dots;
              transition: background .3s, height .3s;
              font-size: 0;
            }
          }
        }
        .slick-active{
          button{
            &:before{
              background: $selection;
              height: 3px;
            }
          }
        }
      }
    }
  }  
}
