.card-slider__for.slider
  .card-slider-item.card-slider-item__for
    .sticker(class=`sticker__green`)
      span  New 
    a(href="assets/pure.png" rel="goods").js-img
      img(src="http://leto.dev.picom.ru/upload/resize_cache/iblock/e8a/64_95_2/e8a7c657010392db6595c6a66cacd282.jpeg" alt="")
  .card-slider-item.card-slider-item__for
    .sticker(class=`sticker__green`)
      span  New 
    a(href="assets/bestseller3.png" rel="goods").js-img
      img(src="http://leto.dev.picom.ru/upload/resize_cache/iblock/e8a/64_95_2/e8a7c657010392db6595c6a66cacd282.jpeg" alt="")
.card-slider__nav.slider
  .card-slider-item
    img(src="http://leto.dev.picom.ru/upload/resize_cache/iblock/e8a/64_95_2/e8a7c657010392db6595c6a66cacd282.jpeg" alt="")
  .card-slider-item
    img(src="http://leto.dev.picom.ru/upload/resize_cache/iblock/e8a/64_95_2/e8a7c657010392db6595c6a66cacd282.jpeg" alt="")