.card-slider__for.slider
  .card-slider-item.card-slider-item__for
    .sticker(class=`sticker__green`)
      span  New 
    a(href="assets/pure.png" rel="goods").js-img
      img(src="assets/pure.png" alt="")
  .card-slider-item.card-slider-item__for
    .sticker(class=`sticker__green`)
      span  New 
    a(href="assets/bestseller3.png" rel="goods").js-img
      img(src="assets/bestseller3.png" alt="")
  .card-slider-item.card-slider-item__for
    .sticker(class=`sticker__green`)
      span  New 
    a(href="assets/goodsofday.png" rel="goods").js-img
      img(src="assets/goodsofday.png" alt="")
  .card-slider-item.card-slider-item__for
    .sticker(class=`sticker__green`)
      span  New 
    a(href="assets/pure.png" rel="goods").js-img
      img(src="assets/pure.png" alt="")
  .card-slider-item.card-slider-item__for
    .sticker(class=`sticker__green`)
      span  New 
    a(href="assets/goodsofday.png" rel="goods").js-img
      img(src="assets/goodsofday.png" alt="")
.card-slider__nav.slider
  .card-slider-item
    img(src="assets/pure.png" alt="")
  .card-slider-item
    img(src="assets/bestseller3.png" alt="")
  .card-slider-item
    img(src="assets/goodsofday.png" alt="")
  .card-slider-item
    img(src="assets/pure.png" alt="")
  .card-slider-item
    img(src="assets/goodsofday.png" alt="")
