.filter{
  color: $link;
  text-transform: uppercase;
  font: 12px/20px MuseoSansNormal, Arial, Helvetica, sans-serif;
  margin: 24px 0;
  margin-bottom:39px;
  cursor: pointer;
  width: 100px;
  &-svg{
    margin-right: 12px;
    vertical-align: middle;
  }
  @media(min-width:$tablet){
    margin: 35px 0;
  }
  @media(min-width:$desktop){
    display: none;
  }
}
