.message{
    padding: 20px;
    box-sizing: border-box;
    @media(min-width: $tablet){
        padding: 60px;
        width: 700px;
    }
    &-title{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        color: #000;
        @media(min-width: $tablet){
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
            margin-bottom:40px;
        }
    }
    &-fieldset{
        position: relative;
        margin: 20px auto;
        width: 260px;
         @media(min-width: $tablet){
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &-legend{
        font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
        margin: 10px 0;
    }
    &-input{
        box-sizing: border-box;
        border: 1px solid #E0E0E0;
        width: 260px;
        height: 50px;
        padding: 10px;
            font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
        @media(min-width:$tablet){
            width: 340px;
        }
    }
    &-textarea{
        box-sizing: border-box;
        border: 1px solid #E0E0E0;
        width: 260px;
        height: 180px;
        padding: 10px;
        font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
        resize: none;
        @media(min-width:$tablet){
            width: 340px;
        }
    }
    &-button{
        width: 260px;
        height: 60px;
        position: relative;
        margin: 0 auto;
        display: block;
        box-sizing: border-box;
        color: #fff;
        background: #697F34;
        text-transform: uppercase;
        border: none;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        cursor: pointer;
        transition: background .3s;
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
        @media(min-width:$tablet){
            width: 180px;
            margin-right: 0;
        }
        &.disabled{
            background: #E0E0E0;
            cursor: text;
            &:hover{
                background: #E0E0E0;
            }
        }
    }
    &-stars{
        width: 340px;
        margin-top: 5px;
        a{
            border: none;
            &:hover{
                svg{
                    color: #A5BB70;
                    fill: #A5BB70; 
                }
            }
        }
        svg{
            transition: color .3s, fill .3s;
        }        
        .active{
            svg{
               color: #A5BB70;
               fill: #A5BB70; 
            }
        }
    }
}