.message
    form.message-form
        .message-fieldset 
            .message-title Написать сообщение    
        .message-fieldset 
            legend.message-legend Ваше имя
            input(type="text").message-input 
        .message-fieldset 
            legend.message-legend Сообщение
            input(type="textarea").message-textarea 
        .message-fieldset
            button.message-button.disabled отправить