.message
    form.message-form.js-form
        .message-fieldset 
            .message-title Написать сообщение    
        .message-fieldset 
            legend.message-legend Ваше имя
            input(type="text").message-input.js-inputcheck 
        .message-fieldset 
            legend.message-legend Сообщение
            textarea.message-textarea.js-inputcheck 
        .message-fieldset
            button.message-button.add-button__send.disabled отправить