.headermenu{
  &-items{
    display: none;
    @media(min-width: $desctop){
      display:flex;
      justify-content: space-between;
      margin: 7px -6px;
    }
  }
  &-item{
    list-style:none;
    margin: 0 6px;
  }
  &-link{
    text-decoration: none;
  }
}
