.headermenu{
  &-items{
    display: none;
    @media(min-width: $desctop){
      display:flex;
      justify-content: space-between;
      margin: 7px -12px;
    }  
  }
  &-item{
    list-style:none;
    margin: 0 12px;
  }
  &-link{
    text-decoration: none;
  }
}
