nav.headermenu-items
  li.headermenu-item
    a.headermenu-link.link__menu(href="company.html") О компании
  li.headermenu-item
    a.headermenu-link.link__menu(href="#") Мастеру
  li.headermenu-item
    a.headermenu-link.link__menu(href="#") Оптовикам
  li.headermenu-item
    a.headermenu-link.link__menu(href="pay.html") Оплата
  li.headermenu-item
    a.headermenu-link.link__menu(href="delivery.html") Доставка
  li.headermenu-item
    a.headermenu-link.link__menu(href="contacts.html") Контакты
