nav.headermenu-items
  li.headermenu-item
    a.headermenu-link.link__menu(href="#") О компании
  li.headermenu-item
    a.headermenu-link.link__menu(href="#") Мастеру
  li.headermenu-item
    a.headermenu-link.link__menu(href="#") Оптовикам
  li.headermenu-item
    a.headermenu-link.link__menu(href="#") Оплата
  li.headermenu-item
    a.headermenu-link.link__menu(href="#") Доставка
  li.headermenu-item
    a.headermenu-link.link__menu(href="#") Контакты
