.delivery
.delivery-description Выбирайте удобный для вас способ доставки
.delivery-city
    .delivery-city-title Ваш город
    input.delivery-city-input(placeholder="Анжеро-Судженск")
    button.delivery-city-button Показать
.delivery-radioblock
    h2 Способ доставки
    input(type="radio", id="ship", data-target="delivery",name="delivery", checked="checked").delivery-radio
    label(for="ship").delivery-label Курьерская доставка
    input(type="radio", id="pickup", data-target="pickup", name="delivery").delivery-radio
    label(for="pickup").delivery-label Самовывоз
.delivery-method-item.delivery-method-item__active(data-for="delivery")
    .delivery-company-title Транспортная компания СДЭК
    .delivery-company-info
        .delivery-info-string
            .delivery-info-title Срок доставки
            .delivery-white-block 
                p 1-4 дня
                p.grey c 30.07.2018
                p.grey по 02.08.2018
        .delivery-info-string
            .delivery-info-title Оплата
            .delivery-white-block 
                p Наличными или банковской картой
        .delivery-info-string
            .delivery-info-title Время доставки
            .delivery-white-block 
                p с 11:00 до 20:00
        .delivery-disclaimer
            h3 Внимание!
            p Сроки доставки указан при заказе в будние дни. При заказе в выходные дни, срок доставки может быть увеличен на 1-2 дня.
.delivery-method-item.delivery-method-item__big(data-for="pickup")
    .delivery-mapcontainer
        .delivery-addresses-container
            .delivery-addresses-top   
                .delivery-addresses-title Пункты самовывоза 
                .delivery-addresses-counter 4 из 10
            ul.delivery-addresses-items
                li(data-id="1" data-coords="56.8522511,53.2091607" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item.delivery-addresses-item__active
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="2" data-coords="56.8522555,53.2091200" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="3" data-coords="54.8522511,53.2091655" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="4" data-coords="56.5522511,53.3091607" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="5" data-coords="56.8522611,53.2095507" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="6" data-coords="56.8522511,53.2098807" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                     span с 30.07.2018 по 02.08.2018
                li(data-id="7" data-coords="76.8522511,53.2091407" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="8" data-coords="56.8529511,43.2091607" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="9" data-coords="56.7522511,53.2092607" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="10" data-coords="56.8322511,53.2091607" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="11" data-coords="57.8522511,53.4091607" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="12" data-coords="57.8523511,53.4091607" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
                li(data-id="13" data-coords="58.8522511,53.4091607" data-baloon="г. Москва, м Баррикадная, Большая Грузинская улица, д. 20" ).js-map_point.delivery-addresses-item
                    p г. Москва, м Баррикадная, Большая Грузинская улица, д. 20
                    small пн-вс: 10:00-21:00
                    span с 30.07.2018 по 02.08.2018
        .delivery-map
            #map(width="100%", height="400")
.delivery-time
    h2 Сроки доставки
    .delivery-time-city
        .delivery-time-item
            .delivery-time-title Москва и область:
            .delivery-time-info 1-3 дня
        .delivery-time-item
            .delivery-time-title Санкт-Петербург и область:
            .delivery-time-info 1-4 дня
        .delivery-time-item
            .delivery-time-title Другие города России:
            .delivery-time-info 3-14 дней
.delivery-contacts
    p В ряде случаев (в период праздников) сроки доставок могут быть увеличены. 
        | Уточняйте, пожалуйста, детали 
        | у наших менеджеров или операторов службы доставки 
        | по телефону:
    .delivery-phone 8 800 700 45 11