.header{
  &-left{
    display: flex;
    align-items: center;
  }
  &-center{
    display: none;
    @media(min-width: $desctop){
      display: flex;
    }
  }
  &-right{
    @media(min-width: $tablet){
      margin-top: 18px;
      width: calc(50% - 20px);
    }
    @media(min-width: $desctop){
        width: auto;
    }
  }
}
