.header{
  @media(min-width:$desctop){
    padding: 20px 0;
  }
  &-logo{
    margin-right: 40px;
  }
  &-search{
    margin-right: 30px;
  }
  &-city{
    margin-right: 20px;
  }
  &-icons{
    flex-grow: 1;
    flex-shrink: 0;
  }
}
