.header{
  position: relative;
  &-left{
    display: flex;
    align-items: center;
    @media(min-width: $desctop){
      margin-right: 40px;
    }
  }
  &-center{
    display: none;
    @media(min-width: $desctop){
      display: flex;
    }
  }
  &-city{
    @media(min-width:$desctop){
      margin-left: 30px;
    }
  }
  &-right{
    @media(min-width: $tablet){
      margin-top: 18px;
      width: calc(50% - 20px);
    }
    @media(min-width: $desctop){
        width: auto;
        margin-top: 10px;
    }
  }
}
