header.header
  .container.container__header
    .header-left
      include ../../components/header/headerburger/headerburger
      include ../../components/header/headerlogo/headerlogo
    .header-center
      .header-search
        include ../../components/header/headersearch/headersearch
        include ../../components/header/headermenu/headermenu
      .header-city
        include ../../components/header/headercity/headercity
        include ../../components/header/headerphone/headerphone
    .header-right
      include ../../components/header/headericons/headericons
