header.header
  .container.container__header
    .header-burger
      include ../../components/header/headerburger/headerburger
    .header-logo
      include ../../components/header/headerlogo/headerlogo
    .header-search
      include ../../components/header/headersearch/headersearch
      include ../../components/header/headermenu/headermenu
    .header-city
      include ../../components/header/headercity/headercity
      include ../../components/header/headerphone/headerphone
    .header-icons
      include ../../components/header/headericons/headericons
