.product{
  border: 1px solid $bordergray;
  padding: 40px 20px;
  padding-bottom: 27px;
  text-align: center;
  max-width: 340px;
  position: relative;
  margin: 0 auto;
  z-index: auto;
  box-sizing: border-box;
  background: $buttontext;
  @media(min-width:$tablet){
    height: 550px;
  }
  @media(min-width: $desktop){
    border-color: transparent;
    transition: border .3s, box-shadow .3s;
    box-shadow:0;
    cursor: pointer;
    margin-bottom: 30px;
    height: 615px;
    &:hover{
      border: 1px solid $bordergray;
      .product-name{
        color: #697F34;
      }
      &:after{
        content: "";
        display: block;
        width: calc(100% - 20px);
        height: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        z-index: -1;
        right: 10px;
      }
          
    }
     .product-heart{
        opacity: 1;
      }
  }
  &-fastshow{
    position: relative;
    display: block;
    @media(min-width:$desktop){
      &-title{
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 65px);
        box-sizing: border-box;
        width: 129px;
        height: 30px;
        border: 1px solid #E0DFDA;
        border-radius: 30px;
        background: rgba(255, 255, 255, 0.5);
        text-align: center;
        padding: 5px 0;
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
        z-index: 800;
        display: none;
      }
      &:hover{
        .product-fastshow-title{
          display: block;
        }
      }
    }
  }
  &-noimage{
    &:before{
      content: '';
      background: #EAEAEA;
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom: 55%;
      @media(min-width: $desktop){
        bottom: 50%;
      }
    } 
    .product-pick{
       svg{
        position: relative;
        display: block;
        margin: 0 auto;
      }   
    }
  }
  &-title{
    text-align: center;
    font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $link;
    background-image: url('../images/svg/flower_little.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    padding: 10px 0;
    position: relative;
    @media(min-width:$tablet){
      font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif;
      background-image: url('../images/svg/flower_middle.svg');
      padding: 20px 0;
    }
    @media(min-width:$desktop){
      background-image: url('../images/svg/flower.svg');
      padding: 30px 0;
    }
    &:after, &:before{
      @media(min-width:$tablet){
        content: '';
        position: absolute;
        background: $brandborder;
        width: 160px;
        height: 1px;
      }
      @media(min-width:$desktop){
        width: 25%;
      }
    }
    &:before{
      right: 0;
      top: 50%;
    }
    &:after{
      left: 0;
      top: 50%;
    }
  }
  &-sticker{
    position: absolute;
    top: 20px;
    left: 20px;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 12px;
    font: 12px/28px MuseoSansNormal, Arial, Helvetica, sans-serif;
    &__new{
        background-image: url('../images/svg/ellipse_green.svg');
    }
    &__sale{
        background-image: url('../images/svg/ellipse_purple.svg');
    }
    &__action{
        background-image: url('../images/svg/ellipse_yellow.svg');
    }
  }
  &-heart{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: color .3s, fill .3s, background .3s, opacity .3s;
    @media(min-width:$desktop){
      opacity: 0;
    }
    svg{
      color: $primary;
      fill:$primary;
    }
    &:hover svg{
      color: $selection;
      fill:$selection;
    }
    &:active, &.active{
      background-image: url('../images/svg/click.svg');
      background-repeat: no-repeat;
      svg{
        opacity: 0;
      }
    }
  }
  &-pick{
    margin: 20px 0;
    @media(min-width:$tablet){
      margin: 7px 0;
      height: 183px;
      overflow: hidden;
    }
    @media(min-width: $desktop){
      margin: 40px 0;
    }
  }
  &-img{
    max-width: 86px;
    position: relative;
    margin: 0 auto;
    display: block;
    @media(min-width:$tablet){
      max-width: 140px;
      height: auto;
    }
    @media(min-width: $desktop){
      max-width: 140px;
    }
  }
  &-name{
    text-align: center;
    color: $title;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    margin-top:25px;
    transition: color .3s;
    border-bottom: none;
    @media(min-width:$tablet){
      margin-top: 56px;
    }
  }
  &-brand{
    text-align: center;
    color: $secondary;
    font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
  }
  &-rating{
     margin-top: 20px;
    @media(min-width:$tablet){
      margin-top: 20px;
      font-size: 0;
    }
  }
  &-stars{
    display: inline-block;
    vertical-align: middle;
  }
  &-star{
    color: $brandborder;
    fill: $brandborder;
    transition: color .3s, fill .3s;
    &:hover{
      color: $border;
      fill: $border;
    }
    cursor: pointer;
    &__full{
      color: $border;
      fill: $border;
    }
  }
  &-reviews{
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
    border: none;
  }
  &-priceblock{
    text-align: center;
    margin-top: 14px;
    @media(min-width:$tablet){
      padding-top: 20px;
      position: absolute;
      padding-left: 25%;
      padding-right: 25%;
      bottom: 90px;
    }
    @media(min-width:$desktop){
       padding-left: 20%;
      padding-right: 20%;
    }
  }
  &-price{
    margin-top: 20px;
    font: 26px/28px MuseoSansDark, Arial, Helvetica, sans-serif;
    @media(min-width:$tablet){
      margin-top: 20px;
      
    }
  }
  &-oldprice{
    font: 15px/36px MuseoSansNormal, Arial, Helvetica, sans-serif;
    @media(min-width:$tablet){
      position: absolute;
      top: -15px;
    }
    @media(min-width:$desktop){
      left: 0;
      right: 0;
      text-align: center;
    }
    span{
      text-decoration: line-through;
    }
  }
  &-newprice{
    color: $price;
    font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
    margin-top: -8px;
  }
  &-button{
    border: 1px solid $primary;
    outline: none;
    width: 160px;
    height: 40px;
    box-sizing: border-box;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    font: 12px/28px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor:pointer;
    background: transparent;
    margin-top: 16px;
    letter-spacing: 0.05em;
    &:hover, &:focus{
      outline: none;
      border: 1px solid $selection;
      color: $selection;
    }
    &:active{
      outline: none;
      border: 1px solid $selection;
      color: $buttontext;
      background: $selection;
    }
    @media(min-width:$tablet){
          position: absolute;
          left: calc(50% - 80px);
          bottom: 20px;
    }
  }
  &-fastshow{
    border: 0;
  }
}
