.password{
    &-title{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        color: #000;
        @media(min-width: $tablet){
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
            margin-bottom:40px;
        }
    }
    &-form{
        background: #F4F4F0;
        position: relative;
        margin: 30px -10px;
        padding: 20px 10px;
        @media(min-width:$tablet){
            margin: 30px auto 60px auto;
            padding: 30px 20px;
        }
        @media(min-width:$desktop){
            margin: 40px 0 153px 0;
            width: 66%;
            padding: 20px 60px 50px 20px;
        }
    }
    &-fieldset{
        width: 300px;
        position: relative;
        margin: 20px auto;
        @media(min-width:$tablet){
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__right{
            @media(min-width:$tablet){
                justify-content: flex-end;
            }
        }
    }
    &-legend{
        font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
    }
    &-input{
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid #E0E0E0;
        background: #fff;
        @media(min-width: $tablet){
            width: 430px;
        }
    }
    &-button{
        width: 100%;
        height: 60px;
        background: #F4F4F0;
        border: 1px solid #000;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        outline: none;
        text-transform: uppercase;
        font: 12px/20px MuseoSansNormal, Arial, Helvetica, sans-serif;
        letter-spacing: 0.05em;
        color: #000;
        @media(min-width:$tablet){
                width: 280px
            }
        &-wrap{
            @media(min-width:$tablet){
                width: 430px
            }
        }
    }
}