.password
    .password-title Изменить пароль
    form.password-form.js-form(action="")
        .password-fieldset
            legend.password-legend Старый пароль
            label.entry-label
                input(type="password").password-input.entry-input__password.js-inputcheck
                a(href="#").entry-eye.js-password.hide
        .password-fieldset
            legend.password-legend Новый пароль
            label.entry-label
                input(type="password").password-input.entry-input__password.js-inputcheck
                a(href="#").entry-eye.js-password.hide
        .password-fieldset
            legend.password-legend Подтверждение пароля
            label.entry-label
                input(type="password").password-input.entry-input__password.js-inputcheck
                a(href="#").entry-eye.js-password.hide
        .password-fieldset.password-fieldset__right
            .password-button-wrap
                button.password-button Изменить