.password
    .password-title Изменить пароль
    form.password-form(action="")
        .password-fieldset
            legend.password-legend Старый пароль
            input(type="text").password-input
        .password-fieldset
            legend.password-legend Новый пароль
            input(type="text").password-input
        .password-fieldset
            legend.password-legend Подтверждение пароля
            input(type="text").password-input
        .password-fieldset.password-fieldset__right
            .password-button-wrap
                button.password-button Изменить