.sort{
  &-block{
    background: $sortcolor;
    padding: 25px 40px 25px 20px;
    position: relative;
    border-top-right-radius: 50px;
    box-sizing: border-box;
    p{
      font: 12px/18px MuseoSansDark, Arial, Helvetica, sans-serif;
      color: $greyText;
      font-weight: 700;
      display: inline-block;
      margin-right: 12px;
    }
    &:after{
      content: '';
      position: absolute;
      display: block;
      right: 40px;
      top: 31px;
      border-top: 2px solid $arrow;
      border-left: 2px solid $arrow;
      width: 7px;
      height: 7px;
      transform: rotate(-135deg);
      transition: transform .3s, border-color .3s;
      @media(min-width:$tablet){
        display: none;
      }
    }
    &__active{
      .sort-list{
        height:auto;
        z-index: 500;
        background: $sortcolor;
        padding: 18px 20px 12px 20px;
        border-top: 1px solid $buttontext;
      }
      &:after{
        transform: rotate(45deg) translateY(7px);
        border-color:  $selection;
      }
    }
  }
  &-type{
    font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $selection;
    font-weight: 500;
    display: inline-block;
    position: relative;
    cursor:pointer;
    @media(min-width:$tablet){
      display: none;
    }
  }
  &-list{
    position: absolute;
    height:0;
    overflow: hidden;
    transition: height .3s;
    width: 100%;
    left:0;
    right:0;
    top: 100%;
    box-sizing: border-box;
    @media(min-width:$tablet){
      display: none;
    }
  }
  &-item{
    list-style: none;
  }
  &-link{
    font: 12px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $greyText;
    font-weight: 500;
    border: none;
    &__active{
      color: $selection;
      cursor: text;
    }
  }
  &-links{
    display: none;
    @media(min-width:$tablet){
      display: inline-block;
    }
  }
  &-anchor{
    margin-right: 34px;
    border: none;
    color: #333333;
    font: 12px/18px MuseoSansDark, Arial, Helvetica, sans-serif;
    &__active{
        color: $selection;
    }
  }
  &-svg{
    color: #333333;
    fill: #333333;
    transition: color .3s, fill .3s, transform .3s;
    &:hover{
       color: #697F34;
      fill: #697F34;
    }
    &.up{
       transform: rotate(-180deg)
    }    
  }
}
