.sort-block
  p Сортировать:
  .sort-type по популярности
  ul.sort-list
    li.sort-item
      a.sort-link.sort-link__active(href="#") по популярности
    li.sort-item
      a.sort-link(href="#") цены по убыванию
    li.sort-item
      a.sort-link(href="#") цены по возрастанию
    li.sort-item
      a.sort-link(href="#") по рейтингу
  .sort-links
    a.sort-anchor(href="#") по популярности
    a.sort-anchor(href="#") по цене
    a.sort-anchor(href="#") по рейтингу
