.bonuses{
    &-middle{
        @media(min-width:$tablet){
            display: flex;
            margin: 0 -10px;
        }   
    }    
    &-left{
        display: none;
        @media(min-width:$tablet){
            display: block;
            width: calc(62% - 20px);
            margin: 0 10px;
        }
        @media(min-width:$desktop){
            width: calc(66% - 20px);
            margin: 0 10px;
        }
    }
    &-right{
         margin-bottom: 30px;
        @media(min-width:$tablet){
            width: calc(38% - 20px);
            margin: 0 10px;
        }
        @media(min-width:$desktop){
            width: calc(34% - 20px);
            margin: 0 10px;
        }
    }
    &-counter{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        @media(min-width:$tablet){
            display: inline-block;
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
        } 
    }
    &-value{
        font: 20px/30px MuseoSansDark, Arial, Helvetica, sans-serif;
        margin: 10px 0;
        @media(min-width:$tablet){
            display: inline-block;
            font: 30px/40px MuseoSansDark, Arial, Helvetica, sans-serif;
            margin: 0;
        } 
    }
    &-button{
        width: 220px;
        height: 60px;
        display: block;
        box-sizing: border-box;
        background: #697F34;
        color: #fff;
        text-transform: uppercase;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        text-align: center;
        padding-top: 20px;
        margin: 10px 0;
        @media(min-width:$tablet){
            float: right;
        }        
        &:hover{
            color: #fff;
        }
        &__small{
            @media(min-width:$tablet){
                display: none;
            }  
        }
    }
    &-link{
        color: #000;  
        font: 15px MuseoSansNormal, Arial, Helvetica, sans-serif;  
        @media(min-width:$tablet){
            display: inline-block;
            margin: 10px 0;
        }        
    }
    &-program{
       border: 1px solid #E4E4E4;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        position: relative;
        padding: 16px 30px;
        z-index: 3;
        background: #fff;    
        margin: 20px 0;    
        @media(min-width:$tablet){
            margin: 0; 
        }
    }
    &-shadow{
        position: relative;
        &:after{
            content: "";
            display: block;
            width: 68%;
            height: 20px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0;
            z-index: -1;
            right: 12%;
        }
    }
    &-program-title{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        @media(min-width:$tablet){
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;  
        }
    }
    &-block{
        border-top: 1px solid #E4E4E4;
        padding: 15px 0;
        @media(min-width:$tablet){
            padding: 10px 0;
        }
    }
    &-info{
        margin: 15px 0;       
    }
    &-promo{
        font: 20px/30px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
        margin-bottom: 15px;
    }
    &-form{
        margin: 0 auto;
        width: 100%;
        max-width: 238px;
        box-sizing: border-box;
        position: relative;
        @media(min-width:$desktop){
            max-width: 100%;
        }
    }
    &-number{
        box-sizing: border-box;
        width: 100%;
        max-width: 239px; 
        height:50px;
        border: 1px solid #E0E0E0;
        border-top-right-radius: 30px;
        position: relative;
        margin: 0 auto;
        text-align:center;
        padding: 0 10px;
        @media(min-width: $desktop){
            border-radius: 0;
        }
        &__big{
            font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
            @media(min-width: $desktop){
                border-radius: 0;
            }
        }
    }
    &-copy{
        width: 100%;
        max-width: 238px;
        height: 50px;
        border: 1px solid #000000;
        background: #fff;
        outline:none;
        text-transform: uppercase; 
        position: relative;
        margin: 0 auto;
        margin-bottom: 15px;
        display: block; 
        cursor: pointer;
        @media(min-width:$desktop){
            border-top-right-radius: 30px;
        }      
    }
    &-top{
        @media(min-width:$tablet){  
            display: flex;
            justify-content: space-between;
            margin: 25px -10px;
            position: relative;
            align-items: flex-end;
        }
    }
    &-account{
        @media(min-width: $tablet){
            display: flex; 
        }  
    }
    &-button-wrap{
        display: none;
        @media(min-width:$tablet){
            display: block;
            width: calc(38% - 20px);
            margin: 0 10px;
        } 
        @media(min-width:$desktop){
            width: calc(34% - 20px);
            margin: 0 10px;
        }
    }
    &-table{
        width: 100%;
        box-sizing: border-box;
        display: table;
        background: #F4F4F0;
        padding: 20px 10px;
    }
    &-row{
        display: table-row;
        background: #fff;
    }
     &-row__top{
        display: table-row;
    }
    &-cell{
        display: table-cell;
        background: #fff;
        padding: 10px 20px;
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
        &::first-of-type{
            padding-left: 0;
        }
        @media(min-width:$desktop){
            padding: 20px;
        }
    }
    &-cell__top{
        display: table-cell;
        font: 15px/24px MuseoSansDark, Arial, Helvetica, sans-serif;
        padding: 10px 20px;
         @media(min-width:$desktop){
            padding: 20px;
        }
    }
    &-gray{
        background: #F4F4F0;
        width: 100%;
        height: 10px;
    }
    &-howuse{
        margin-top: 40px;
    }
    &-title{
        font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;  
        margin-bottom: 14px;
    }
    &-code{
        @media(min-width:$desktop){
            display: flex;
        }
    }
    &-title-wrap{
        @media(min-width:$tablet){           
            width: calc(62% - 20px);
            margin: 0 10px;
        }
        @media(min-width:$desktop){
            display: flex;
            width: calc(66% - 20px);
            margin: 0 10px;
            justify-content: space-between;
            background: #fff;
        }  
    }
}