.bonuses
    .bonuses-top
        .bonuses-counter Бонусный счет: 
        .bonuses-value 4 021 бонусов
        a(href="withdraw.html").js-popup.bonuses-button вывести бонусы
        a(hre="#").bonuses-link Как получить больше бонусов
    .bonuses-middle
        .bonuses-left 
            .bonuses-table
                .bonuses-row
                    .bonuses-cell__top Размер бонуса
                    .bonuses-cell__top Дата 
                    .bonuses-cell__top Комментарий
                    .bonuses-cell__top Действие
                .bonuses-row
                    .bonuses-cell +125 
                    .bonuses-cell 12.06.2018
                    .bonuses-cell Получен бонус за отзыв на товар
                    .bonuses-cell__top Начисление
                .bonuses-row
                    .bonuses-cell +125 
                    .bonuses-cell 12.06.2018
                    .bonuses-cell Получен бонус за отзыв на товар
                    .bonuses-cell__top Начисление
                .bonuses-row
                    .bonuses-cell +125 
                    .bonuses-cell 12.06.2018
                    .bonuses-cell Получен бонус за отзыв на товар
                    .bonuses-cell__top Начисление
            .bonuses-howuse
                .bonuses-title Как использовать бонусы
                p Интернет-магазин «LETO» - это уникальная возможность приобрести подходящую вам косметику и аксессуары не выходя из дома. Для вас мы очень кропотливо относимся к выбору каждого продукта. Именно поэтому работает только с сертифицированными дистрибьюторами.
        .bonuses-right
            .bonuses-shadow
                .bonuses-program
                    .bonuses-program-title Бонусная программа мастера
                    .bonuses-block
                        .bonuses-info Передайте вашим друзьям и клиентам промокод или зарегестрируйте по индивидуальнйо реферальной ссылке.
                        .bonuses-info Вы и ваши друзья получат дополнительные бонусы. 
                    .bonuses-block
                        .bonuses-promo Мой промокод на скидку 10%
                        .bonuses-form
                            .bonuses-number__big 4 7 7 8 5 9 4
                            button.bonuses-copy Копировать
                        a.bonuses-link(href="#") Изменить промокод
                    .bonuses-block
                        .bonuses-promo Моя ссылка
                        .bonuses-form
                            .bonuses-number leto.ru73838930711
                            button.bonuses-copy Копировать
                    