script(src="libs/jquery-3.3.1.min.js")
script(src="libs/jquery.maskedinput.min.js")
script(src="libs/jquery.inputmask.bundle.min.js")
script(src="libs/inputmask/inputmask.phone.extensions.min.js")
script(src="libs/jquery.maskedinput.min.js")
script(src="libs/owl.carousel.min.js")
script(src="libs/jquery.magnific-popup.min.js")
script(src="libs/jquery.mCustomScrollbar.min.js")
script(src="libs/ion.rangeSlider.min.js")
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="scripts/all.js")
