.stars
  svg.stars-star.stars-star__full(role="img")(width="20")(height="20"): use(xlink:href="#star")
  svg.stars-star.stars-star__full(role="img")(width="20")(height="20"): use(xlink:href="#star")
  svg.stars-star.stars-star__full(role="img")(width="20")(height="20"): use(xlink:href="#star")
  svg.stars-star(role="img")(width="20")(height="20"): use(xlink:href="#star")
  svg.stars-star(role="img")(width="20")(height="20"): use(xlink:href="#star")
