.maintopmenu{
  display: none;
  @media(min-width:$desktop){
    display: block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  &-nav{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    top: 23px;
    padding: 0 50px;
    background: $buttontext;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 400;
  }
  &-li{
    list-style: none;
    padding: 22px 5px;
  }
  &-link{
    text-transform: uppercase;
    text-decoration: none;
    font: 15px MuseoSansDark;
    letter-spacing: 0.05em;
    color: $primary;
    border-bottom: none;
    transition: .3 font-family;
    &:active{
      font-family: MuseoSansBold, Arial, Helvetica, sans-serif;
    }
    &__icon{
      &:before{
        content: "";
        display: inline-block;
        width: 21px;
        height: 14px;
        background-image:url("../images/svg/menuicon.svg");
        background-repeat: no-repeat;
        margin-right: 3px;
      }
    }
    &__action{
      color: $selection;
    }
    &__sub.active{
      color: $selection
    }
  }
  &-submenu{
    position: absolute;
    visibility: hidden;
    box-sizing: border-box;
    z-index:10;
    height: 0;
    overflow:hidden;
    transition: height .3s;
    &.active{
      visibility: visible;
      background:$buttontext;
      width: calc(100% - 4px);
      left:2px;
      right:3px;
      top: 50px;
      display: flex;
      padding: 50px;
      padding-top:65px;
      flex-direction: column;
      flex-wrap: wrap;
      height: 600px;
      overflow:hidden;
      align-content: flex-start;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      z-index: 300;
    }
  }
  &-subul{
    margin-bottom: 10px;
    margin-right:20px;
    width: calc(25% - 20px);
    &:last-of-type{
      width: 25%;
      margin-right:0;
    }
  }
  &-subli{
    list-style:none;
    margin: 10px 0;
  }
  &-sublink{
    border-bottom: none;
  }
  &-inner{
    display: none;
  }
  .submenu-image{
    width: 290px;
  }
  &__main{
    .maintopmenu-nav{
      position: absolute;
    }
  }
}
