.maintopmenu{
  display: none;
  @media(min-width:$desctop){
    display: block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  &-nav{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    top: 20px;
    padding: 27px 50px;
    background: $buttontext;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  &-li{
    list-style: none;
  }
  &-link{
    text-transform: uppercase;
    text-decoration: none;
    font: 15px MuseoSansDark;
    letter-spacing: 0.05em;
    color: $primary;
    border-bottom: none;
    transition: .3 font-family;
    position: relative;
    &:active{
      font-family: MuseoSansBold;
    }
    &__icon{
      &:before{
        content: "";
        display: inline-block;
        width: 21px;
        height: 14px;
        background-image:url("../images/svg/menuicon.svg");
        background-repeat: no-repeat;
        margin-right: 3px;
      }
    }
    &__action{
      color: $selection;
    }
  }
}
