.maintopmenu
  ul.maintopmenu-nav
    li.maintopmenu-li
      a.maintopmenu-link(href="#") бренды
    li.maintopmenu-li
      a.maintopmenu-link(href="#") салонам красоты
    li.maintopmenu-li
      a.maintopmenu-link(href="#") стилисту
    li.maintopmenu-li
      a.maintopmenu-link(href="#") нейл-мастеру
    li.maintopmenu-li
      a.maintopmenu-link(href="#") косметологу
    li.maintopmenu-li
      a.maintopmenu-link(href="#") бровисту
    li.maintopmenu-li
      a.maintopmenu-link.maintopmenu-link__icon(href="#") proleto
    li.maintopmenu-li
      a.maintopmenu-link(href="#") новинки
    li.maintopmenu-li
      a.maintopmenu-link.maintopmenu-link__action(href="#") акции
