mixin maintopmenu(main)
  .maintopmenu(class=main)
    ul.maintopmenu-nav
      li.maintopmenu-li.maintopmenu-li__sub
        a.maintopmenu-link(href="#") бренды
      li.maintopmenu-li.maintopmenu-li__sub
        a.maintopmenu-link.maintopmenu-link__sub(href="salon.html") салонам красоты
        .maintopmenu-inner
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Одноразовая продукция
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Воротнички
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Косметология
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Пеньюары, фартуки
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Перчатки
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Полотенца
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Простыни
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Салфетки
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Тапочки
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Фольга, бумага для мелирования
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Шапочки
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Солярий
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Аксессуары для солярия
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Крема для загара
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Дезинфекция
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Дезинфицирующие средства
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Крафт пакеты
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Стерилизаторы
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Оборудование
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Бренды
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Guam
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Hairway
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Harizma
            li.maintopmenu-subli
                a.maintopmenu-sublink(href="card.html") Jaguar
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Katachi
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Lash&Brow
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") LETO
            li.maintopmenu-subli
                a.maintopmenu-sublink(href="card.html") Molekule professional
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Moser
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Olivia Garden
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Oster
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Parlux
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="#") Refectocil
          img.submenu-image.maintopmenu-subul(src="../assets/menuaction.png")
      li.maintopmenu-li.maintopmenu-li__sub
        a.maintopmenu-link.maintopmenu-link__sub(href="card.html") стилисту
        .maintopmenu-inner
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Электротовары
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Барберу
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Ножницы, бритвы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Аксессуары
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Фартуки,пеньюары
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Расчески, щетки, брашинги
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Учебные головы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Косметика
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бумага для химии
      li.maintopmenu-li.maintopmenu-li__sub
        a.maintopmenu-link.maintopmenu-link__sub(href="card.html") нейл-мастеру
        .maintopmenu-inner
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Парафинотерапия
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Уход за кожей рук
            li.maintopmenu-subli
              a(href="card.html") Бахилы
      li.maintopmenu-li.maintopmenu-li__sub
        a.maintopmenu-link.maintopmenu-link__sub(href="card.html") косметологу
        .maintopmenu-inner
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Депиляция
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Шугаринг
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Уход за лицом
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Пилинги
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
      li.maintopmenu-li.maintopmenu-li__sub
        a.maintopmenu-link.maintopmenu-link__sub(href="card.html") бровисту
        .maintopmenu-inner
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Краска для бровей и ресниц
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Хна для бровей и ресниц
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Аксессуары для окрашивания
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
          ul.maintopmenu-subul
            li.maintopmenu-subli
              a(href="#") Косметика декоративная
            li.maintopmenu-subli
              a.maintopmenu-sublink(href="card.html") Бахилы
      li.maintopmenu-li
        a.maintopmenu-link.maintopmenu-link__icon(href="card.html") proleto
      li.maintopmenu-li
        a.maintopmenu-link(href="card.html") новинки
      li.maintopmenu-li
        a.maintopmenu-link.maintopmenu-link__action(href="card.html") акции
    .maintopmenu-submenu
