.maintopmenu
  ul.maintopmenu-nav
    li.maintopmenu-li
      a.maintopmenu-link(href="#") бренды
    li.maintopmenu-li.maintopmenu-li__sub
      a.maintopmenu-link.maintopmenu-link__sub(href="#") салонам красоты
      .maintopmenu-submenu
        ul.maintopmenu-subul
          li.maintopmenu-subli
            span Одноразовая продукция
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Бахилы
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Бумага для химии
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Воротнички
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Косметология
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Пеньюары, фартуки
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Перчатки
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Полотенца
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Простыни
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Салфетки
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Тапочки
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Фольга, бумага для мелирования
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Шапочки
        ul.maintopmenu-subul
          li.maintopmenu-subli
            span Солярий
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Аксессуары для солярия
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Крема для загара
        ul.maintopmenu-subul
          li.maintopmenu-subli
            span Дезинфекция
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Дезинфицирующие средства
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Крафт пакеты
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Стерилизаторы
        ul.maintopmenu-subul
          li.maintopmenu-subli
            span Оборудование
        ul.maintopmenu-subul
          li.maintopmenu-subli
            span Бренды
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Guam
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Hairway
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Harizma
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Jaguar
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Katachi
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Lash&Brow
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") LETO
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Molekule professional
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Moser
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Olivia Garden
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Oster
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Parlux
          li.maintopmenu-subli
            a.maintopmenu-sublink(href="#") Refectocil
        img.submenu-image(src="../assets/menuaction.png")
    li.maintopmenu-li
      a.maintopmenu-link(href="#") стилисту
    li.maintopmenu-li
      a.maintopmenu-link(href="#") нейл-мастеру
    li.maintopmenu-li
      a.maintopmenu-link(href="#") косметологу
    li.maintopmenu-li
      a.maintopmenu-link(href="#") бровисту
    li.maintopmenu-li
      a.maintopmenu-link.maintopmenu-link__icon(href="#") proleto
    li.maintopmenu-li
      a.maintopmenu-link(href="#") новинки
    li.maintopmenu-li
      a.maintopmenu-link.maintopmenu-link__action(href="#") акции
