.personal
    .personal-col__8
        .personal-information
            .personal-information-top
                .personal-information-title Моя информация
                .personal-information-change
                    a(href="editinformation.html").js-popup Изменить 
            .personal-information-middle
                .personal-pick.personal-pick__radius
                    img(src="assets/personal.png")
                .personal-content
                    .personal-info Иванова Елена 
                    .personal-info
                        span Телефон:
                        | +7 912 885 55 55
                    .personal-info 
                        span E-mail: 
                        | aleksandra1987@gmail.com
        .personal-information
            .personal-information-top
                .personal-information-title Моя компания
                .personal-information-change
                    a(href="editcompany.html").js-popup Изменить 
            .personal-information-middle
                .personal-content
                    .personal-info ООО «Профкосметик Чебоксары»
                    .personal-info 
                        span Телефон: 
                        | +7 912 885 55 55
                    .personal-info 
                        span E-mail: 
                        | aleksandra1987@gmail.com
                    .personal-info ИНН 784836372828
                    .personal-info 
                        span Адрес: 
                        | РФ, г. Чебоксары, ул. Ленина, 453 офис 51 
    .personal-col__4
        .personal-information.personal-information__small
            .personal-information-top
                .personal-information-title Мой менеджер 
            .personal-information-middle
                .personal-pick
                    img(src="assets/manager.png")
                .personal-content
                    .personal-info Иванова Елена        
                    .personal-information-manager
                        .personal-info +7 912 568 54 54 
                        .personal-info +7 912 885 55 55
                        .personal-info aleksandra1987@gmail.com 
                    .personal-information-middle
                        a(href="message.html").personal-button Написать сообщение