.footerbottom{
  color: $secondary;
  margin-top: 46px;
  margin-bottom: 20px;
  font: 14px/17px MuseoSansNormal, Arial, Helvetica, sans-serif;
  @media(min-width: $tablet){
    text-align: center;
    margin-top: 30px;
  }
  @media(min-width: $desctop){
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
