.footerbottom{
  color: $secondary;
  margin-top: 31px;
  margin-bottom: 50px;
  font: 14px/17px MuseoSansNormal, Arial, Helvetica, sans-serif;
  a{
    border-bottom: 0;
    font: 14px/17px MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
  p{
    font: 14px/17px MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
  @media(min-width: $tablet){
    text-align: center;
    margin-top: -14px;
    margin-bottom: 55px;
  }
  @media(min-width: $desktop){
    margin-top: 60px;
    margin-bottom: 60px;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
}
