.filterpanel
  .filterpanel-top Фильтр
    .filterpanel-close
  .filterpanel-blocks
    .filterpanel-block
      .filterpanel-title Одноразовая продукция
        .filterpanel-arrow
      ul.filterpanel-ul
        li.filterpanel-li Зубные пасты
        li.filterpanel-li Кремы
        li.filterpanel-li Лечебная косметика
        li.filterpanel-li Лосьоны и тоники
        li.filterpanel-li Маски, патчи
        li.filterpanel-li Масла и сыворотки
        li.filterpanel-li Умывание
    .filterpanel-block
      .filterpanel-title Дезинфекция
        .filterpanel-arrow
      ul.filterpanel-ul
        li.filterpanel-li Зубные пасты
        li.filterpanel-li Кремы
        li.filterpanel-li Лечебная косметика
        li.filterpanel-li Лосьоны и тоники
        li.filterpanel-li Маски, патчи
        li.filterpanel-li Масла и сыворотки
        li.filterpanel-li Умывание
    .filterpanel-block
      .filterpanel-title Солярий
        .filterpanel-arrow
      ul.filterpanel-ul
        li.filterpanel-li Зубные пасты
        li.filterpanel-li Кремы
        li.filterpanel-li Лечебная косметика
        li.filterpanel-li Лосьоны и тоники
        li.filterpanel-li Маски, патчи
        li.filterpanel-li Масла и сыворотки
        li.filterpanel-li Умывание
    .filterpanel-block
      .filterpanel-title Оборудование
        .filterpanel-arrow
      ul.filterpanel-ul
        li.filterpanel-li Зубные пасты
        li.filterpanel-li Кремы
        li.filterpanel-li Лечебная косметика
        li.filterpanel-li Лосьоны и тоники
        li.filterpanel-li Маски, патчи
        li.filterpanel-li Масла и сыворотки
        li.filterpanel-li Умывание
  .filterpanel-brands
    .filterpanel-result
    ul.filterpanel-brandsitems
      li.filterpanel-brandsitem 2211 Cosmetics
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Baxter of California
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Beautyblender
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Carmex
        .filterpanel-brandsvg
      li.filterpanel-brandsitem COR Silver soap
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Cosmetics 27
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Cosmetics 27
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Embryolisse
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Evian
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Grown Alchemist
        .filterpanel-brandsvg
      li.filterpanel-brandsitem ILIA
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Indola
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Jason
        .filterpanel-brandsvg
      li.filterpanel-brandsitem LION
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Lucas Papaw
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Malin+Goetz
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Mene & Moy System
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Orihiro
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Professional Solutions
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Revitalash
        .filterpanel-brandsvg
      li.filterpanel-brandsitem S-heart-S
        .filterpanel-brandsvg
      li.filterpanel-brandsitem Tony Moly
        .filterpanel-brandsvg
      li.filterpanel-brandsitem You Need It
        .filterpanel-brandsvg
