.headersearch{
  &-form{
      display:flex;
  }
  &-label{
    width: calc(100% - 80px);
    position: relative;
  }
  &-input{
    display: none;
    @media(min-width:$desctop){
      display: block;
      width: 100%;
      padding: 11px;
      padding-left:46px;
      box-sizing: border-box;
      border: 1px solid $border;
      font: 15px/18px MuseoSansMidle, Arial, Helvetica, sans-serif;
      color: $input;
      height:40px;
      &:hover{
        border: 1px solid $border;
      }
    }
  }
  &-svg{
    @media(min-width:460px){
      width: 35px;
      height: 35px;
    }
    @media(min-width:$tablet){
      width: 26px;
      height: 26px;
    }
    @media(min-width:$desctop){
      position: absolute;
      left: 24px;
      top: 11px;
      width: 16px;
      height: 16px;
      color: $selection;
      fill: $selection;
    }
  }
  input::placeholder {
    color: $input;
    font: 15px/18px MuseoSansMidle, Arial, Helvetica, sans-serif;
    opacity:1;
  }
  &-button{
    display: none;
    @media(min-width:$desctop){
      display: block;
      width: 80px;
      height:40px;
      border:none;
      background: $border;
      color: $buttontext;
      font: 15px/18px MuseoSansMidle, Arial, Helvetica, sans-serif;
      border-top-right-radius: 50px;
      text-align: center;
      padding:11px;
    }
  }
  &-title{
    display: none;
    font: 12px/14px MuseoSansNormal, Arial, Helvetica, sans-serif;
      @media(min-width:$tablet){
        display: block;
      }
  }
}
.autocomplete{
  &.active{
    position: absolute;
    background: $buttontext;
    z-index:999;
    padding: 10px;
    top:calc(100% - 5px);
    width: calc(100% - 2px);
    left: 1px;
    box-sizing: border-box;
  }
  li{
    list-style: none;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    margin: 20px 0;
    a{
      color:$link;
      border: none;
    }
  }
}
