.headersearch
  form(action="").headersearch-form
    label.headersearch-label
      input.headersearch-input(type="search", placeholder="Поиск")
      svg.headersearch-svg(role="img")(width="16")(height="16"): use(xlink:href="#search")
    button.headersearch-button(type="button") Найти
