.add
    form.add-form.js-form
        .add-fieldset
            .add-title Моя компания
        .add-fieldset
            legend.add-legend Название
            input(type="text", name="название", value="ООО «Профкосметик Чебоксары»").add-input.js-inputcheck
        .add-fieldset
            legend.add-legend Телефон
            input(type="text", name="телефон", value="+7 912 885 55 55").add-input.js-inputcheck
        .add-fieldset
            legend.add-legend E-mail
            input(type="text", name="e-mail", value="aleksandra1987@gmail.com").add-input.js-inputcheck
        .add-fieldset
            legend.add-legend ИНН
            input(type="text", name="ИНН", value="784836372828").add-input.js-inputcheck
        .add-fieldset
            legend.add-legend Адрес
            input(type="text", name="адрес", value="РФ, г. Чебоксары, ул. Ленина, 453 офис 51").add-input.js-inputcheck
        .add-fieldset.add-fieldset__right
            .add-button-wrap
                a(href="#").add-button.add-button__close отмена
                button.add-button.add-button__send.disabled сохранить