.order-deliveryfree{
    background: $cartbg;
    border: 1px solid $borderorder;
    padding: 25px;
    box-sizing: border-box;
    border-top-right-radius: 50px;
    text-align: center;
    @media(min-width:$tablet){
        font: 12px/18px MuseoSansNomal, Arial, Helvetica, sans-serif;
        padding: 10px 25px;
    }
    @media(min-width:$desktop){
        padding: 25px;
    }
}
