include ../../components/mainmidle/goodsofday/goodsofday
include ../../components/mainmidle/maingoods/maingoods
+bestseller("Бестсселеры")(class="bestseller__main")
include ../../components/mainmidle/saleofday/saleofday
+bestseller("недавно просмотреные")(class="bestseller__main")
