include ../../components/mainmidle/goodsofday/goodsofday
include ../../components/mainmidle/maingoods/maingoods
include ../../components/mainmidle/bestseller/bestseller
include ../../components/mainmidle/saleofday/saleofday
include ../../components/mainmidle/bestseller/bestseller
