include ../../components/mainmidle/goodsofday/goodsofday
include ../../components/mainmidle/maingoods/maingoods
+bestseller("Бестсселеры")
include ../../components/mainmidle/saleofday/saleofday
+bestseller("недавно просмотреные")
