include ../../components/mainmidle/goodsofday/goodsofday
.container
    include ../../components/mainmidle/maingoods/maingoods
    +bestseller("Бестселлеры")(class="bestseller__main")
include ../../components/mainmidle/saleofday/saleofday
.container
    +bestseller("недавно просмотренные")(class="bestseller__main")
