.innermenu-hamburger
    span
ul.innermenu-fullmenu
    li.innermenu-fullmenu-li 
        a(href="#").innermenu-fullmenu-link о нас
    li.innermenu-fullmenu-li 
        span.innermenu-fullmenu-current доставка
    li.innermenu-fullmenu-li 
        a(href="#").innermenu-fullmenu-link оплата
    li.innermenu-fullmenu-li 
        a(href="#").innermenu-fullmenu-link оптовым покупателям
    li.innermenu-fullmenu-li 
        a(href="#").innermenu-fullmenu-link связаться с нами
    li.innermenu-fullmenu-li 
        a(href="#").innermenu-fullmenu-link карта сайта