.maingoods{
  position: relative;
  margin-bottom: 47px;
  @media(min-width:$tablet){
    margin-bottom: 100px;
  }
  @media(min-width:$desktop){
    margin-top: 65px;
    &:after{
      content: '';
      position:absolute;
      left: 0;
      background-image: url('../images/svg/branch.svg');
      width: 180px;
      height: 247px;
      top: 181px;
    }
  }
  &-title{
    color: $title;
    font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
    margin-top: 14px;
    margin-bottom: 6px;
    @media(min-width:$tablet){
      font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
      max-width:340px;
      margin-top: 18px;
    }
    @media(min-width:$desktop){
      max-width:100%;
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
  &-brand{
    color: $secondary;
    font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
  }
  &-price{
    font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
    @media(min-width:$tablet){
      margin-top: 13px;
    }
  }
  &-pick{
    position: relative;
    text-align: center;
    margin-top:30px;
    @media(min-width:$tablet){
      margin-top:0;
    }
    @media(min-width:$desktop){
      top: -38px;
      left: 142px;
    }
  }
  &-image{
    max-width: 208px;
    @media(min-width:$tablet){
      max-width: 100%;
      position:relative;
      top: 13px;
      right: 33px;
    }
    @media(min-width:$desktop){
      max-width: 100%;
      top: 13px;
    }
  }
  &-link{
    position: absolute;
    left: 0;
    bottom: 20px;
    font: 15px/18px MuseoSansDark, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 30px;
    box-sizing: border-box;
    border-bottom: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 200px;
    height: 80px;
    z-index: 800;
    transition: background .3s, color .3s;
    @media(min-width:$tablet){
      bottom: 0;
    }
    &:hover, &:active{
      background: $selection;
      color:$buttontext;
      svg{
        color:$buttontext;
        fill:$buttontext;
      }
    }
    span{
      left: 8px;
      position: relative;
      letter-spacing: 0.05em;
    }
    &__new{
      background: $greenbutton;
      color: $buttontext;
      @media(min-width:$tablet){
        bottom: 10px;
      }
      @media(min-width:$desktop){
        bottom: 34px;
      }
      .maingoods-svg{
        color: $buttontext;
        fill: $buttontext;
      }
    }
    &__day{
      background: $yellowbutton;
      width: 200px;
      color: $primary;
      bottom:0;
      @media(min-width:$tablet){
        bottom: -29px;
      }
      @media(min-width:$desktop){
        bottom: 55px;
      }
      .maingoods-svg{
        color: $primary;
        fill: $primary;
      }
    }
  }
  &-priceblock{
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media(min-width:$tablet){
      display: block;
    }
    @media(min-width:$desktop){
      margin-top: 18px;
    }
  }
  &-oldprice{
    font: 15px/36px MuseoSansNormal, Arial, Helvetica, sans-serif;
    margin-top: -6px;
    margin-bottom: -9px;
    span{
      text-decoration: line-through;
    }
  }
  &-newprice{
    color: $price;
    font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
  }
  &-figure{
    position: relative;
    padding-bottom: 30px;
    @media(min-width:$tablet){
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
    }
    @media(min-width:$desktop){
      display: block;
    }
  }
  &-item{
    margin-top: 18px;
    @media(min-width:$desktop){
      margin: 0 10px;
      width: calc(50% - 20px);
    }
    &__action{
      .maingoods-figure{
        @media(min-width:$tablet){
          padding-bottom: 80px;
        }
        @media(min-width:$desktop){
          padding-bottom: 0;
        }
      }
      .maingoods-pick{
        @media(min-width:$desktop){
          top:-50px;
        }
      }
      .maingoods-image{
        @media(min-width:$tablet){
          top: 142px;
          right: -3px;
        }
        @media(min-width:$desktop){
          top: 0;
          right: 31px;
        }
      }
      .maingoods-title{
        @media(min-width:$tablet){
          margin-top: 31px;
          margin-bottom: 14px;
        }
        @media(min-width:$desktop){
          margin-top: 0;
        }
      }
    }
    .maingoods-newprice{
      @media(min-width:$tablet){
        margin-top: 8px;
      }
    }
  }
  &-container{
    @media(min-width:$desktop){
      display: flex;
      margin: 0 -10px;
    }
  }
}
