.maingoods{
  position: relative;
  margin-bottom: 47px;
  @media(min-width:$tablet){
    margin-bottom: 100px;
  }
  @media(min-width:$desktop){
    margin-top: 65px;
  }
  &-title{
    color: $greyText;
    font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
    margin-top: 14px;
    margin-bottom: 6px;
    @media(min-width:$tablet){
      font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
      max-width:340px;
      margin-top: 18px;
    }
    @media(min-width:$desktop){
      max-width:100%;
      margin-top: 0;
      margin-bottom: 12px;
    }
  }
  &-brand{
    color: $secondary;
    font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
  }
  &-price{
    font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
    @media(min-width:$tablet){
      margin-top: 13px;
    }
  }
  &-pick{
    position: relative;
    text-align: center;
    margin-top:30px;
    height:223px;
    width: 100%;
    @media(min-width:$tablet){
      width: calc(50% - 20px);
      height:280px;
    }
    @media(min-width:$desktop){
      height: 301px;
      width: calc(100% - 225px);
      float: right;
      position: absolute; 
      bottom: -200px;
      right: 0;
    }
  }
  &-image{
    width:100%;
    height: 100%;
    background-position:center center;
    background-size: contain;
    background-repeat: no-repeat;
    @media(min-width:$desktop){
      background-position:center bottom;
    }   
  }
  &-link{
    position: absolute;
    left: 0;
    bottom: 20px;
    font: 15px/18px MuseoSansDark, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 30px;
    box-sizing: border-box;
    border-bottom: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 200px;
    height: 80px;
    z-index: 800;
    transition: background .3s, color .3s;
    @media(min-width:$tablet){
      bottom: -10px;
    }
    @media(min-width:$desktop){
      bottom: -200px;
    }
    &:hover, &:active{
      background: $selection;
      color:$buttontext;
      svg{
        color:$buttontext;
        fill:$buttontext;
      }
    }
    span{
      left: 8px;
      position: relative;
      letter-spacing: 0.05em;
    }
    &__new{
      background: $greenbutton;
      color: $buttontext;      
      .maingoods-svg{
        color: $buttontext;
        fill: $buttontext;
      }
    }
    &__day{
      background: $yellowbutton;
      width: 200px;
      color: $greyText;      
      .maingoods-svg{
        color: $primary;
        fill: $primary;
      }
    }
  }
  &-priceblock{
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media(min-width:$tablet){
      display: block;
    }
    @media(min-width:$desktop){
      margin-top: 18px;
    }
  }
  &-oldprice{
    font: 15px/36px MuseoSansNormal, Arial, Helvetica, sans-serif;
    margin-top: -6px;
    margin-bottom: -9px;
    span{
      text-decoration: line-through;
    }
  }
  &-newprice{
    color: $price;
    font: 26px/36px MuseoSansDark, Arial, Helvetica, sans-serif;
  }
  &-figure{
    position: relative;
    padding-bottom: 30px;   
    margin: 0 auto;
    @media(min-width:$tablet){
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;      
    }
    @media(min-width:$desktop){
      display: block;
      height: 100%;      
    }
  }
  &-item{
    margin-top: 18px;
    position: relative;
    @media(min-width:$desktop){
      margin: 0 10px;
      width: calc(50% - 20px);
      padding-bottom: 200px;
    }   
      }
  &-container{
    @media(min-width:$desktop){
      display: flex;
      margin: 0 -10px;
    }
  }
}
