.maingoods
  .maingoods-container
    article.maingoods-item
      figure.maingoods-figure
        figcaption.maingoods-figcaption
          h3.maingoods-title Маска Альгинатная Darigue
          .maingoods-brand Darigue
          .maingoods-priceblock
            .maingoods-price 1 200 руб
        .maingoods-pick
          .maingoods-image(style="background-image:url('assets/maingoods.png')")
        a.maingoods-link.maingoods-link__new(href="#")
          span Новинки
          svg.maingoods-svg(role="img")(width="17")(height="20"): use(xlink:href="#arrow")
    article.maingoods-item.maingoods-item__action
      figure.maingoods-figure
        figcaption.maingoods-figcaption
          h3.maingoods-title Спрей с кератином для сильно поврежденных волос Biolag
          .maingoods-brand Loreal Professional
          .maingoods-priceblock
            .maingoods-prices
              .maingoods-oldprice
                span 1 600
                | руб
              .maingoods-newprice 1 200 руб
        .maingoods-pick
          .maingoods-image(style="background-image:url('assets/maingoods1.png')")
        a.maingoods-link.maingoods-link__day(href="#")
          span Акции дня
          svg.maingoods-svg(role="img")(width="17")(height="20"): use(xlink:href="#arrow")
