.headericons{
  display: flex;
  @media(min-width:$tablet){
    justify-content: space-between;
  }
  @media(min-width:$desktop){
    &:before{
      content: '';
      display: block;
      width: 1px;
      height: 80px;
      background: $verticalline;
      margin-top: -15px;
    }
  }
  &-title{
    font: 12px/14px MuseoSansNormal, Arial, Helvetica, sans-serif;
    display: none;
    @media(min-width:$tablet){
      display: block;
      font: 12px/19px MuseoSansNormal, Arial, Helvetica, sans-serif;
    }
  }
  &-item{
    text-align: center;
    margin-right: 31px;
    border-bottom: 0;
    color:$primary;
    &:last-of-type{
      margin-right: 3px;
    }
    @media(min-width:$tablet){
      width: 70px;
      margin: 0 10px;
      &:last-of-type{
        margin-right: 0;
      }
    }
    @media(min-width:$desktop){
      width: auto;
      margin: 0;
      margin-left: 30px;
    }
    &__big{
      display: none;
      @media(min-width:$tablet){
        display: block;
      }
    }
    &__small{
      @media(min-width:$desktop){
        display: none;
      }
    }
  }
  &-svg{
    width: 28px;
    height: 26px;
    color: $border;
    fill: $border;
    @media(min-width:460px){
      width: 35px;
      height: 35px;
    }
    @media(min-width:$tablet){
      width: 26px;
      height: 26px;
    }
  }
  &-counter{
    position: relative;
    width: 28px;
    height: 26px;
    @media(min-width:460px){
      width: 35px;
      height: 35px;
    }
    @media(min-width:$tablet){
      width: 26px;
      height: 26px;
    }
    span{
      z-index: 100;
      position: absolute;
      width: 16px;
      height: 16px;
      right: -4px;
      top: -14px;
      box-sizing: border-box;
      border-radius: 100%;
      background: $decorative;
      color: $buttontext;
      font: 9px MuseoSansDark, Arial, Helvetica, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      @media(min-width:475px){
        right: -15px;
        top: -23px;
        width: 20px;
        height: 20px;
        font: 10px MuseoSansDark, Arial, Helvetica, sans-serif;
      }
      @media(min-width:$tablet){
        right: -6px;
        top: -19px;
      }
      @media(min-width:$desktop){
        right: -14px;
        top: -20px;
      }
    }
  }
}
