.headericons
  .headericons-item
    svg.headericons-svg(role="img")(width="24")(height="25"): use(xlink:href="#enter")
    .headericons-title Вход
  .headericons-item
    .headericons-counter
    svg.headericons-svg(role="img")(width="24")(height="25"): use(xlink:href="#heart")
    .headericons-title Избранное
  .headericons-item
    .headericons-counter
    svg.headericons-svg(role="img")(width="24")(height="25"): use(xlink:href="#cart")
    .headericons-title Корзина
