.headericons
  a(href="#").headericons-item.headericons-item__small.js-search
    svg.headericons-svg(role="img")(width="26")(height="26"): use(xlink:href="#search")
    .headericons-title Поиск
  a(href="entry.html").headericons-item.headericons-item__big.js-popup
    svg.headericons-svg(role="img")(width="24")(height="25"): use(xlink:href="#enter")
    .headericons-title Вход
  a(href="favorit.html").headericons-item.headericons-item__favorites
    span.headericons-counter
      span 10
      svg.headericons-svg(role="img")(width="24")(height="25"): use(xlink:href="#heart")
    .headericons-title Избранное
  a(href="cart.html").headericons-item.headericons-item__cart
    span.headericons-counter
      span 10
      svg.headericons-svg(role="img")(width="24")(height="25"): use(xlink:href="#cart")
    .headericons-title Корзина
