.documents{
    &-myorders{
        @media(min-width:$tablet){
            display: flex;
            margin: 20px 0;
            justify-content: space-between;
        }
         @media(min-width:$desktop){
             margin: 0;
             align-items: baseline;
         }
    }
    &-volume{
        margin:10px 0 20px 0;
        @media(min-width:$desktop){
            margin: 0;
        }
    }
}
.myorders{
    margin-bottom: 40px;
    @media(min-width:$tablet){
        margin-bottom: 60px;
    }
    @media(min-width:$desktop){
        display: flex;
        position: relative;
        margin: 0 -10px;
        margin-bottom: 130px;
    }
    .documents-table-grey{
        height: 20px;
        @media(min-width:$desktop){
            height: 10px;
        }
    }
    &-detail{
        width: calc(34px - 20px);
        margin: 0 10px;
    }
    &-documents{
         @media(min-width:$desktop){
            width: calc(66% - 20px);
            margin: 0 10px;
        }
    }
    .documents-table-col{        
        @media(min-width:$desktop){
            padding: 10px 20px;
            vertical-align: middle;
            text-align: center;
        }
    }
}
.myorders-detail{
    width: calc(34% - 20px);
    margin: 0 10px;
    position: relative;
    box-sizing: border-box;
    display: none;
    margin-top: 80px;
    &:after{
            content: "";
            display: block;
            width: 68%;
            height: 20px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0;
            z-index: -1;
            right: 12%;
        }
    @media(min-width:$desktop){
        display: block;
    }
}
.myorders-orderitem{    
    border: 1px solid $borderorder;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    padding: 16px 30px;    
    z-index:3;
    background: $buttontext;    
    
}
.orderitem-block{
    border-top: 1px solid #E4E4E4;
    margin: 20px 0;
    padding-top: 20px;
}
.orderitem-title{
        font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
        display: inline-block;
        @media(min-width: $desktop){
            font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        }   
}
.orderitem-name{
    font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
    @media(min-width: $desktop){
        font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    }
}
.orderitem-title{
        font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        display: inline-block;
        @media(min-width: $tablet){
            font:  30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
        }   
}
.orderitem-status{
    font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
}
.orderitem-brand{
    font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
    color: $secondary;
}
.orderitem-text{
    font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
    @media(min-width: $desktop){
         font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    }  
    span{
        color: #697F34;
    }
}
.orderitem-quantity{
    margin-top: 10px;
    span{
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;  
        margin-right: 10px;  
        &:last-of-type{
            border-left: 1px solid $bordergray;
            padding-left: 10px;
        }
    }
}
.orderitem-text__big{
    margin-bottom: 15px;
    font: 26px/30px MuseoSansDark, Arial, Helvetica, sans-serif;  
}
 .orderitem-flex{
     display: flex;
     justify-content: space-between;
 }
.orderitem-gray{
    color: $secondary;
    font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
    @media(min-width: $desktop){
         font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    } 
}
.orderitem-info{
    margin-bottom: 15px;
}
.orderitem{
    padding: 40px 20px;
    @media(min-width:$tablet){
        padding: 60px;
    }
}