.myorders
    .myorders-documents
        .documents-myorders
            .documents-title Мои заказы
            .documents-volume Объем заказов: 45 784 руб 
        .documents-table
            .documents-table-top
                .documents-table-col
                    .documents-name Номер заказа
                .documents-table-col
                    .documents-name Дата оформления заказа
                .documents-table-col
                    .documents-name Доставка
                .documents-table-col
                    .documents-name Оплата
                .documents-table-col
                    .documents-name Сумма (руб)
                .documents-table-col
                    .documents-name Статус
            include myordersitem
            include myordersitem
            include myordersitem
            include myordersitem 
            include myordersitem
    .myoders-detail
        include orderitem