.documents-table-row
    .documents-table-col(data-title="Номер заказа")
        .documents-info 774747
    .documents-table-col(data-title="Дата оформления заказа")
        .documents-info  12.06.2018
    .documents-table-col(data-title="Доставка") 
         .documents-info Самовывоз
    .documents-table-col(data-title="Оплата") 
         .documents-info  При получении
    .documents-table-col(data-title="Сумма (руб)") 
        .documents-info 23 000
    .documents-table-col(data-title="Статус") 
         .documents-info Отправлен
.documents-table-grey
