.order-sum{
    border: 1px solid $borderorder;
    border-top: transparent;
    border-bottom-left-radius: 50px;
    position: relative;
    padding: 16px 30px;
    margin-bottom: 40px;
    z-index:3;
    background: $buttontext;
    @media(min-width:$tablet){
        padding: 0 30px;
    }
    @media(min-width:$desktop){
        padding-bottom: 10px;
    }
    &-shadow{
        position: relative;
        &:after{
            content: "";
            display: block;
            width: 75%;
            height: 20px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
            position: absolute;
            bottom: 0;
            right: 12%;
            @media(min-width:$tablet){
                width: 68%;
            }
        }
    }    
    &-top{
        padding: 20px 0;        
        text-align:center;
        span{
            font: 20px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
        }
        @media(min-width:$tablet){
            padding: 0;
            padding-top: 20px;
            text-align: left;
            span{
                display: block;
            }
        }
        @media(min-width: $desktop){
            padding: 20px 0;
            span{
                display: inline-block;
                font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif;
            }
        }
    }
    &-bottom{
        z-index: 3;
        position:relative;
    }
    &-spoiler{
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        height: 0;
        &__active{
            position: static;
            visibility: visible;
            height: auto;
        }
        @media(min-width:$tablet){
            position: relative;
            height:auto;
            visibility: visible;
        }
    }
    &-openspoiler{
        cursor: pointer;
        position: relative;
        margin: 0 auto;
        text-align: center;
        display: block;
        border-top: 1px solid $borderorder;
        @media(min-width:$tablet){
            display: none;
        }
        &:after{
            content: '';
            border-top: 2px solid $arrow;
            border-left: 2px solid $arrow;
            width: 7px;
            height: 7px;
            display: inline-block;
            transform: rotate(218deg) translate(1px,1px);
        }        
        &__active{
            &:after{
                transform: rotate(45deg) translate(3px, 3px);  
            }
        }
    }
    &-link{
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;
        color: $greyText;
        text-align: center;
        margin: 16px auto;
        position: relative;
        display: inline-block;
        margin-right: 10px;        
        border-bottom: 1px solid $greyText;
    }
    &-item{
        padding: 20px 0 8px 0;
        border-top: 1px solid $borderorder; 
    }
    &-name{
       font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif; 
        @media(min-width:$desktop){
            font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif; 
        }
    }
    &-brand{
        font: 15px/24px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
        color: $secondary;
    }
    &-quantity{
        margin-top: 10px;
        span{
            font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;  
            margin-right: 15px;  
            @media(min-width:$desktop){
                 margin-right: 10px;
            }
            &:last-of-type{
                border-left: 1px solid $bordergray;
                padding-left: 15px;
                @media(min-width:$desktop){
                     padding-left: 10px;
                }
            }
        }
    }
    &-info{
        font: 12px/18px MuseoSansNormal, Arial, Helvetica, sans-serif;  
        color:$secondary;
        margin-bottom: 10px;
        @media(min-width:$desktop){
            font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;  
        }
    }
}
