.order-sum-shadow
    .order-sum
        .order-sum-top 
            span Заказ: 
            | 123 товара на 12 256 руб
        .order-sum-bottom
            .order-sum-spoiler 
                .order-sum-item
                    .order-sum-name Спрей с кератином для сильно поврежденных волос Biolage 
                    .order-sum-brand Darigue
                    .order-sum-quantity 
                        span 1 шт 
                        span 1 200 руб
                .order-sum-item
                    .order-sum-name Спрей с кератином для сильно поврежденных волос Biolage 
                    .order-sum-brand Darigue
                    .order-sum-quantity 
                        span 1 шт 
                        span 1 200 руб
                .order-sum-item
                    .order-sum-name Спрей с кератином для сильно поврежденных волос Biolage 
                    .order-sum-brand Darigue
                    .order-sum-quantity 
                        span 1 шт 
                        span 1 200 руб
                .order-sum-item
                    .order-sum-name Самовывоз
                    .order-sum-info г. Москва, ул. Ленина д. 657 
                    .order-sum-name Оплата онлайн
                    .order-sum-info Терминал Яндекс.кассы 
            span.order-sum-openspoiler.order-sum-openspoiler__close
                   .order-sum-link Посмотреть весь заказ