.company{
    margin-top: -12px;
    margin-bottom: 48px;
    @media(min-width:$tablet){
        margin-bottom: 56px;
    }
    @media(min-width:$desktop){
        margin-top: 106px;
        margin-bottom: 70px;
    }
    &-center{
        text-align: center;
        padding: 0 24px;
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
        @media(min-width:$tablet){
            padding: 0 34px;
        }
        @media(min-width:$desktop){
            max-width: 100%;
            margin-top: 49px;
        }
        &__bg{
            @media(min-width:$tablet){
                &:before{
                    content: '';                    
                    width: 198px;
                    height: 177px;
                    display: block;
                    position: absolute;
                    top: -50px;
                    right: 0;
                }
            }  
            @media(min-width:$desktop){
                max-width: 740px;
            }          
        }
    }
    &-svg{
        margin-bottom: 20px;
        margin-top: 16px;
        @media(min-width:$tablet){
            width: 282px;
            height: 95px;
            margin-top: 0;
            margin-bottom: 36px;
        }
    }
    &-slogan{
        font: 20px/30px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;
        color: #3F3F3F;
    }
    &-flex{
        @media(min-width:$tablet){
            margin-top: 49px;
        }
        @media(min-width:$desktop){
            display: flex;
            margin: 0 -10px;
            margin-top: 64px;
        }
    }
    &-col{
        position: relative;
        margin: 0 auto;
        @media(min-width:$desktop){
            margin: 0 10px;
            width: calc(50% - 20px);
        }
        &__overflow{
            position: relative;
            padding-top: 75%;
            height:0;
            margin: 10px -10px 30px -10px;
            @media(min-width:$tablet){
                margin: 10px -34px 30px -34px;
            }
            @media(min-width:$desktop){
                height: auto;
                padding-top: 0;
                width: calc(50% - 20px);
                margin: 0 10px;
            }
            &__left{
                padding-top: 72%;
                margin-top: 12px;
                margin-bottom: 31px;
                @media(min-width:$tablet){
                    margin-top: 33px;
                }
                @media(min-width:$desktop){
                    padding-top: 0;
                    margin: 0 10px;
                    width: calc(50% - 20px);
                }
            }
            &__right{
                padding-top: 65%;
                margin-top: 38px;
                margin-bottom: 42px;
                @media(min-width:$tablet){
                    margin-top: 7px;
                    padding-top: 71%;
                    margin-bottom: 52px;
                }
                @media(min-width:$desktop){
                    padding-top: 0;
                    margin: 0 10px;
                    width: calc(50% - 20px);
                }
            }
        }
        &__left{
            @media(min-width:$tablet){
                display: flex;
                margin-left: -10px;
                margin-right: -10px;
            }
            @media(min-width:$desktop){
                order: 2;
                display: block;
            }
        }
        &__my{
            margin-top: 40px;
            @media(min-width:$tablet){
                margin-top: 38px;
            }
            @media(min-width:$desktop){
                width: calc(50% - 20px);
                margin: 0 10px;                
            }   
        }
    }
    &-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 700px;
        @media(min-width:$desktop){
            right: -100%;
            width: 200%;
        }
    }
    &-title{
        font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif; 
        letter-spacing: 0.05em;
        position: relative;
        text-align: center;
        display: block;
        margin: 4px auto;
        text-transform: uppercase;        
        padding: 30px; 
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        color: #000000;
        @media(min-width:$desktop){
            font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif; 
            background-position: 80px center;
            padding-left: 0;
            margin: 0;
            text-align: left;
        }
    }
    &-text{
        @media(min-width:$tablet){
            margin-top: 38px;
        }
        @media(min-width:$desktop){
            padding-left: 102px;
            padding-right: 80px;
            margin-top: 48px;
             margin-bottom: 80px;
        }
        p{
            font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif; 
            margin-bottom: 25px;
        }
    }   
    &-h4{
       font: 20px/25px MuseoSansNormal, Arial, Helvetica, sans-serif; 
        @media(min-width:$tablet){
            font: 30px/40px MuseoSansNormal, Arial, Helvetica, sans-serif; 
            margin-top: -11px;
        } 
    }
    &-values{
        margin-bottom: 25px;
        @media(min-width:$desktop){
                margin-bottom: 53px;
        }
        p{
            font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;  
            margin: 10px 0;
            @media(min-width:$tablet){
                margin-bottom: 25px;
            }
        }
    }  
    &-ul{
        margin-top:7px;
        @media(min-width:$tablet){
            margin-bottom: 15px;
        }
        @media(min-width:$desktop){
            margin-top: 16px;
        }
        &__my{
            margin-top: 12px;
            @media(min-width:$tablet){
                margin-top: 5px;
            }
            @media(min-width:$desktop){
                margin-top: 18px;
                padding-left: 102px;
            }
        }
    }
    &-li{
        position: relative;
        list-style: none;
        font: 20px/30px PlayfairDisplayItalic, Arial, Helvetica, sans-serif;  
        text-indent: 25px;
        @media(min-width:$tablet){
             margin-bottom: 9px;
        } 
        &:before{
            content: '';
            position: absolute;
            width: 18px;
            height: 1px;
            left: 0;
            top: 15px;
            background: #333333;
            display: block;
        }
        &__check{
            position: relative;
            margin: 6px 0 11px 30px;
            list-style: none;
            font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;  
            &:before{
                content: '';
                position: absolute;
                display: block;
                left: -30px;
                top: 8px;
                width: 17px;
                height: 5px;
                border-left: 1px solid #A5BB70;
                border-bottom: 1px solid #A5BB70;
                transform: skew(19deg) rotate(-36deg);
            }
            @media(min-width:$tablet){
                margin: 6px 0 22px 30px;
            }
        }
    }   
    &-gradient{
        background: linear-gradient(to right, #EFEEE9, #FFFFFF);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @media(min-width:$desktop){
            width: 200%;
            left: -100%;
        }
    }     
    &-face{
        top: 0;
        bottom: 0;
        position: absolute;
        right: 0;
        left: 40%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index:100;
        @media(min-width:$tablet){
            left: 33%;
        }
    } 
    &-decoration{
        position: absolute;
        z-index: 90;
        left: 14%;
        top: 14%;
        bottom:0;
        right: 25%;
        background-size: contain;
        background-repeat: no-repeat;
        @media(min-width:$tablet){
            left: 5%;
            top: 14%;
            bottom: 0;
            right: 0%;
        }
    }  
    &-button{
        width: 280px;
        height: 60px;
        box-sizing: border-box;
        color: #fff;
        background: #697F34;
        text-transform: uppercase;
        border: none;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        cursor: pointer;
        display: block;        
        transition: background .3s;
        letter-spacing: 0.05em;
        font: 12px/15px MuseoSansNormal, Arial, Helvetica, sans-serif;
        margin: 12px auto;
        position: relative;
        text-align: center;
        @media(min-width:$tablet){
            margin-top: 22px;
        }
        @media(min-width:$desktop){
            margin-left: 100px;
        }
        &:hover{
             background: #A5BB70;
        }
        &__left{
            margin: 40px 0;
        }
    }
    &-img{
        display: block;
        width: 100%;
        max-width: 555px;
        position: relative;
        margin: 0 auto;
        margin-top: 7px;
        margin-bottom: 2px;
        height: auto;
        @media(min-width:$tablet){
            margin-top: 35px;
        }
        @media(min-width:$desktop){
            width: calc(50% - 20px);
            margin: 0 10px;
            margin-left: 22px;
            margin-top: 3px;
        }
    }
    &-my{
        margin-top:30px;
        @media(min-width:$desktop){
            padding-left: 100px;
            margin-top:39px;
        }
        p{
            margin-top: 7px;
        }
        .company-ul__left{
            @media(min-width:$desktop){
                padding-left: 0;
            }
        }
    }
    &-part{
        @media(min-width:$tablet){
            width: calc(50% - 20px);
            margin: 0 10px;
        }
        @media(min-width:$desktop){
            width: auto;
            margin-left: 121px;
            margin-top: 21px;
            margin-right: 0;
        }
    }
}
