.company
    .company-center
        svg.company-svg(role="img")(width="266")(height="89"): use(xlink:href="#logobig")
        .company-slogan Компания LETO – это надежный профессиональный партнер, который создает возможность для успешного развития Вашего бизнеса.
    .company-flex
        .company-col
            h2.company-title философия бренда
            .company-text
                p В современном мире мастера салонов красоты с головой погружены в творческий процесс. И на поиск необходимых для этого материалов остается катастрофически мало времени. При такой загруженности дорога каждая минута. Поэтому главная задача Компании LETO максимально упростить процесс поиска и закупки необходимых для Вашей работы товаров.  Мы создали для Вас единую платформу ориентированную на результат.
                .company-slogan Наша цель - обеспечить всем необходимым каждого, кто делает этот мир красивее.
        .company-col__overflow.company-col__overflow__left
            .company-bg(style="background-image:url('assets/lilac.png')")
    .company-flex
        .company-col.company-col__order__left
            h4.company-h4 Наши ценности  
            .company-values
                p Профессионализм
                p Партнерские отношения
                p Постоянное развитие
            h4.company-h4 Преимущества сотрудничества
            ul.company-ul
                li.company-li__check Вся необходимая продукция в одном месте
                li.company-li__check Приятные бонусы с КАЖДОЙ покупкой
                li.company-li__check Выгодные акции и предложения
                li.company-li__check Уникальная возможность протестировать товар
                li.company-li__check Профессиональная поддержка наших менеджеров
                li.company-li__check Качественный сервис
        .company-col__overflow.company-col__overflow__right
            .company-gradient
                .company-decoration(style="background-image:url('images/svg/company_rose.svg')")
                .company-face(style="background-image:url('assets/footerpickbig.png')")
    .company-center
        .company-slogan
            p В лице компании LETO Вы найдете надежного профессионального партнера.
            p Нам действительно важно, чтобы наши партнеры добивались успеха вместе с нами.
    .company-flex
        .company-col.company-col__my 
            h2.company-title МОЁ LETO
            .company-my
                .company-slogan  Принимайте участие в программе лояльности «Моё LETO»
                p Если Вы владелец салона красоты, мастер маникюра, парикмахер, косметолог, бровист или частный мастер, работающий самостоятельно, мы рады предложить Вам специальные выгодные условия работы.
            ul.company-ul__my
                li.company-li Специальные акции и предложения
                li.company-li Квартальный бонус, в валюте рубЛеты, который можно потратить на любимый продукт
                li.company-li Приятный бонус по итогам года
            button.company-button стать участником
            img.company-img(src="assets/bouquet.png")