.cartgoods-satellite 
    .cartgoods-satellite-title С этим товаром покупают
    .cartgoods-satellite-slider.owl-theme.owl-carousel
        .cartgoods-satellite-item
           .cartgoods-satellite-content
                .cartgoods-satellite-top
                    .cartgoods-satellite-pic 
                        img.cartgoods-satellite-img(src="assets/Rectangle.png", alt="Спрей с кератином для сильно поврежденных волос Biolage")
                    .cartgoods-satellite-nameblock
                        .cartgoods-satellite-name Спрей с кератином для сильно поврежденных волос Biolage 
                        .cartgoods-satellite-brand Darigue
                .cartgoods-satellite-bottom
                    .cartgoods-satellite-priceblock
                        .cartgoods-satellite-oldprice 
                            span 1600 
                            | руб
                        .cartgoods-satellite-price 1 200 руб
                    button.cartgoods-satellite-button купить
        .cartgoods-satellite-item
            .cartgoods-satellite-content
                .cartgoods-satellite-top
                    .cartgoods-satellite-pic 
                        img.cartgoods-satellite-img(src="assets/Rectangle.png", alt="Спрей с кератином для сильно поврежденных волос Biolage")
                    .cartgoods-satellite-nameblock
                        .cartgoods-satellite-name Спрей с кератином для сильно поврежденных волос Biolage 
                        .cartgoods-satellite-brand Darigue
                .cartgoods-satellite-bottom
                    .cartgoods-satellite-priceblock
                        .cartgoods-satellite-oldprice 
                            span 1600 
                            | руб
                        .cartgoods-satellite-price 1 200 руб
                    button.cartgoods-satellite-button купить
        .cartgoods-satellite-item
            .cartgoods-satellite-content
                .cartgoods-satellite-top
                    .cartgoods-satellite-pic 
                        img.cartgoods-satellite-img(src="assets/Rectangle.png", alt="Спрей с кератином для сильно поврежденных волос Biolage")
                    .cartgoods-satellite-nameblock
                        .cartgoods-satellite-name Спрей с кератином для сильно поврежденных волос Biolage 
                        .cartgoods-satellite-brand Darigue
                .cartgoods-satellite-bottom
                    .cartgoods-satellite-priceblock
                        .cartgoods-satellite-oldprice 
                            span 1600 
                            | руб
                        .cartgoods-satellite-price 1 200 руб
                    button.cartgoods-satellite-button купить
        .cartgoods-satellite-item
            .cartgoods-satellite-content
                .cartgoods-satellite-top
                    .cartgoods-satellite-pic 
                        img.cartgoods-satellite-img(src="assets/Rectangle.png", alt="Спрей с кератином для сильно поврежденных волос Biolage")
                    .cartgoods-satellite-nameblock
                        .cartgoods-satellite-name Спрей с кератином для сильно поврежденных волос Biolage 
                        .cartgoods-satellite-brand Darigue
                .cartgoods-satellite-bottom
                    .cartgoods-satellite-priceblock
                        .cartgoods-satellite-oldprice 
                            span 1600 
                            | руб
                        .cartgoods-satellite-price 1 200 руб
                    button.cartgoods-satellite-button купить