.pagination
  .pagination-arrow.pagination-arrow__left
    svg.pagination-svg(role="img")(width="17")(height="20"): use(xlink:href="#arrow_carousel")
  .pagination-links
    a.pagination-num.pagination-num__current(href="#") 1
    a.pagination-num(href="#") 2
    a.pagination-num(href="#") 3
    span.pagination-num.pagination-num__dots ...
    a.pagination-num(href="#") 16
  .pagination-arrow.pagination-arrow__right
    svg.pagination-svg(role="img")(width="17")(height="20"): use(xlink:href="#arrow_carousel-right")
