.sticker{
  position: absolute;
  top: 20px;
  left: 20px;
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 18px;
  z-index: 200;
  font: 13px MuseoSansNormal, Arial, Helvetica, sans-serif;
  &__green{
      background-image: url('../images/svg/ellipse_green.svg');
  }
  &__purple{
      background-image: url('../images/svg/ellipse_purple.svg');
  }
  &__action{
      background-image: url('../images/svg/ellipse_yellow.svg');
  }
  &__blue{
    background-image: url('../images/svg/ellipse.svg');
  }
  span{
    color: $sticker
  }
}
.saleofday-pick .sticker{
    top: 10px;
    left: 10px;
    @media(min-width:$tablet){
        top: 33px;
        left: 33px;
        width: 50px;
        height: 44px;
        background-image: url('../images/svg/sale.svg');
        padding-top: 15px;
    }   
    @media(min-width:$desktop){
      top: 39px;
      left: 39px;
    }
}
