#about.tabs-content.tabs-content__active
  .tabletrow
    .card-col
      p Soleo Pure Hypoallergenic- это гипоаллергенный ультра усилитель с алоэ и кокосовым маслом. С изысканным усилителем загара с тирозином на базе экстракта алоэ процесс загорания станет комфортным как никогда. Идеален для тех, у кого очень чувствительная кожа или есть склонность к аллергии, благодаря абсолютно гипоаллергенной формуле. Омолаживающий комплекс Matrixil, разглаживающий морщины, делает кожу идеально гладкой и ухоженной.
      .tabs-info
        strong Страна-производитель:&nbsp;
        |  Польша.
        br
        strong Объем:&nbsp;
        |  15 мл.
    .card-col
      .tabs-info-items
        .tabs-info-item
          .tabs-info-svg
            svg(role="img")(width="80")(height="60"): use(xlink:href="#delivery")
          .tabs-info-description Доставка по всей России
        .tabs-info-item
          .tabs-info-svg
            svg(role="img")(width="58")(height="60"): use(xlink:href="#price-tag")
          .tabs-info-description Доступные цены
        .tabs-info-item
          .tabs-info-svg
            svg(role="img")(width="53")(height="60"): use(xlink:href="#bags")
          .tabs-info-description Услуга товар на выбор
