#reviews.tabs-content
  .reviews-title Оставьте свой отзыв о товаре
  .reviews-total Всего отзывов: 257
  button.reviews-button написать отзыв
  .reviews-block
    .reviews-item
      .reviews-header
        .reviews-left
          .reviews-name Александр
          .reviews-date 21 ноября 2016
        .reviews-right
          include ../stars/stars
      .reviews-body
        p Очень хорошая качественная вещь.
    .reviews-item
      .reviews-header
        .reviews-left
          .reviews-name Светлана
          .reviews-date 21 ноября 2016
        .reviews-right
          include ../stars/stars
      .reviews-body
        p люблю этот крем. на лето самое оно, и защита от УФ и увлажнение хорошее. при этом цвет лица выравнивается при постоянном использовании и внешне меньше морщин
    .reviews-item
      .reviews-header
        .reviews-left
          .reviews-name Мария
          .reviews-date 21 ноября 2016
        .reviews-right
          include ../stars/stars
      .reviews-body
        p люблю этот крем. на лето самое оно, и защита от УФ и увлажнение хорошее. при этом цвет лица выравнивается при постоянном
