.tabs{
  background: rgba(239, 238, 233, 0.67);
  margin: 30px 0;
  @media(min-width:$desktop){
    margin-bottom: 152px;
  }
  &-header{
    padding: 30px;
    margin-left: 10px;
    border-bottom: 1px solid $bordergray;
    position: relative;
    @media(min-width:$desktop){
      margin: 0 auto;
      max-width: 1180px;
      padding: 30px 0;
    }
    .slick-next.slick-arrow, .slick-prev.slick-arrow{
      background: url("../images/svg/grey_arrow.svg");
      background-repeat: no-repeat;
      top: 15px;
      right: -10px;
      width: 26px;
      height: 26px;
      &:before{
        display:none;
      }
      &.slick-disabled{
        display: none!important;
      }
    }
    .slick-prev.slick-arrow{
      transform: rotate(180deg) translate(5px, 15px)
    }
  }
  &-links{
    margin: 0 -5px;
    @media(min-width:$desktop){
      margin: 0 -15px;
    }
    &-item{
      list-style:none;
      display: inline-block;
      margin: 0 5px;
      @media(min-width: $tablet){
        width: 90px;
      }
      @media(min-width:$desktop){
        margin: 0 15px;
      }
    }
  }
  &-anchor{
    font: 12px/20px MuseoSansNormal, Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-bottom: none;
    color: $link;
    transition: color .3s;
    &__active{
      color: $selection;
    }
    &-counter{
      color: $selection;
    }
  }
  &-inner{
    padding: 16px 10px;
    position: relative;
    @media(min-width: $tablet){
      padding: 34px;
    }
    @media(min-width:$desktop){
      margin: 0 auto;
      max-width: 1180px;
      padding: 0;
      padding-top: 34px
    }
  }
  &-content{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
    &__active{
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }
  &-info{
    margin: 30px 0;
    &-items{
      @media(min-width:$desktop){
        margin: -30px  0 0 120px;
      }
    }
    &-item{
      margin: 30px 5px;
    }
    &-svg{
      vertical-align: middle;
      width: 80px;
      display: inline-block;
      text-align: center;
    }
    &-description{
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
      color: $bannerdescription;
    }
  }
}
