.headercity{
  display: flex;
  @media(min-width:$desktop){
    margin-top: 10px;
  }
  &-link{
    font: 12px/14px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-bottom: 2px dashed $selection;
    margin-left: 10px;
    color: $primary;
  }
}
