 .freedelivery{
     background: $border;
     padding: 12px 10px;
     color: $buttontext;
     margin-top: -20px;
     @media(min-width:$tablet){
         text-align: center;
         padding: 20px 34px;
     }
    @media(min-width:$desktop){
         padding: 12px 34px;
     }
 }