.footermiddle
  ul.footermiddle-menu
    li.footermiddle-li
      a.footermiddle-link(href="#") О компании
    li.footermiddle-li
      a.footermiddle-link(href="#") Мастеру
    li.footermiddle-li
      a.footermiddle-link(href="#") Оптовикам
    li.footermiddle-li
      a.footermiddle-link(href="#") Оплата
    li.footermiddle-li
      a.footermiddle-link(href="#") Контакты
    li.footermiddle-li
      a.footermiddle-link(href="#") Как получить скидку по промокоду
