.footermiddle
  ul.footermiddle-menu
    li.footermiddle-li
      a.footermiddle-link(href="company.html") О компании
    li.footermiddle-li
      a.footermiddle-link(href="#") Мастеру
    li.footermiddle-li
      a.footermiddle-link(href="#") Оптовикам
    li.footermiddle-li
      a.footermiddle-link(href="pay.html") Оплата
    li.footermiddle-li
      a.footermiddle-link(href="delivery.html") Доставка
    li.footermiddle-li
      a.footermiddle-link(href="contacts.html") Контакты
    li.footermiddle-li
      a.footermiddle-link(href="#") Как получить скидку по промокоду
