/* Feel free to change duration  */
.animated  {
  -webkit-animation-duration : 1000 ms  ;
  animation-duration : 1000 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}
/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
  z-index : 1
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index : 0
   }
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }
  100% {
    opacity : 0   ;
  }
}
@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  }
  100% {
    opacity : 0   ;
  }
}
.maintopslider{
  position: relative;
  min-height: 230px;
  @media(min-width: $tablet){
    min-height: 570px;
  }
  @media(min-width: $desktop){
    min-height: 572px;
  }
  &-item{
    width:100%;
    height: 230px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    @media(min-width: $tablet){
      height: 570px;
    }
    @media(min-width: $desktop){
      height: 572px;
    }
    &:first-of-type{
      display: block;
    }
  }
  &-nav{
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    @media(min-width:$tablet){
      padding: 0 30px;
    }
    @media(min-width:$desktop){
      margin-top: -30px;
      width: 1220px;
    }
    button.owl-prev, button.owl-next{
      display: none;
      opacity:1;
      background: rgba(255, 255, 255, 0.5);
      width: 80px;
      height: 80px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;     
      border: 1px solid $bordergray;
      position:absolute;
      right:0px;
      bottom:30px;
      transition: opacity .3s;
      z-index: 500;
      cursor: pointer;
      @media(min-width: $desktop){
        display: block;
      }
        svg{
          transition: color .3s, fill .3s;
            color: $selection;
            fill: $selection;
        }
        &:active, &:hover{
          background: $selection;
          border: 1px solid $selection;
          svg{
            color: $buttontext;
            fill: $buttontext;
          }
        }
      }
      button.owl-next{
        right: 100px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
      }
    .owl-dots{
      bottom: 40px;
      position: absolute;      
      right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 500;
      @media(min-width:$tablet){
        right: 30px;
        bottom: 205px;
      }
      @media(min-width:$desktop){
        right: 10px;
      }
    }
    .owl-dots .owl-dot{
    background: $primary;
    height: 15px;
    width: 15px;
    position: relative;
    margin: 8px 0;
    border: none;
    outline: none;
    border-radius: 100%;
    cursor: pointer;
    @media(min-width:$tablet){
      margin: 12px 0;
    }
    @media(min-width:$desktop){
      margin: 8px 0;
    }
    &:before{
      content: '';
      display: block;
      height: 30px;
      width: 30px;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      position: absolute;
      left:-7px;
      top:-7px;
      transition: opacity .3s;
      border-radius:100%;
    }
  }
    .owl-dots .owl-dot.active, .owl-dots .owl-dot:hover{
      background: $greyText;
      &:before{
        opacity: 1;
      }
    }
  }    
}
.owl-item{
  .maintopslider-item{
    display: block;
  }
}
