.maintopslider.animated.owl-theme.owl-carousel
  a(href="#").maintopslider-link
    .maintopslider-item(style="background-image: url('assets/slider.jpg')")
  a(href="#").maintopslider-link
    .maintopslider-item(style="background-image: url('assets/slider1.jpg')")
  a(href="#").maintopslider-link
    .maintopslider-item(style="background-image: url('assets/slider.jpg')")
  a(href="#").maintopslider-link
    .maintopslider-item(style="background-image: url('assets/slider1.jpg')")
.maintopslider-nav
  .owl-dots