.maintopslider.animated.owl-theme.owl-carousel
  .maintopslider-item(style="background-image: url('assets/slider.jpg')")
  .maintopslider-item(style="background-image: url('assets/slider1.jpg')")
  .maintopslider-item(style="background-image: url('assets/slider.jpg')")
  .maintopslider-item(style="background-image: url('assets/slider1.jpg')")
.maintopslider-nav
  .owl-dots