.card-info
  h1.card-title Гипоаллергенный ультра усилитель с алоэ и кокосовым маслом
  .card-brand Soleo Pure Hypoallergenic
  .card-volume
    .card-volume-text Объём:
    input(type="radio", id="min", name="valume", checked).card-volume-num
    label(for="min").card-volume-label 15 МЛ
    input(type="radio", id="max", name="valume").card-volume-num
    label(for="max").card-volume-label 200 МЛ
  a(href="#").card-promo Скидка 10% по промокоду
  a(href="pro.html").card-special
    span PROLETO
    | Цена для мастера: 999 руб
.card-price
  .card-oldprice
    span 170
    | руб
  .card-currentprice.card-currentprice__discount
    span#price(data-min="153", data-max="1050") 153 
    | руб
form(action="#")
  .card-pricecontroller
    button.card-minus.js-minus -
    input(type="text", name="quantity", value="1").js-quantity.card-pricecontroller-input
    button.card-plus.js-plus +
  button.card-button.js-add добавить в корзину
  .card-heart
    svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
.card-delivery Товар может быть доставлен вам в кратчайшие сроки.
.card-article
  strong Артикул:
  |F114171A
.card-feedback
  include ../stars/stars
  a(href="#reviews").card-feedback-counter 257 отзывов
