.entry
    .entry-top
        .entry-title Вывести бонусы
    form.entry-form.js-form
        .entry-fieldset
            legend.entry-legend Сумма к выводу
            label.entry-label
                input(type="text" placeholder="0" name="E-mail или телефон").entry-input.js-inputcheck
                span.entry-span руб
        .entry-fieldset
            legend.entry-legend Ваш комментарий
            label
                textarea(name="комментарий").entry-input.entry-input__textarea
                .error-text
        .entry-fieldset-withdrow
            .entry-fieldset-withdrow-button
                button.entry-button.js-button.add-button__send.disabled вывести бонусы