.products
  .products-item
    .product
      +sticker("green", "New")
      .product-heart
        svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
      .product-pick
        a(href="fastshow.html").product-fastshow
          .product-fastshow-title Быстрый просмотр
          img.product-img(src="/assets/14386_big.png" alt="Шампунь с кератином для сильно поврежденных волос")
      a(href="/card.html").product-name Шампунь с кератином для сильно поврежденных волос
      .product-brand Loreal Professional
      .product-rating
        include ../../components/stars/stars
        a(href="/card.html#reviews").product-reviews 257 отзывов
      .product-priceblock
        .product-price 1 235 руб
      button.product-button Купить
  .products-item
    .product
      +sticker("purple", "Sale")
      .product-heart
        svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
      .product-pick
        a(href="fastshow.html").product-fastshow
          .product-fastshow-title Быстрый просмотр
          img.product-img(src="/assets/bestseller1.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
      a(href="/card.html").product-name Спрей с кератином для сильно поврежденных волос Biolage
      .product-brand Loreal Professional
      .product-rating
        include ../../components/stars/stars
        a(href="/card.html#reviews").product-reviews 257 отзывов
      .product-priceblock
        .product-price 1 335 руб
      button.product-button Купить
  .products-item
    .product
      +sticker("green", "New")
      .product-heart
        svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
      .product-pick
        a(href="fastshow.html").product-fastshow
          .product-fastshow-title Быстрый просмотр
          img.product-img(src="/assets/bestseller2.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
      a(href="/card.html").product-name Спрей с кератином для сильно поврежденных волос Biolage
      .product-brand Loreal Professional
      .product-rating
        include ../../components/stars/stars
        a(href="/card.html#reviews").product-reviews 257 отзывов
      .product-priceblock
        .product-price 1 335 руб
      button.product-button Купить
  .products-item
    .product
      +sticker("action", "Акция")
      .product-heart
        svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
      .product-pick
        a(href="fastshow.html").product-fastshow
          .product-fastshow-title Быстрый просмотр
          img.product-img(src="/assets/bestseller3.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
      a(href="/card.html").product-name Спрей с кератином для сильно поврежденных волос Biolage
      .product-brand Loreal Professional
      .product-rating
        include ../../components/stars/stars
         a.product-name(href="/card.html#reviews") 257 отзывов
      .product-priceblock
        .product-oldprice
          span 1 600
          | руб
        .product-newprice 1 200 руб
      button.product-button Купить
  .products-item
    .product
      +sticker("green", "New")
      .product-heart
        svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
      .product-pick
        a(href="fastshow.html").product-fastshow
          .product-fastshow-title Быстрый просмотр
          img.product-img(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
      a(href="/card.html").product-name Спрей с кератином для сильно поврежденных волос Biolage
      .product-brand Loreal Professional
      .product-rating
        include ../../components/stars/stars
         a(href="/card.html#reviews").product-reviews 257 отзывов
      .product-priceblock
        .product-oldprice
          span 1 600
          | руб
        .product-newprice 1 200 руб
      button.product-button Купить
