.delete
    .add-fieldset
        .add-title Вы действительно хотите удалить адрес?
    .add-button-wrap
        button.add-button.add-button__send Удалить
        button.add-button.add-button__close отмена        