.bestseller{
  margin-top: -30px;
  position: relative;
  @media(min-width:$desctop){
    background-image: url('../images/svg/rose.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-top: 150px;
  }
  &-title{
    text-align: center;
    font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $link;
    background-image: url('../images/svg/flower_little.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    padding: 10px 0;
    position: relative;
    @media(min-width:$tablet){
      font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif;
      background-image: url('../images/svg/flower_middle.svg');
      padding: 20px 0;
    }
    @media(min-width:$desctop){
      background-image: url('../images/svg/flower.svg');
      padding: 30px 0;
    }
    &:after, &:before{
      @media(min-width:$tablet){
        content: '';
        position: absolute;
        background: $brandborder;
        width: 160px;
        height: 1px;
      }
      @media(min-width:$desctop){
        width: 25%;
      }
    }
    &:before{
      right: 0;
      top: 50%;
    }
    &:after{
      left: 0;
      top: 50%;
    }
  }
  &-carousel{
    margin-top: 15px;
    @media(min-width:$tablet){
      margin-top: 40px;
    }
    @media(min-width:$desctop){
      padding-bottom: 100px;
      .owl-nav{
        position: absolute;
        left: calc(50% - 150px);
        width: 300px;
        bottom: 20px;
      }
      .owl-dots{
        position: absolute;
        left: calc(50% - 100px);
        width: 200px;
        bottom: 50px;
      }
    }
  }
  &-heart{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: color .3s, fill .3s, background .3s;
    svg{
      color: $primary;
      fill:$primary;
    }
    &:hover svg{
      color: $selection;
      fill:$selection;
    }
    &:active{
      background-image: url('../images/svg/click.svg');
      background-repeat: no-repeat;
      svg{
        opacity: 0;
      }
    }
  }
  
  &-carousel{
    &.owl-theme{
      .owl-dots .owl-dot span{
        border-radius: 0;
        width: 28px;
        height: 2px;
        margin: 5px 2px;
        background: $dots;
      }
      .owl-dots .owl-dot.active span{
        background:$selection;
      }
      .owl-dots .owl-dot:hover span{
        background:$selection;
      }
      .owl-nav.disabled + .owl-dots{
        margin-top: 0;
      }
    }
    .owl-nav{
      position: relative;
    }
    .owl-nav button.owl-prev, .owl-nav button.owl-next{
      width: 80px;
      height: 80px;
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      border: 1px solid $bordergray;
      position:absolute;
      left:0;
      svg{
        color: $arrow;
        fill: $arrow;
      }
      &:hover{
        background: $buttontext;
        svg{
          transition: color .3s, fill .3s;
          color: $selection;
          fill: $selection;
        }
      }
      &:active{
        background: $selection;
        border: 1px solid $selection;
        svg{
          color: $buttontext;
          fill: $buttontext;
        }
      }
    }
    .owl-nav button.owl-next{
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      left: auto;
      right:0;
    }
  }
}
