.bestseller{
  position: relative;
  margin-bottom: 25px;
  @media(min-width:$tablet){
    //margin-top: 112px;
    margin-bottom: 60px;
  }
  &-title{
    text-align: center;
    position: relative;
    @media(min-width:$tablet){
      &:before{
          content: '';
          position: absolute;
          background: $brandborder;
          width: 100%;
          left:0;
          right:0;
          height: 1px;
          top:50%;
      }
    }
    h2{
      font: 30px/50px MuseoSansNormal, Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      color: $greyText;
      background-color: #fff;
      background-image: url('../images/svg/flower_little.svg');
      background-repeat: no-repeat;
      background-position: top center;
      display: inline-block;
      padding: 20px 30px;
      z-index: 100;
      position: relative;     
      @media(min-width:$tablet){
        font: 40px/60px MuseoSansNormal, Arial, Helvetica, sans-serif;
        padding: 40px 120px;
        background-size: contain;
        background-position: center;
      }
    }
  }
  /*&__main{
    .bestseller-title{
      &:after, &:before{
        @media(min-width:$tablet){
          content: '';
          position: absolute;
          background: $brandborder;
          width: 110px;
          height: 1px;
        }
        @media(min-width:$desktop){
          width: 22%;
        }
      }
      &:before{
        right: 0;
        top: 50%;
      }
      &:after{
        left: 0;
        top: 50%;
      }
    }
  }*/
  &-carousel{
    margin-top: 15px;
    @media(min-width:$tablet){
      position: relative;
      margin: 0 auto;
      margin-top: 28px;
      max-width: 740px;
    }
    @media(min-width:$desktop){
      padding-bottom: 100px;
      max-width: 1220px;
      .owl-nav{
        position: absolute;
        left: calc(50% - 150px);
        width: 300px;
        bottom: 20px;
      }
      .owl-dots{
        position: absolute;
        left: calc(50% - 100px);
        width: 200px;
        bottom: 60px;
      }
    }
  }
  &-heart{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: color .3s, fill .3s, background .3s;
    svg{
      color: $primary;
      fill:$primary;
    }
    &:hover svg{
      color: $selection;
      fill:$selection;
    }
    &:active{
      background-image: url('../images/svg/click.svg');
      background-repeat: no-repeat;
      svg{
        opacity: 0;
      }
    }
  }

  &-carousel{
    &.owl-theme{
      .owl-dots .owl-dot span{
        border-radius: 0;
        width: 28px;
        height: 2px;
        margin: 5px 2px;
        background: $dots;
      }
      .owl-dots .owl-dot.active span{
        background:$selection;
      }
      .owl-dots .owl-dot:hover span{
        background:$selection;
      }
      .owl-nav.disabled + .owl-dots{
        margin-top: 11px;
        @media(min-width:$tablet){
          margin-top: 0;
        }
      }
    }
    .owl-nav{
      position: relative;
    }
    .owl-nav button.owl-prev, .owl-nav button.owl-next{
      width: 80px;
      height: 80px;
      border-top-right-radius: 32px;
      border-bottom-left-radius: 32px;
      border: 1px solid $bordergray;
      position:absolute;
      left:0;
      svg{
        color: $arrow;
        fill: $arrow;
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 10px);
      }
      &:hover{
        background: $buttontext;
        svg{
          transition: color .3s, fill .3s;
          color: $selection;
          fill: $selection;
        }
      }
      &:active{
        background: $selection;
        border: 1px solid $selection;
        svg{
          color: $buttontext;
          fill: $buttontext;
        }
      }
    }
    .owl-nav button.owl-next{
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 32px;
      border-bottom-right-radius: 32px;
      left: auto;
      right:0;
    }
  }
}
