mixin bestseller(text)
  .bestseller
    .container.bestseller-container
      h2.bestseller-title= text
      .bestseller-carousel.owl-theme.owl-carousel
        .bestseller-item
          .product
            +sticker("green", "New")
            .product-heart
              svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
            .product-pick
              img.product-img(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
            .product-name Спрей с кератином для сильно поврежденных волос Biolage
            .product-brand Loreal Professional
            .product-rating
              include ../../stars/stars
              .product-reviews 257 отзывов
            .product-priceblock
              .product-oldprice
                span 1 600
                | руб
              .product-newprice 1 200 руб
            button.product-button Купить
        .bestseller-item
          .product
            +sticker("purple", "Sale")
            .product-heart
              svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
            .product-pick
              img.product-img(src="/assets/bestseller1.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
            .product-name Спрей с кератином для сильно поврежденных волос Biolage
            .product-brand Loreal Professional
            .product-rating
              include ../../stars/stars
              .product-reviews 257 отзывов
            .product-priceblock
              .product-price 1 335 руб
            button.product-button Купить
        .bestseller-item
          .product
            +sticker("green", "New")
            .product-heart
              svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
            .product-pick
              img.product-img(src="/assets/bestseller2.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
            .product-name Спрей с кератином для сильно поврежденных волос Biolage
            .product-brand Loreal Professional
            .product-rating
              include ../../stars/stars
              .product-reviews 257 отзывов
            .product-priceblock
              .product-price 1 335 руб
            button.product-button Купить
        .bestseller-item
          .product
            +sticker("action", "Акция")
            .product-heart
              svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
            .product-pick
              img.product-img(src="/assets/bestseller3.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
            .product-name Спрей с кератином для сильно поврежденных волос Biolage
            .product-brand Loreal Professional
            .product-rating
              include ../../stars/stars
              .product-reviews 257 отзывов
            .product-priceblock
              .product-oldprice
                span 1 600
                | руб
              .product-newprice 1 200 руб
            button.product-button Купить
        .bestseller-item
          .product
            +sticker("green", "New")
            .product-heart
              svg(role="img")(width="20")(height="18"): use(xlink:href="#heart")
            .product-pick
              img.product-img(src="/assets/bestseller.png" alt="Спрей с кератином для сильно поврежденных волос Biolage")
            .product-name Спрей с кератином для сильно поврежденных волос Biolage
            .product-brand Loreal Professional
            .product-rating
              include ../../stars/stars
              .product-reviews 257 отзывов
            .product-priceblock
              .product-oldprice
                span 1 600
                | руб
              .product-newprice 1 200 руб
            button.product-button Купить
