.goodadded
    .goodadded-container
        .goodadded-left
            a(href="#").js-continue.goodadded-link__transparent Продолжить
        .goodadded-center
            .goodadded-pick
                svg.goodadded-svg(role="img")(width="28")(height="32"): use(xlink:href="#bag")
            .goodadded-info
                | Вы добавили следующий товар
                br 
                | Гипоаллергенный ультра усилитель с алоэ и кокосовым маслом 15 мл        
        .goodadded-right
            a(href="cart.html").goodadded-link__white В корзину
        
        