.deskfilter{
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  z-index: 600;
  background: #fff;
  transform: translateX(-100%);
  transition: transform .3s;
  padding: 10px 6px 58px 35px;
  box-sizing: border-box;
  max-width: 320px;  
  @media(min-width: $tablet){
    box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.25);
  }
  @media(min-width: $desktop){
    transform: translateX(0);
    position: static;
    padding: 0;
    width: auto;
    box-shadow: none;
  }
  &-spoilers{
    border-top: 1px solid $brandborder;
  }
  &-favorite{
    border-top: 1px solid $brandborder;
    margin-bottom: 80px;
  }
  &-spoiler{
    &__active{
      .deskfilter-spoiler-content{
        position: relative;
        height: auto;
        overflow: auto;
        visibility: visible;
        border-bottom: 1px solid $brandborder;
      }
      .deskfilter-spoiler-title::after{
        transform: rotate(135deg);
      }
      .deskfilter-spoiler-title{
        border-bottom:0;
      }
    }
  }
  &-favorite-title{
    border-bottom: 1px solid #E0E0E0;
    padding: 13px 0;
    padding-right: 12px;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: #000000;
    position: relative;
  }
  &-spoiler-title{
    border-bottom: 1px solid $brandborder;
    padding: 13px 0;
    padding-right: 12px;
    font: 15px/24px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $greyText;
    position: relative;
    cursor: pointer;
    &:after{
      content: '';
      width: 8px;
      height: 8px;
      border-left: $arrow 2px solid;
      border-bottom: $arrow 2px solid;
      position: absolute;
      right: 12px;
      top: 20px;
      transform: rotate(-45deg);
      transition: transform .3s;
    }
  }
  &-spoiler-content{
    padding: 16px 20px;
    padding-top: 5px;
    position: absolute;
    height:0;
    overflow: hidden;
    visibility: hidden;
    transition: height .3s;
  }
  &-spoiler-item{
    list-style: none;
  }
  &-link{
    font: 12px/30px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $greyText;
    border-bottom: none;
    transition: color .3s;
    &:hover{
      color: $border;
    }
    &__active{
      color: $border;
    }
  }
  &-brands{
    margin-top: 40px;
  }
  &-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 17px;
    border-bottom: 1px solid $brandborder;
  }
  &-title{
    font: 15px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $greyText;
  }
  &-counter{
    font: 12px MuseoSansNormal, Arial, Helvetica, sans-serif;
    color: $greyText;
    span{
      margin-left: 5px;
    }
  }
  &-reset{
    color: $greyText;
    font: 12px/1 MuseoSansNormal, Arial, Helvetica, sans-serif;
  }
  &-scroll-container{
    max-height: 620px;
    overflow: hidden;
    margin-top:20px;
  }
  &-scroll-list{
    list-style: none;
  }
  &-scroll-item {
    margin: 20px 0;
    font: 12px MuseoSansNormal, Arial, Helvetica, sans-serif;
    position: relative;
  }
  &-scroll-label{
    cursor: pointer;
    display: inline-block;
    color: $greyText;
    transition: color .3s;
  }
  &-scroll-checkbox{
    position: absolute;
    visibility: hidden;
    &:checked{
      &+label{
        color: $selection;
        &:after{
          content: "";
          width: 7px;
          height: 15px;
          position: absolute;
          right: 5px;
          bottom: 3px;
          border-right: 2px solid $selection;
          border-bottom: 2px solid $selection;
          transform: rotate(38deg);
        }
      }
    }
  }
  &__active{
    transform: translateX(0);
  }
  &-name{
    font: 20px/30px PlayfairDisplayItalic , Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    position: relative;
    padding-bottom: 16px;
    @media(min-width:$desktop){
      display: none;
    }
  }
  &-close{
    cursor:pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top:0;
    &:after,&:before{
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      display: block;
      top: 15px;
      background: $border;
    }
    &:after{
      transform: rotate(45deg);
    }
    &:before{
      transform: rotate(-43deg);
    }
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #B4AE9E;
    width: 6px;
    border-radius: 3px;
  }
  .mCSB_scrollTools .mCSB_draggerRail{
    width: 1px;
    background: #C8C2B2;
  }
}
