.deskfilter
  .deskfilter-name
    span Фильтр
    .deskfilter-close
  .deskfilter-spoilers
    .deskfilter-spoiler
      .deskfilter-spoiler-title
        a(href="card.html") Одноразовая продукция
        span.deskfilter-opener
      ul.deskfilter-spoiler-content
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Зубные пасты
          ul.deskfilter-spoiler-inside
            li.deskfilter-spoiler-item
              a.deskfilter-link(href="#") Третий уровень
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Кремы
          ul.deskfilter-spoiler-inside
            li.deskfilter-spoiler-item
              a.deskfilter-link(href="#") Третий уровень
            li.deskfilter-spoiler-item
              a.deskfilter-link(href="#") Третий уровень
            li.deskfilter-spoiler-item
              a.deskfilter-link(href="#") Третий уровень
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лечебная косметика
          ul.deskfilter-spoiler-inside
            li.deskfilter-spoiler-item
              a.deskfilter-link(href="#") Третий уровень
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лосьоны и тоники
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Маски, патчи
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Масла и сыворотки
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Умывание
    .deskfilter-spoiler
      .deskfilter-spoiler-title
        a(href="card.html") Дезинфекция
        span.deskfilter-opener
      ul.deskfilter-spoiler-content
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Зубные пасты
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Кремы
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лечебная косметика
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лосьоны и тоники
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Маски, патчи
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Масла и сыворотки
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Умывание
    .deskfilter-spoiler
      .deskfilter-spoiler-title
        a(href="card.html") Солярий
        span.deskfilter-opener
      ul.deskfilter-spoiler-content
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Зубные пасты
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Кремы
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лечебная косметика
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лосьоны и тоники
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Маски, патчи
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Масла и сыворотки
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Умывание
    .deskfilter-spoiler
      .deskfilter-spoiler-title
        a(href="card.html") Оборудование
  .deskfilter-brands
    .deskfilter-header
      .deskfilter-title Бренды
      .deskfilter-counter Выбрано:
        span.counter 0
      a(href="#").deskfilter-reset Очистить
  .deskfilter-scroll-container
    ul.deskfilter-scroll-list
      li.deskfilter-scroll-item
        input(type="checkbox")#2211.deskfilter-scroll-checkbox
        label(for="2211").deskfilter-scroll-label 2211 Cosmetics
      li.deskfilter-scroll-item
        input(type="checkbox")#Baxter.deskfilter-scroll-checkbox
        label(for="Baxter").deskfilter-scroll-label Baxter of California
      li.deskfilter-scroll-item
        input(type="checkbox")#Beautyblender.deskfilter-scroll-checkbox
        label(for="Beautyblender").deskfilter-scroll-label Beautyblender
      li.deskfilter-scroll-item
        input(type="checkbox")#Carmex.deskfilter-scroll-checkbox
        label(for="Carmex").deskfilter-scroll-label Carmex
      li.deskfilter-scroll-item
        input(type="checkbox")#Cosmetics.deskfilter-scroll-checkbox
        label(for="Cosmetics").deskfilter-scroll-label Cosmetics 27
      li.deskfilter-scroll-item
        input(type="checkbox")#Embryolisse.deskfilter-scroll-checkbox
        label(for="Embryolisse").deskfilter-scroll-label Embryolisse
      li.deskfilter-scroll-item
        input(type="checkbox")#Evian.deskfilter-scroll-checkbox
        label(for="Evian").deskfilter-scroll-label Evian
      li.deskfilter-scroll-item
        input(type="checkbox")#Grown.deskfilter-scroll-checkbox
        label(for="Grown").deskfilter-scroll-label Grown Alchemist
      li.deskfilter-scroll-item
        input(type="checkbox")#ILIA.deskfilter-scroll-checkbox
        label(for="ILIA").deskfilter-scroll-label ILIA
      li.deskfilter-scroll-item
        input(type="checkbox")#Indola.deskfilter-scroll-checkbox
        label(for="Indola").deskfilter-scroll-label Indola
      li.deskfilter-scroll-item
        input(type="checkbox")#Jason.deskfilter-scroll-checkbox
        label(for="Jason").deskfilter-scroll-label Jason
      li.deskfilter-scroll-item
        input(type="checkbox")#LION.deskfilter-scroll-checkbox
        label(for="LION").deskfilter-scroll-label LION
      li.deskfilter-scroll-item
        input(type="checkbox")#Lucas.deskfilter-scroll-checkbox
        label(for="Lucas").deskfilter-scroll-label  Lucas Papaw
      li.deskfilter-scroll-item
        input(type="checkbox")#Malin.deskfilter-scroll-checkbox
        label(for="Malin").deskfilter-scroll-label Malin+Goetz
      li.deskfilter-scroll-item
        input(type="checkbox")#Mene.deskfilter-scroll-checkbox
        label(for="Mene").deskfilter-scroll-label Mene & Moy System
      li.deskfilter-scroll-item
        input(type="checkbox")#Orihiro.deskfilter-scroll-checkbox
        label(for="Orihiro").deskfilter-scroll-label Orihiro
      li.deskfilter-scroll-item
        input(type="checkbox")#Professional.deskfilter-scroll-checkbox
        label(for="Professional").deskfilter-scroll-label Professional Solutions
      li.deskfilter-scroll-item
        input(type="checkbox")#Revitalash.deskfilter-scroll-checkbox
        label(for="Revitalash").deskfilter-scroll-label Revitalash
      li.deskfilter-scroll-item
        input(type="checkbox")#S-heart-S.deskfilter-scroll-checkbox
        label(for="S-heart-S").deskfilter-scroll-label  S-heart-S
      li.deskfilter-scroll-item
        input(type="checkbox")#Somme.deskfilter-scroll-checkbox
        label(for="Somme").deskfilter-scroll-label Somme Institute
      li.deskfilter-scroll-item
        input(type="checkbox")#Tony.deskfilter-scroll-checkbox
        label(for="Tony").deskfilter-scroll-label Tony Moly
      li.deskfilter-scroll-item
        input(type="checkbox")#You.deskfilter-scroll-checkbox
        label(for="You").deskfilter-scroll-label You Need It
      li.deskfilter-scroll-item
        input(type="checkbox")#lorem.deskfilter-scroll-checkbox
        label(for="lorem").deskfilter-scroll-label lorem
      li.deskfilter-scroll-item
        input(type="checkbox")#Ipsum.deskfilter-scroll-checkbox
        label(for="Ipsum").deskfilter-scroll-label Ipsum
