.deskfilter
  .deskfilter-spoilers
    .deskfilter-spoiler
      .deskfilter-spoiler-title Одноразовая продукция
      ul.deskfilter-spoiler-content
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Зубные пасты
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Кремы
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лечебная косметика
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лосьоны и тоники
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Маски, патчи
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Масла и сыворотки
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Умывание
    .deskfilter-spoiler
      .deskfilter-spoiler-title Дезинфекция
      ul.deskfilter-spoiler-content
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Зубные пасты
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Кремы
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лечебная косметика
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лосьоны и тоники
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Маски, патчи
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Масла и сыворотки
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Умывание
    .deskfilter-spoiler
      .deskfilter-spoiler-title Солярий
      ul.deskfilter-spoiler-content
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Зубные пасты
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Кремы
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лечебная косметика
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лосьоны и тоники
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Маски, патчи
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Масла и сыворотки
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Умывание
    .deskfilter-spoiler
      .deskfilter-spoiler-title Оборудование
      ul.deskfilter-spoiler-content
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Зубные пасты
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Кремы
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лечебная косметика
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Лосьоны и тоники
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Маски, патчи
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Масла и сыворотки
        li.deskfilter-spoiler-item
          a.deskfilter-link(href="#") Умывание
  .deskfilter-brands
    .deskfilter-header
      .deskfilter-title Бренды
      .deskfilter-counter Выбрано:
        span.counter 23
      a(href="#").deskfilter-reset Очистить
  .deskfilter-scroll-container
    ul.deskfilter-scroll-list
      li.deskfilter-scroll-item
        label(for="2211").deskfilter-scroll-label 2211 Cosmetics
          checkbox#2211.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Baxter").deskfilter-scroll-label Baxter of California
          checkbox#Baxter.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Beautyblender").deskfilter-scroll-label Beautyblender
          checkbox#Beautyblender.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Carmex").deskfilter-scroll-label Carmex
          checkbox#Carmex.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Cosmetics").deskfilter-scroll-label Cosmetics 27
          checkbox#Cosmetics.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Embryolisse").deskfilter-scroll-label Embryolisse
          checkbox#Embryolisse.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Evian").deskfilter-scroll-label Evian
          checkbox#Evian.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Grown").deskfilter-scroll-label Grown Alchemist
          checkbox#Grown.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="ILIA").deskfilter-scroll-label ILIA
          checkbox#ILIA.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Indola").deskfilter-scroll-label Indola
          checkbox#Indola.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Jason").deskfilter-scroll-label Jason
          checkbox#Jason.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="LION").deskfilter-scroll-label LION
          checkbox#LION.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Lucas").deskfilter-scroll-label  Lucas Papaw
          checkbox#Lucas.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Malin").deskfilter-scroll-label Malin+Goetz
          checkbox#Malin.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Mene").deskfilter-scroll-label Mene & Moy System
          checkbox#Mene.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Orihiro").deskfilter-scroll-label Orihiro
          checkbox#Orihiro.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Professional").deskfilter-scroll-label Professional Solutions
          checkbox#Professional.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Revitalash").deskfilter-scroll-label Revitalash
          checkbox#Revitalash.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="S-heart-S").deskfilter-scroll-label  S-heart-S
          checkbox#S-heart-S.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Somme").deskfilter-scroll-label Somme Institute
          checkbox#Somme.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Tony").deskfilter-scroll-label Tony Moly
          checkbox#Tony.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="You").deskfilter-scroll-label You Need It
          checkbox#You.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="lorem").deskfilter-scroll-label lorem
          checkbox#lorem.deskfilter-scroll-checkbox
      li.deskfilter-scroll-item
        label(for="Ipsum").deskfilter-scroll-label Ipsum
          checkbox#Ipsum.deskfilter-scroll-checkbox
