extends _layouts/default
include components/maintop/maintopmenu/maintopmenu
include components/mainmidle/bestseller/bestseller
block title
  title Бонусы
block header
  include  _layouts/header/header
block content
  main.main-wrap
    +maintopmenu()
    include components/breadcrumbs/breadcrumbs
    section.delivery
      .container
        .white-block
          h1 Личный кабинет
          include components/innermenu/innermenu
          include components/bonuses/bonuses
          include components/mainmidle/maingoods/maingoods
          +bestseller("Бестсселлеры")(class="bestseller__main")
block footer
  include  _layouts/footer/footer
  .body-dark
  include  components/filterpanel/filterpanel
  include  components/innermobilemenu/innermobilemenu