extends _layouts/default
include components/maintop/maintopmenu/maintopmenu
block title
  title корзина
block header
  include  _layouts/header/header
block content
  main.main-wrap
    +maintopmenu()
    include components/breadcrumbs/breadcrumbs
    section.catalog
      .container
        h1 ваша корзина (5)
      .cartgoods-wrap
        include components/cartgoods/cartgoods
        include components/freedelivery/freedelivery
        .cartgoods-action
          .cartgoods-action-title Акции
          input(type="checkbox").cartgoods-action-checkbox
          .cartgoods-action-title Упаковать в подарочную упаковку БЕСПЛАТНО
          input(type="text").cartgoods-promo
        .cartgoods-order
          .cartgoods-order-summ Итого
            span 15 352 руб
          button.cartgoods-order-button Оформить заказ

block footer
  include  _layouts/footer/footer
  .body-dark
  include  components/filterpanel/filterpanel
