extends _layouts/default
include components/maintop/maintopmenu/maintopmenu
block title
  title ПРО LETO
block header
  include  _layouts/header/header
block content
  main.main-wrap
    +maintopmenu()
    include components/breadcrumbs/breadcrumbs
    section.proleto
      .container
        .white-block
          h1 ПРО LETO
          include components/innermenu/innermenu
          include components/company/company
block footer
  include  _layouts/footer/footer
  .body-dark
  include  components/innermobilemenu/innermobilemenu
