.container__popup
    .fastshow
        .card-col__30
            include components/emptycard/emptycard
        .card-col__70
            include components/cardcontent/cardcontent
        .card-col__100
            a.fastshow-link(href="card.html") Больше информации о товаре 
                span.fastshow-circl