extends _layouts/default

block title
  title Интернет магазин товаров для красоты Лето Проф
block header
  include  _layouts/header/header
block content
  main.main-wrap
    include _layouts/maintop/maintop
    include _layouts/mainmidle/mainmidle
    include _layouts/mainbottom/mainbottom
block footer
  include  _layouts/footer
