extends _layouts/default
include components/maintop/maintopmenu/maintopmenu
include components/cartaction/cartaction
block title
  title оформить заказ
block header
  include  _layouts/header/header
block content
  main.main-wrap
    +maintopmenu()
    include components/breadcrumbs/breadcrumbs
    section.order
      .container
        .white-block
          h1 оформить заказ
          include components/auth/auth
          .order-flex
            .order-col__right          
              include components/deliveryfree/deliveryfree
              include components/ordersum/ordersum
              +cartaction()
              include components/checkbox/checkbox
            .order-col__left
              include components/orderform/orderform
block footer
  include  _layouts/footer/footer
  .body-dark
  include  components/filterpanel/filterpanel
