.orderitem
    .orderitem-top
        .orderitem-title Заказ № 774747
        .orderitem-status Статус: Завершен
    .orderitem-block
        .orderitem-name Спрей с кератином для сильно поврежденных волос Biolage 
        .orderitem-brand Darigue
        .orderitem-quantity 
            span 1 шт
            span 1 200 руб
    .orderitem-block
        .orderitem-name Спрей с кератином для сильно поврежденных волос Biolage 
        .orderitem-brand Darigue
        .orderitem-quantity 
            span 1 шт
            span 1 200 руб
    .orderitem-block
        .orderitem-flex
            .orderitem-info
                .orderitem-text Сумма
                .orderitem-text__big 23 000 руб 
            .orderitem-info
                .orderitem-text Начисленно бонусов
                .orderitem-text__big 45
    .orderitem-block
        .orderitem-flex
            .orderitem-text Самовывоз
            .orderitem-status Статус: Получен
        .orderitem-info
            .orderitem-text трек-номер 
                span 5648292101044619ё2 
            .orderitem-gray ул. Ленина д. 657
        .orderitem-flex 
            .orderitem-text Оплата онлайн 
            .orderitem-status Статус: Получен
        .orderitem-gray Терминал Яндекс.кассы 
    .orderitem-block
        .orderitem-text Акции
        .orderitem-gray  Запоковать в подарочную упаковку 
        .orderitem-gray БЕСПЛАТНО
        .orderitem-gray Промокод LETO2018
