extends _layouts/default
include components/maintop/maintopmenu/maintopmenu
include components/mainmidle/bestseller/bestseller
block title
  title Доставка
block header
  include  _layouts/header/header
block content
  main.main-wrap
    +maintopmenu()
    include components/breadcrumbs/breadcrumbs
    section.delivery
      .container
        h1 Личный кабинет
        include components/innermenu/innermenu
        include components/personal/personal
        include components/mainmidle/maingoods/maingoods
        +bestseller("Вам может понравиться")(class="bestseller__main")
block footer
  include  _layouts/footer/footer
  .body-dark
  include  components/filterpanel/filterpanel
  include  components/innermobilemenu/innermobilemenu