extends _layouts/default
include components/maintop/maintopmenu/maintopmenu
block title
  title салонам красоты
block header
  include  _layouts/header/header
block content
  main.main-wrap
    +maintopmenu()
    include components/breadcrumbs/breadcrumbs
    section.catalog
      .container
        h1 салонам красоты
        .row
          .left-column
            include components/filter/filter
            include components/filter_desktop/filter_desktop
          .right-column
            include components/sort/sort
            include _layouts/products/products
            include components/pagination/pagination
            include components/seoText/seoText
block footer
  include  _layouts/footer/footer
  .body-dark
