extends _layouts/default

block title
  title салонам красоты
block header
  include  _layouts/header/header
block content
  main.main-wrap
   include components/innertop/innertopmenu/innertopmenu
block footer
  include  _layouts/footer/footer
