.letoicons
    .letoicons-item
        svg.letoicons-svg(role="img")(width="80")(height="60"): use(xlink:href="#delivery")
        .letoicons-description Доставка по всей России
    .letoicons-item
        svg.letoicons-svg(role="img")(width="58")(height="60"): use(xlink:href="#price-tag")
        .letoicons-description Доступные цены
    .letoicons-item
        svg.letoicons-svg(role="img")(width="53")(height="60"): use(xlink:href="#bags")
        .letoicons-description Услуга товар на выбор
    .letoicons-item
        svg.letoicons-svg(role="img")(width="64")(height="64"): use(xlink:href="#sertificate")
        .letoicons-description Только сертифицированная продукция
    .letoicons-item
        svg.letoicons-svg(role="img")(width="54")(height="57"): use(xlink:href="#packets")
        .letoicons-description Выбирай для бизнеса, выбирай для себя
    .letoicons-item
        svg.letoicons-svg(role="img")(width="61")(height="61"): use(xlink:href="#thumb")
        .letoicons-description Качественный сервис