.pay-container
    .pay-shadow
        .pay-title
            h2 Способы оплаты
        .pay-item
            .pay-method Наличный расчет
            .pay-info
                p Наличный расчет
        .pay-item   
            .pay-method Банковская карта
            .pay-info 
                p Вы можете оплатить ваш заказ через системы электронных платежей:
                .pay-picks
                    img(src="/assets/pay.png")
                    img(src="/assets/pay1.png")
                    img(src="/assets/pay2.png")
                    img(src="/assets/pay3.png")
        .pay-item 
            .pay-method Электронный платеж
            .pay-info
                p Электронный платеж
        .pay-item
            .pay-method Безналичный платеж
            .pay-info 
                p Вы можете оплатить ваш заказ через системы электронных платежей:

            